<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/configs/config :: ConfigFragment">
</head>
<script>
</script>
<body>
	<section class="tab-components">
		<div class="container-fluid" style="padding-bottom: 100px;">
			<div class="title-wrapper pt-30" style="max-width: 720px; margin: 0 auto; text-align: center;">
				<div class="">
					<img src="/images/yedam_logo.png" style="width: 300px; margin: -40px;">
					<div class="title">
						<h2>회원 아이디 찾기</h2>
					</div>
				</div>
				<div class="add-line"><p>아이디 찾기에 필요한 정보들을 입력해주세요.</p></div>
				<div class="alert alert-danger" role="alert"
	                 th:if="${wrongInput}">
	                <span th:text="${wrongInput}"></span>
	                <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
	            </div>
			</div>
			<form id="find_id_form" action="/showId" class="form-elements-wrapper" style="max-width: 720px; margin: 0 auto;" method="post">
				<div class="row">
					<div class="col-12">
						<!-- input style start -->
						<div class="card-style mb-30">
							<div class="input-style-1">
								<label>이름</label> 
								<input id="nameInput" name="name" type="text" placeholder="이름을 입력하세요.">
							</div>
							<div class="input-style-1" style="position: relative">
								<label>이메일</label> 
								<input id="emailInput" name="email" type="text" placeholder="이메일을 입력하세요.">
							</div>
						</div>
						<p>회원이 아니신가요? <a href="/all/register">회원가입하기</a></p>
						<p><a href="/findPw">비밀번호 찾기</a></p>
						<div class="d-flex" style="margin-top: 10px; justify-content: center;">
							<button type="submit" class="login_btn main-btn primary-btn btn-hover" style="padding: 8px 15px; margin-right: 10px;">아이디 찾기</button>
							<button type="button" class="main-btn light-btn btn-hover" style="padding: 8px 30px; margin-right: 10px;">뒤로가기</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>