<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Home">
	<style>
		.col-no {
	        width: 50px; /* No 열의 너비 */
	    }
	    .col-title {
	        width: 500px; /* 제목, 댓글내용 열의 너비 */
	    }
	    .col-board {
	        width: 150px; /* 게시판 열의 너비 */
	    }
	    .col-date {
	        width: 100px; /* 작성일자 열의 너비 */
	    }
		.ellipsis {
			display: inline-block;
	        white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
	        max-width: 100%;
	        vertical-align: top !important;
	    }
	</style>
	<script>
		function showProfileForm() {
			document.querySelector('.mypage_manage_container').style.display = 'none';
			document.querySelector('.mypage_profile_container').style.display = 'block';
			setActiveMenuItem('.mypage_profile_menu');
		}
		
		function showManageForm() {
			document.querySelector('.mypage_manage_container').style.display = 'block';
			document.querySelector('.mypage_profile_container').style.display = 'none';
			setActiveMenuItem('.mypage_manage_menu');
		}
		
		function setActiveMenuItem(selector) {
            document.querySelectorAll('.mypage_menu_item').forEach(item => {
                item.classList.remove('form_active');
            });
            document.querySelector(selector).classList.add('form_active');
        }
		
		function showBoardForm() {
			document.querySelector('.mypage_exam_homework').style.display = 'none';
			document.querySelector('.mypage_my_board').style.display = 'block';
			setActiveMenuItem2('.manage_board_menu');
		}
		
		function showExamHomeworkForm() {
			document.querySelector('.mypage_exam_homework').style.display = 'block';
			document.querySelector('.mypage_my_board').style.display = 'none';
			setActiveMenuItem2('.manage_exam_homework_menu');
		}
		
		function setActiveMenuItem2(selector) {
			document.querySelectorAll('.manage_menu_item').forEach(item => {
				item.classList.remove('menu_active');
			});
			document.querySelector(selector).classList.add('menu_active');
		}
		
		document.addEventListener('DOMContentLoaded', () => {
		    showProfileForm();
			showBoardForm();
		});
		
		function quitRequest() {
			var userId = $('#userIdInfo').val();
			console.log(userId)
			if(confirm("정말로 회원탈퇴를 하시겠습니까?")) {
				$.ajax({
					url: '/quitUser?userId=' + userId,
					method: 'GET',
					success: function() {
						alert("탈퇴가 완료되었습니다! 감사합니다.");
						location.href = '/errorPages/quit';
					},
					error: function() {
						console.log('error');
					}
				})
			}
		}
	</script>
	
	<div id="mypage_container">
		<aside class="mypage_menu">
			<nav>
				<div style="color: black; font-weight: bold; font-size: 15pt; margin-bottom: 30px;">내 계정</div>
				<div>
					<a class="mypage_profile_menu mypage_menu_item" href="#" onclick="showProfileForm()">
						<svg style="width: 40px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 dark:text-gray-400 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
						</svg>
						<p style="font-weight: bold;">프로필</p>
					</a>
					<a class="mypage_manage_menu mypage_menu_item" href="#" onclick="showManageForm()">
						<svg style="width: 40px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class=" text-gray-400 dark:text-gray-600 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200">
							<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z"></path>
						</svg>
						<p style="font-weight: bold;">서비스 관리</p>
					</a>
				</div>
			</nav>			
		</aside>
		<div class="mypage_wrapper">
			<div class="mypage_profile_container">
				<h2 class="mb-4">회원정보</h2>
				
				<form id="updateUser" action="/updateUserInfo" method="post" enctype="multipart/form-data">
				    <input type="hidden" name="logid" id="userIdInfo" th:value="${#authentication.principal.getuserId}">
				    <input type="hidden" name="id" id="idInfo" th:value="${#authentication.principal.userId}">
				    <div class="mypage_info">
				        <a class="profile_change_btn" onclick="document.getElementById('change_image').click();">
				            <input id="change_image" name="uploadFiles" type="file" style="display:none;" onchange="displayUploadedImg(this);">
				            <p class="change_image_text">변경</p>
				            <img class="mypage_profile_image" th:src="@{'/files' + ${#authentication.principal.profileImageLocation}}">
				        </a>
				        <div class="input-style-1">
				            <label>이름</label> 
				            <input id="username" name="username" type="text" th:value="${#authentication.name}">
				        </div>
				        <div class="input-style-1">
				            <label>비밀번호</label> 
				            <input id="userpassword" name="userpassword" type="password" placeholder="비밀번호">
				        </div>
				        <div class="input-style-1">
				            <label>비밀번호 확인</label> 
				            <input id="userpassword_confirm" name="userpassword_confirm" type="password" placeholder="비밀번호">
				        </div>
				        <div class="input-style-1">
				            <label>이메일</label> 
				            <input id="useremail" name="useremail" type="text" th:value="${#authentication.principal.userEmail}">
				        </div>
				        <div class="input-style-1">
				            <label>연락처</label> 
				            <input id="usertel" name="usertel" type="text" th:value="${#authentication.principal.userTel}">
				        </div>
				        <button type="submit" class="main-btn dark-btn btn-hover" style="padding: 6px 25px;">저장</button>
				        <button type="button" onclick="quitRequest()" class="main-btn danger-btn btn-hover" style="padding: 6px 12px;">회원탈퇴</button>
				    </div>
				</form>
			</div>
			
			<div class="mypage_manage_container">
				<div class="">
					<nav style="display: flex; justify-content: center;">
						<a class="manage_board_menu manage_menu_item" href="#" onclick="showBoardForm()">
							<p class="manage_menu_title">내가 쓴 글</p>
							<p>작성한 게시글과 댓글을 확인하세요.</p>
						</a>
						<th:block sec:authorize="hasAuthority('ROLE_LEARN')">
							<a class="manage_exam_homework_menu manage_menu_item" href="#" onclick="showExamHomeworkForm()">
								<p class="manage_menu_title">내 시험 / 과제</p>
								<p>시험과 과제를 확인하세요.</p>
							</a>
						</th:block>
					</nav>
				</div>
				
				<div class="mypage_manage_board">
					
					<div class="mypage_my_board mt-4">
						
						<div class="mypage_my_post mb-4 pt-4" style="position: relative;">
							<div class="table-top-content" style="width: 300px; margin-left: 10px; margin-bottom: 0; height: 40px; padding: 10px 16px;">
								<h4 style="color: white">내 게시글</h4>
						    </div>
							<a href="#" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03 view_all" style="position: absolute; top: 48px; right: 20px;">
								더 보기
								<i class="fs-12 m-l-5 fa fa-caret-right"></i>
							</a>
							<table class="table mt-2" style="padding: 5px 10px;">
								<thead>
									<tr>
										<th class="col-no">
							                <h6>No</h6>
							            </th>
							            <th class="col-title">
							                <h6>제목</h6>
							            </th>
							            <th class="col-board">
							                <h6>게시판</h6>
							            </th>
							            <th class="col-date">
							                <h6>작성일자</h6>
							            </th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="myPost, idx : ${myPost}">
										<tr class="postListRow" th:onclick="|window.open('@{/all/post/{boardId}/{postId}(boardId=${myPost.boardId}, postId=${myPost.postId})}', '_blank')|">
											<td class="col-no replyTableData"><p>[[${idx.index + 1}]]</p></td>
											<td class="col-title replyTableData ellipsis">[[${myPost.title}]]</td>
											<td class="col-board replyTableData" th:switch="${myPost.boardId}">
												<div th:case="1">수료 과정별 게시판</div>
												<div th:case="2">구인/구직 게시판</div>
												<div th:case="3">정보 게시판</p></div>
												<div th:case="4">질문과 토론 게시판</p></div>
											</td>
											<td class="replyTableData"><p>[[${#dates.format(myPost.createDate, 'yy.MM.dd HH:mm:ss')}]]</p></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
						
						<div class="mypage_my_comment mt-4" style="position: relative; border-top: 1px solid rgb(192, 192, 192, 0.5); padding-top: 30px;">
							<div class="table-top-content" style="width: 300px; margin-left: 10px; margin-bottom: 0; height: 40px; padding: 10px 16px;">
								<h4 style="color: white">내 댓글</h4>
						    </div>
							<a href="#" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03 view_all" style="position: absolute; top: 55px; right: 20px;">
								더 보기
								<i class="fs-12 m-l-5 fa fa-caret-right"></i>
							</a>
							<table class="table mt-2" style="padding: 5px 10px;">
								<thead>
									<tr>
										<th class="col-no">
							                <h6>No</h6>
							            </th>
							            <th class="col-title">
							                <h6>댓글 내용</h6>
							            </th>
							            <th class="col-board">
							                <h6>게시판</h6>
							            </th>
							            <th class="col-date">
							                <h6>작성일자</h6>
							            </th>
									</tr>
								</thead>
								<tbody>
									<th:block th:each="myReply, idx : ${myReply}">
										 <tr class="postListRow" th:onclick="|window.open('@{/all/post/{boardId}/{postId}(boardId=${myReply.boardId}, postId=${myReply.postId})}', '_blank')|">
											<td class="col-no replyTableData"><p>[[${idx.index + 1}]]</p></td>
											<td class="col-title replyTableData ellipsis">[[${myReply.addContent}]]</td>
											<td class="col-board replyTableData" th:switch="${myReply.boardId}">
												<div th:case="1">수료 과정별 게시판</div>
												<div th:case="2">구인/구직 게시판</div>
												<div th:case="3">정보 게시판</p></div>
												<div th:case="4">질문과 토론 게시판</p></div>
											</td>
											<td class="col-date replyTableData"><p>[[${#dates.format(myReply.addDate, 'yy.MM.dd HH:mm:ss')}]]</p></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="mypage_exam_homework mt-4 pt-4">
						
						<div class="mypage_exam_list">
							<div class="table-top-content" style="width: 300px; margin-left: 10px; margin-bottom: 0; height: 40px; padding: 10px 16px;">
								<h4 style="color: white">최근 시험 정보</h4>
						    </div>
							<a href="/all/testList2?page=1" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03 view_all" style="position: absolute; top: 48px; right: 20px;" target="_blank">
								더 보기
								<i class="fs-12 m-l-5 fa fa-caret-right"></i>
							</a>
							
							<table class="table mt-3" style="padding: 0 10px;">
								<thead>
									<tr>
										<th class="col-no">
							                <h6>No</h6>
							            </th>
										<th class="col-title">
											<h6>시험명</h6>
										</th>
										<th class="col-board">
											<h6>응시기한</h6>
										</th>
										<th class="col-board">
											<h6>응시여부</h6>
										</th>
										<th class="col-board">
											<h6>피드백여부</h6>
										</th>
									</tr>
								</thead>
								<tbody>
								<th:block th:each="test, idx : ${recentTest}">
									<tr>
										<td class="col-no replyTableData"><p>[[${idx.index + 1}]]</p></td>
										<td class="col-title replyTableData ellipsis">[[${test.testName}]]</td>
										<td><p>[[${#dates.format(test.testDate, 'yy.MM.dd')}]]</p></td>
										<th:block th:if="${#strings.isEmpty(test.resultId)}">
											<td>응시하기</td>
											<td></td>
										</th:block>
										<th:block th:if="${not #strings.isEmpty(test.resultId) && test.resultScore >= test.passScore}">
											<td>응시완료</td>
											<th:block>					
												<td th:if="${not #strings.isEmpty(test.feedback)}">피드백완료</td>
												<td th:unless="${not #strings.isEmpty(test.feedback)}">피드백대기</td>
											</th:block>
										</th:block>
										<th:block th:if="${not #strings.isEmpty(test.resultId) && test.resultScore < test.passScore}">
											<td>재시험</td>
											<th:block>
												<td th:if="${not #strings.isEmpty(test.feedback)}">피드백완료</td>
												<td th:unless="${not #strings.isEmpty(test.feedback)}">피드백대기</td>
											</th:block>
										</th:block>
									</tr>
								</th:block>
								</tbody>
							</table>
							
							
							<!-- <a href="#" class="mypage_exam_item">
								<div>
									<p>PL/SQL</p>
									<p>점수: 80/100</p>
									<p>재시험: X</p>
									<p>응시날짜: 24.04.25</p>
								</div>
							</a>
							<a href="#" class="mypage_exam_item">
								<div>
									<p>PL/SQL</p>
									<p>점수: 80/100</p>
									<p>재시험: X</p>
									<p>응시날짜: 24.04.25</p>
								</div>
							</a>
							<a href="#" class="mypage_exam_item">
								<div>
									<p>PL/SQL</p>
									<p>점수: 80/100</p>
									<p>재시험: X</p>
									<p>응시날짜: 24.04.25</p>
								</div>
							</a> -->
						</div>
						
						<div class="mypage_homework_list mt-4" style="position: relative; border-top: 1px solid rgb(192, 192, 192, 0.5); padding-top: 30px;">
							<div class="table-top-content" style="width: 300px; margin-left: 10px; margin-bottom: 0; height: 40px; padding: 10px 16px;">
								<h4 style="color: white">과제 정보</h4>
						    </div>
							<a href="/all/homework_S" class="tab01-link f1-s-1 cl9 hov-cl10 trans-03 view_all" style="position: absolute; top: 48px; right: 20px;" target="_blank">
								더 보기
								<i class="fs-12 m-l-5 fa fa-caret-right"></i>
							</a>
							<div class="mypage_homework_table mt-2">
								<table class="table" style="padding: 5px 10px;">
									<thead>
										<tr>
											<th class="col-no">
												<h6>No</h6>
											</th>
											<th class="col-title">
												<h6>과제 이름</h6>
											</th>
											<th class="col-board">
												<h6>과목</h6>
											</th>
											<th class="col-board">
												<h6>제출 기한</h6>
											</th>
										</tr>
									</thead>
									<tbody>
									<th:block th:each="homework, idx : ${recentHomework}">
										<tr class="postListRow" th:onclick="|window.open('@{/all/homeworkInfo?homeworkId={homeworkId}(homeworkId=${homework.homeworkId})}', '_blank')|">
										<!-- <tr onclick="location.href='/all/homeworkInfo?homeworkId=${homework.homeworkId}'"> -->
											<td class="col-no replyTableData"><p>[[${idx.index + 1}]]</p></td>
											<td class="col-title replyTableData ellipsis">[[${homework.homeworkTitle}]]</td>
											<td class="col-board replyTableData">[[${homework.subjectName}]]</td>
											<td class="col-board replyTableData"><p>[[${#dates.format(homework.homeworkDate, 'yy.MM.dd')}]]</p></td>
										</tr>
									</th:block>
										<!-- <tr>
											<td class="col-no replyTableData"><p>1</p></td>
											<td class="col-title replyTableData ellipsis">과제 샘플</td>
											<td class="col-board replyTableData">JAVA</td>
											<td class="col-board replyTableData"><p>24.06.04</p></td>
											<td class="col-board replyTableData">피드백대기</td>
										</tr> -->
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function displayUploadedImg(input) {
			document.getElementById('change_image').click();
			
	        if (input.files && input.files[0]) {
	            var reader = new FileReader();

	            reader.onload = function(e) {
	                // 이미지 미리보기를 위해 업로드한 이미지 URL을 가져와서 img 출력
	                document.querySelector('.mypage_profile_image').src = e.target.result;
	            }

	            reader.readAsDataURL(input.files[0]);
	        }
	    }
		
		$('#updateUser').submit(function(event) {
			event.preventDefault();
	        let formData = new FormData(document.getElementById('updateUser'));

	        if (confirm("정보를 수정하시겠습니까?")) {
	            $.ajax({
	                url: '/updateUserInfo',
	                type: 'POST',
	                data: formData,
					processData: false,
					contentType: false,
	                success: function(response) {
	                    alert('정보가 성공적으로 업데이트되었습니다.');
						window.location.href = '/all/home';
	                },
	                error: function(xhr, status, error) {
	                    console.error(error);
	                    alert('정보 업데이트 중 오류가 발생했습니다. 다시 시도해주세요.');
	                }
	            });
	        }
	    });
	</script>
</html>