<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>title</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<form th:action="@{/formUpload}" method="post" enctype="multipart/form-data">
		<input type="file" name="images">
		<button type="submit">전송</button>
	</form>
	<hr>
	<div>
		<input name="uploadFiles" type="file" multiple>
		<button class="uploadBtn">Upload</button>
	</div>
	<script>
		document.querySelector('.uploadBtn').addEventListener('click', function(e) {
			let formData = new FormData(); // jQuery.serialize() 또는 jQuery.serializeArray() 랑 유사
			/* 
			1. Form 태그 내부의 데이터를 한 번에 담음
			2. aJax 이용해서 'Content-Type: multipart/form-data'를 보내야 하는 경우
			*/
			let fileInput = document.querySelector('input[name="uploadFiles"]');
			let fileList = fileInput.files;
			
			for (let file of fileList) {
				formData.append('uploadFiles', file);
			}
			// console.log(formData);
			
			/* fetch('uploadsAjax', {
				method: 'POST',
				body: formData,
			})
				.then(res => res.json())
				.then(result => {
					console.log(result);
				})
				.catch(err => console.log(err)); */
			$.ajax({
	            url: 'uploadsAjax',	
	            type: 'POST',
	            processData: false,	
	            //기본값은 true, ajax 통신을 통해 데이터를 전송할 때, 기본적으로 key와 value값을 Query String으로 변환해서 보냅니다.
	            contentType: false,	
	            // multipart/form-data타입을 사용하기위해 false 로 지정합니다.
	            data: formData,               
	            /* success: function(result){
	                for(let image of result){
	             	   let imgTag = $('<img/>').prop('src', 'images/'+ image)
	             	   						   .css('width', '50%');
	             	   $('div').append(imgTag);
	                }
	            },
	            error: function(reject){	
	                console.log(reject);
	            } */
	        })
	        	.done(function(result) {
	        		for(let image of result){
	             	   let imgTag = $('<img/>').prop('src', 'images/'+ image)
	             	   						   .css('width', '50%');
	             	   $('div').append(imgTag);
	                }
	        	})
	        	.fail(function(reject) {
	        		console.log(reject);
	        	});
		});
	</script>
</body>
</html>