<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Home">
      
<style>
.center {
  text-align: center;
  width: 60%;
  margin: auto;
}
.postPaging {
  display: inline-block;
}

.postPaging a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  /*border: 1px solid #ddd;*/
  /*margin: 0 4px;*/
}

.postPaging a.active {
  background-color: #219653;
  color: white;
  border: 1px solid #219653;
}

.postPaging a:hover:not(.active) {
	background-color: #ddd;
}
.gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
    .gallery img {
      width: 100%;
      height: auto;
    }
    .gallery .wide {
      grid-column: span 2;
    }

</style>
      
<head>
  <title>게시글 목록</title>
</head>

<body>
<th:block th:each="post : ${postList}">
	<input class="postId" type="hidden" th:value="${post.postId}">
</th:block>
<div id="post_container">
	<div class="col-lg-12" id="allClass" style="margin-top: 20px;">
		<!-- 게시판 선택 버튼 -->
		<div class="card-style mb-30" >
			<ul class="buttons-group">
				<li><button onclick="filterCurriculum(1, 0)" style="padding: 10px 30px;" value="0" class="main-btn success-btn-outline btn-hover active" type="button">전체</button></li>
					
				<li th:each="curriculums : ${curriculum}">
					<button type="button" style="padding: 10px 30px;"
							class="main-btn success-btn-outline btn-hover classNum curriculum chooseCurriculum"
							th:value="${curriculums.curriculumId}">[[${curriculums.curriculumName}]]</button>
				</li>
			</ul>
		</div>
		<!-- end card -->
	</div>
		<!-- 게시글 검색 -->
		<div class="input-style-1" style="top: -20px; right: -10px; margin:0px;">
			<input name="id" id="searchPost" type="text" placeholder="게시글 검색" style="padding: 10px; width: 250px; ">
			<!-- <img style="top: 12px; right: 10px; width: 20px; opacity: 0.5;" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"> -->
		</div>
	 	<!-- 게시글 검색 end -->
		<div>
			<input id="boardId" type="hidden"  th:value="${boardId}" >
	    	<a th:href="@{/all/postInsert/{boardId}(boardId=${boardId})}" id="writePostBtn" class="main-btn light-btn-outline btn-hover addPostBtn">글쓰기</a>
	 	</div>
	 
	<div id="postList">
		<table class="table">
		    <thead>
		      <tr>
		        <th class="postTableHeader">게시글 번호</th>
		        <th class="postTableHeader">제목</th>
		        <th class="postTableHeader">작성자</th>
		        <th class="postTableHeader">작성시간</th>
		        <th class="postTableHeader">조회수</th>
		        <th class="postTableHeader">추천수</th>
		      </tr>
		    </thead>
		    <tbody id="tbody"></tbody>
		  </table>
		  <div class="center">
		  	<div class="postPaging"></div>
		  </div>
	</div>
	<h1>갤러리</h1>
	<div class="gallery"></div>
</div>
<script>

//--------------------------
// 갤러리 출력
//-------------------------
function gallery(curriculumId){
	
	$.ajax({
		url:'/all/gallery',
		type:'get',
		data:{curriculumId : curriculumId},
		success:function(data){
			data.forEach(function(e){
			 let galleryList =
				 `
				 	<div onclick="location.href='/all/post/${e.boardId}/${e.postId}'">
			 			<img src="/files/${e.boardfileLocation}" alt="${e.boardfileName}">
			 		</div>
				 `
			$('.gallery').append(galleryList);
			})
		},
		error:function(err){
			alert('gallery실패')
		}
	})
}

let curriculumId = 0;
//--------------------------------------------
// DOM 요소들이 전부 로드되고 나서 아래 이벤트들 실행
//--------------------------------------------
$(document).ready(function() {
	$('.chooseCurriculum').on('click',function() {
		curriculumId = $(this).val();
		$('#gallery').empty();
		gallery(curriculumId)
		filterCurriculum(1);
	});

    $('#searchPost').off('keyup').on('keyup', function(e) {
    	filterCurriculum(1); // 검색어 입력하거나 지울 시 실시간으로 데이터 변경후 페이지 1로 고정
    });
	
    filterCurriculum(1);
    

	//----------------------
	// 과정별 버튼 클릭 active 이벤트
	//----------------------
	const buttons = document.querySelectorAll('.chooseCurriculum');

	buttons.forEach(button => {
		button.addEventListener('click', function () {
			// 모든 버튼에서 active 클래스 제거
			buttons.forEach(btn => btn.classList.remove('active'));
			
			// 클릭한 버튼에 active 클래스 추가
			this.classList.add('active');
		});
	});

	let curriculumIds = [];
	
    $('.chooseCurriculum').each(function(){
		curriculumIds.push($(this).val());
	});
	
	curriculumIds.forEach(function(curriculumId){
		gallery(curriculumId)
	});
});

//--------------------------------------------
// 현재 과제 리스트(필터링)
//--------------------------------------------
function filterCurriculum(page, filter) {
    var filter = curriculumId;
    var searchQuery = $('#searchPost').val();
	
    $.ajax({
        url: '/all/filterPost',
        type: 'GET',
        data: {
            page: page,
            filter: filter,
            searchQuery: searchQuery
        },
        success: function(response) {
        	updatePost(response.posts);
            postPagination(response.page, page);
        },
        error: function(error) {
            console.log('Error');
        }
    });
}

//--------------------------------------------
// 필터링으로 인한 과제 리스트 변경(목록 업데이트)
//--------------------------------------------
function updatePost(posts) {
	let tbody = $('#tbody');
	tbody.empty();
	
	posts.forEach((test,idx) => {
		let postData = formatDate(test.createDate);
		
		let post =
			`
	      		<tr id="tr" onclick="location.href='/all/post/${test.boardId}/${test.postId}'">
	        		<td class="postTableData">${test.postId}</td>
			       	<td class="postTableData">${test.title}</td>
	        		<td class="postTableData">${test.writer}</td>
	        		<td class="postTableData">${postData}</td>
	        		<td class="postTableData">${test.postView}</td>
	        		<td class="postTableData">${test.postLike}</td>
	      		</tr>
	  		`
		$('#tbody').append(post);
	})
	
};


//--------------------------------------------
// 페이지네이션 함수
//--------------------------------------------
 function postPagination(pageDTO, currentPage) {
    var pagination = $('.postPaging');
    pagination.empty();

    if (pageDTO.prev) {
        pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.starPage - 1) + '">&laquo;</a>');
    }

    for (let p = pageDTO.starPage; p <= pageDTO.endPage; p++) {
        var pageLink = $('<a href="javascript:void(0)" data-page="' + p + '">' + p + '</a>');

        if (p === currentPage) {
            pageLink.addClass('active');
        }

        pageLink.on('click', function() {
        	filterCurriculum(p);
        });

        pagination.append(pageLink);
    }

    if (pageDTO.next) {
        pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.endPage + 1) + '">&raquo;</a>');
    }
} 



//----------------------
//날짜 포멧 변환 함수
//----------------------
function formatDate(date) {
	var d = new Date(date), month = '' + (d.getMonth() + 1), day = ''
			+ d.getDate(), year = d.getFullYear();

	if (month.length < 2)
		month = '0' + month;
	if (day.length < 2)
		day = '0' + day;

	return [ year, month, day ].join('-');
} 


</script>
</body>
</html>