<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Home">
      
<style>
.center {
  text-align: center;
  width: 60%;
  margin: auto;
}
.postPaging {
  display: inline-block;
}

.postPaging a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.postPaging a.active {
  background-color: #219653;
  color: white;
  border: 1px solid #219653;
}

.postPaging a:hover:not(.active) {
	background-color: #ddd;
}

.gallery {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.gallery img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid darkgray;
  padding: 10px;
  box-shadow: 1px 5px 8px 0 #00000040;
  cursor: pointer;
  transition: transform .2s;
}
.gallery img:hover {
  transform: scale(1.05);
}

.gallery .wide {
  grid-column: span 2;
}

</style>
      
<head>
  <title>게시글 목록</title>
</head>

<body>
<th:block th:each="post : ${postList}">
	<input class="postId" type="hidden" th:value="${post.postId}">
</th:block>
<div class="table-top-content" style="height: 40px; border-radius: 0px; padding: 8px 16px; text-align: center;">
    <p style="color: white">수료 과정별 게시판입니다.</p>
</div>
<div id="post_container">
	<!-- 게시판 선택 버튼 -->
	<div class="card-style mb-30" style="max-width: 1200px; margin: 60px auto; margin-top: 0;">
		<ul class="buttons-group" style="justify-content: center;">
			<li><button style="padding: 10px 30px;" id="allCurriculums" value="0" class="main-btn success-btn-outline classNum active btn-hover chooseCurriculum" type="button">전체</button></li>
				
			<li th:each="curriculums : ${curriculum}">
				<button type="button" style="padding: 10px 30px;"
						class="main-btn success-btn-outline btn-hover isActive classNum curriculum chooseCurriculum"
						th:value="${curriculums.curriculumId}">[[${curriculums.curriculumName}]]</button>
			</li>
		</ul>
	</div>
	
	<div id="postList" style="position: relative; min-height: 410px; width: 1200px; margin: 0 auto;">
		<!-- 게시글 검색 -->
		<div class="input-style-1" style="top: -30px; left: 0; position: absolute;">
			<input name="id" id="searchPost" type="text" placeholder="게시글 검색" style="padding: 10px; width: 250px; ">
			<img style="top: 12px; right: 10px; width: 20px; opacity: 0.5; position: absolute;" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
		</div>
		
		<!-- 글쓰기 -->
		<input id="boardId" class="" type="text"  th:value="${boardId}" >
    	<a th:href="@{/all/curriculumPostInsert}" id="writePostBtn" class="main-btn light-btn-outline btn-hover addPostBtn">글쓰기</a>
		<table class="table" style="border-bottom: 2px solid #e9ecef;">
		    <thead>
		      <tr>
		        <th class="col-no">No</th>
		        <th class="col-title">제목</th>
		        <th class="col-board">작성자</th>
		        <th class="col-date">작성시간</th>
		        <th class="col-no">조회수</th>
		        <th class="col-no">추천수</th>
		      </tr>
		    </thead>
		    <tbody id="tbody"></tbody>
		  </table>
		  <div class="center">
		  	<div class="postPaging"></div>
		  </div>
	</div>
	
	<div style="width: 1200px; margin: 50px auto;">
		<div class="table-top-content" style="width: 300px; margin-left: 20px; margin-bottom: 0; height: 40px; padding: 8px 16px;">
            <p style="color: white">갤러리</p>
        </div>
		<div class="gallery"></div>
	</div>
</div>
<script>

	//--------------------------
	// 갤러리 출력
	//-------------------------
	function gallery(curriculumId){
		$.ajax({
			url:'/all/gallery',
			type:'get',
			data:{curriculumId : curriculumId},
			success:function(data){
				data.forEach(function(e){
					let galleryList =
						`
						 	<div onclick="location.href='/all/post/${e.boardId}/${e.postId}'" style="text-align: center;">
					 			<img src="/files/${e.boardfileLocation}" alt="${e.boardfileName}">
					 		</div>
						`
					$('.gallery').append(galleryList);
					
				});
			},
			error:function(err){
				let noImages = 
					`
						<div class="alert alert-danger mt-4">
			                <span>이미지가 없습니다!</span>
			            </div>
					`;
				$('.gallery').append(noImages);
			}
		});
	}
	
	let curriculumId = 0;
	let curriculumIds = [];
	//--------------------------------------------
	// DOM 요소들이 전부 로드되고 나서 아래 이벤트들 실행
	//--------------------------------------------
	$(document).ready(function() {
	    $('#searchPost').off('keyup').on('keyup', function(e) {
	    	filterCurriculum(1); // 검색어 입력하거나 지울 시 실시간으로 데이터 변경후 페이지 1로 고정
	    });
		
	    filterCurriculum(1);
	    curriculumId = document.querySelector('.chooseCurriculum').value;
		
	    $('.chooseCurriculum').each(function(){
			curriculumIds.push($(this).val());
		});
	    
		curriculumIds.forEach(function(curriculumId){
			gallery(curriculumId);
		});
		
	});
	
	const allCurriculums = document.querySelector('#allCurriculums');
	
	allCurriculums.addEventListener('click', () => {
		curriculumIds.forEach(function(curriculumId){
			$('.gallery').empty();
			gallery(curriculumId);
		});
	});
	
	$('.chooseCurriculum').on('click',function() {
		curriculumId = $(this).val();
		$('.gallery').empty();
		gallery(curriculumId);
		filterCurriculum(1);
	});
	
	//----------------------
	// 과정별 버튼 클릭 active 이벤트
	//----------------------
	const buttons = document.querySelectorAll('.classNum');
	
	buttons.forEach(button => {
		button.addEventListener('click', function () {
			// 모든 버튼에서 active 클래스 제거
			buttons.forEach(btn => btn.classList.remove('active'));
			
			// 클릭한 버튼에 active 클래스 추가
			this.classList.add('active');
		});
	});
	
	//--------------------------------------------
	// 현재 과제 리스트(필터링)
	//--------------------------------------------
	function filterCurriculum(page, filter) {
		
	    var filter = curriculumId;
	    var searchQuery = $('#searchPost').val();
	    $.ajax({
	        url: '/all/filterPost',
	        type: 'GET',
	        data: {
	            page: page,
	            filter: filter,
	            searchQuery: searchQuery
	        },
	        success: function(response) {
	        	updatePost(response.posts);
	            postPagination(response.page, page);
	        }
	        
	    });
	}
	
	//--------------------------------------------
	// 필터링으로 인한 게시글 리스트 변경(목록 업데이트)
	//--------------------------------------------
	function updatePost(posts) {
		let tbody = $('#tbody');
		tbody.empty();
		
		posts.forEach((test,idx) => {
			let postData = formatDate(test.createDate);
			
			let post =
				`
		      		<tr class="homeworkList" id="tr" onclick="location.href='/all/post/${test.boardId}/${test.postId}'">
		        		<td class="col-no replyTableData">${test.postId}</td>
				       	<td class="col-title ellipsis replyTableData">${test.title}</td>
		        		<td class="col-board replyTableData">${test.writer}</td>
		        		<td class="col-date replyTableData">${postData}</td>
		        		<td class="col-no replyTableData">${test.postView}</td>
		        		<td class="col-no replyTableData">${test.postLike}</td>
		      		</tr>
		  		`
			$('#tbody').append(post);
		})
		
	};
	
	
	//--------------------------------------------
	// 페이지네이션 함수
	//--------------------------------------------
	 function postPagination(pageDTO, currentPage) {
	    var pagination = $('.postPaging');
	    pagination.empty();
	
	    if (pageDTO.prev) {
	        pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.starPage - 1) + '">&laquo;</a>');
	    }
	
	    for (let p = pageDTO.starPage; p <= pageDTO.endPage; p++) {
	        var pageLink = $('<a href="javascript:void(0)" data-page="' + p + '">' + p + '</a>');
	
	        if (p === currentPage) {
	            pageLink.addClass('active');
	        }
	
	        pageLink.on('click', function() {
	        	filterCurriculum(p);
	        });
	
	        pagination.append(pageLink);
	    }
	
	    if (pageDTO.next) {
	        pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.endPage + 1) + '">&raquo;</a>');
	    }
	} 
	
	
	
	//----------------------
	//날짜 포멧 변환 함수
	//----------------------
	/* function formatDate(date) {
		var d = new Date(date), month = '' + (d.getMonth() + 1), day = ''
				+ d.getDate(), year = d.getFullYear();
	
		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;
	
		return [ year, month, day ].join('-');
	}  */
	function formatDate(dateString) {
	    // Date 객체 생성
	    const date = new Date(dateString);
	
	    // 날짜 정보 추출
	    const year = date.getFullYear();
	    const month = ('0' + (date.getMonth() + 1)).slice(-2);
	    const day = ('0' + date.getDate()).slice(-2);
	
	    // 시간 정보 추출
	    const hours = ('0' + date.getHours()).slice(-2);
	    const minutes = ('0' + date.getMinutes()).slice(-2);
	    const seconds = ('0' + date.getSeconds()).slice(-2);
	
	    // 원하는 형식으로 문자열 생성
	    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
	}

</script>
</body>
</html>