<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Home">
<style>
   .reply {
     border: 1px solid #e1e1e1;
     padding: 10px;
     margin-bottom: 10px;
     border-radius: 5px;
	 margin-top: 15px;
   }

   .comment {
     border: 1px solid #e1e1e1;
     padding: 5px;
     margin-left: 20px;
     margin-bottom: 10px;
     border-radius: 5px;
     background-color: #f9f9f9;
	 position: relative;
   }

   .reply .reply-content,
   .comment .comment-content {
     background-color: #f1f1f1;
     border-radius: 5px;
     padding: 10px;
     margin-bottom: 10px;
   }

   .reply .reply-info,
   .comment .comment-info {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 5px;
   }

   .reply .reply-actions,
   .comment .comment-actions {
     display: flex;
     gap: 10px;
	 justify-content: right;
	 margin-right: 5px;
     margin-bottom: 5px;
   }

   .post-info-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
   }

   .post-info-header .title {
     margin-top: 15px;
     font-size: 1.2em;
     font-weight: bold;
   }

   .post-info-header .details {
     font-size: 1em;
     color: gray;
   }

   textarea {
     width: 100%;
     box-sizing: border-box;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
	 resize: none;
	 height: 100px;
   }

   .custom-modal {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     background: white;
     padding: 20px;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
     z-index: 1000;
     display: none;
   }

   .modal-backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,0.5);
     z-index: 999;
     display: none;
   }
   
   .post-list {
    background-color: #ccc;
    padding: 7px 16px;
    border-radius: 4px;
    color: white;
   }
   
    .post-list:hover {
    color:white;
    }
    
    .fa-thumbs-up {
    	font-size: 50px;
    	transition: all .2s ease-in-out;
    }
    .fa-thumbs-up:hover {
    	transform: scale(1.05);
    }
</style>

<div class="container" id="postInfoContainer">
	<div th:switch="${boardId}">
	   		<div th:if="${boardId <= 6}">
	   			 <div class="add-line"><h5>수료 과정별 게시판</h5></div>
	   		</div>
			<div th:case="7">
	  			<div class="add-line"><h5>구인/구직 게시판</h5></div>
			</div>
			<div th:case="8">
	  			<div class="add-line"><h5>정보 게시판</h5></div>
			</div>
		</div>
	
	<div class="card-style mb-10 mt-30" style="border-top: 2px solid #e96b56; min-height: 500px;">
		<div class="how2 how2-cl3 flex-s-c board_type" style="justify-content: space-between; height: 80px; align-items: baseline; padding-top: 10px;">
            <p style="font-size: 1.2em; font-weight: bold;" th:text="${postInfo.title}"></p>
			<div class="details">
				조회수: <span th:text="${postInfo.postView}">0</span> |
				추천: <span id="post-like-count" th:text="${postInfo.postLike}">0</span>
			</div>
			<div style="display: flex; position: absolute; bottom: 0;">
				<p style="margin-right: 13px;" th:text="${postInfo.writer}">Post Writer</p> |
				<span style="margin-left: 13px;" th:text="${#dates.format(postInfo.createDate, 'yyyy-MM-dd HH:mm:ss')}">2024-06-02 16:00</span>
			</div>
        </div>
		<div class="post_info_content">
			<p th:text="${postInfo.postContent}">Post Content</p>
		</div>
	
		<h2 th:if="${#lists.size(postInfo.boardFiles) > 0}"></h2>
		<div class="post_media_container" th:each="file : ${postInfo.boardFiles}">
			<!-- 이미지 파일 출력 -->
			<div th:if="${file.boardfileLocation != null and (file.boardfileLocation.endsWith('.jpg') or file.boardfileLocation.endsWith('.jpeg') or file.boardfileLocation.endsWith('.png') or file.boardfileLocation.endsWith('.gif') or file.boardfileLocation.endsWith('.jfif'))}">
				<img th:if="${file.exists}" th:src="|/files/${file.boardfileLocation}|" style="width: 100%; height: auto;" />
				<div th:if="${not file.exists}">
					<img src="/images/default-image.jpg" style="width: 100%; height: auto;"/>
				</div>
			</div>
	
			<!-- 비디오 파일 출력 -->
			<div th:if="${file.boardfileLocation != null and (file.boardfileLocation.endsWith('.mp4') or file.boardfileLocation.endsWith('.webm') or file.boardfileLocation.endsWith('.ogg'))}">
				<video controls width="250" th:if="${file.exists}">
					<source th:src="|/files/${file.boardfileLocation}|" type="video/mp4" style="width: 100%; height: auto;" />
				</video>
				<div th:if="${not file.exists}">
					<img src="/images/default-video.jpg" style="width: 100%; height: auto;" />
				</div>
			</div>
		</div>

		<!-- 추천버튼 -->
		<form class="Good-form center" style="height: 70px;">
			<input type="hidden" name="postId" th:value="${postInfo.postId}" id="postInfoId"/>
			<input type="hidden" name="userId" th:value="${userId}" />
			<div id="goodFormContent">
				<label id="postLikeItLabel" style="font-size: 14px; display: block;" th:if="${isLikeChecked == 0}">추천 하기</label>
				<label id="postLikedIconLabel" style="font-size: 14px; display: block;" th:if="${isLikeChecked == 1}">추천 완료!</label>
				<button type="button" class="Good-submit" style="border: none; border-radius: 10%; width: 50px;">
					<!-- <img th:if="${isLikeChecked == 0}" id="postLikeItIcon" src="/images/icons/likeit.png" style="width: 100%; padding: 5px;">
					<img th:if="${isLikeChecked == 1}" id="postLikedIcon" src="/images/icons/likedit.png" style="width: 100%; padding: 5px;"> -->
					<i th:if="${isLikeChecked == 0}" class="far fa-thumbs-up" id="postLikeItIcon"></i>
					<i th:if="${isLikeChecked == 1}" class="fas fa-thumbs-up" id="postLikedIcon"></i>
				</button>
			</div>
		</form>

		<!-- 신고버튼(본인 이외의 계정일 때만 신고 가능) -->
		<th:block th:if="${#authentication.name != postInfo.writer}">
			<button type="button" style="position: absolute; right: 15px; bottom: 10px;" id="reportBtn">신고</button>
		</th:block>
	</div>
	
	<div style="display: flex; justify-content: end;">
	    <input id="writer" type="hidden" th:value="${postInfo.writer}">
	    <input id="userName" type="hidden" th:value="${userName}">
	    <input id="userType" type="hidden" th:value="${userType}">
	    <button id="updateBtn" class="main-btn warning-btn btn-hover" type="button" style="display: none; padding: 5px 15px; margin-right: 5px;">수정</button>

	    <button id="deleteBtn" class="main-btn danger-btn btn-hover" type="button" style="display: none; padding: 5px 15px; margin-right: 5px;">삭제</button>
	    <div th:switch="${boardId}">
	   		<div th:if="${boardId <= 6}">
	   			 <a class="post-list" th:href="@{/all/curriculumPost}">목록</a>
	   		</div>
			<div th:case="7">
	  			<a class="post-list" th:href="@{/all/posts/2}">목록</a>
			</div>
			<div th:case="8">
	  			<a class="post-list" th:href="@{/all/posts/3}">목록</a>
			</div>
		</div>
  	</div>
	
	<form id="reply-form" class="reply">
		<input type="hidden" name="postId" th:value="${postInfo.postId}" />
		<input type="hidden" name="boardId" th:value="${postInfo.boardId}" />
		<textarea name="replyContent" id="replyContent"></textarea>
		<button type="button" id="reply-submit" style="padding: 5px 15px;" class="main-btn dark-btn btn-hover">작성</button>
	</form>
	
	<div class="add-line">댓글</div>
	<ul id="reply-list">
		<li th:each="reply : ${postInfo.replies}" th:id="|'reply-' + ${reply.replyId}|" class="reply">
			<div class="reply-info">
				<input class="replyWriter" type="hidden" th:value="${reply.replyWriter}">
				<span th:text="${reply.replyWriter}">Reply Writer</span>
				<span th:text="${#dates.format(reply.replyDate, 'yyyy-MM-dd HH:mm:ss')}">Reply Date</span>
			</div>
			<div class="reply-content">
				<input class="replyId" type="hidden" th:value="${reply.replyId}">
				<textarea th:id="|replyId-${reply.replyId}|" th:text="${reply.replyContent}" readonly></textarea>
			</div>
			<div class="reply-actions">
				<button th:id="|updateBtn${reply.replyWriter}|" type="button" th:class="|updateBtn${reply.replyWriter}| + ' ' + reply-update + ' ' + main-btn + ' ' + warning-btn + ' ' + btn-hover" th:data-reply-id="${reply.replyId}" th:value="${reply.replyWriter}" style="display:none; padding: 5px 15px;">수정</button>
				<button type="button" class="reply-updateBtn main-btn primary-btn btn-hover" th:data-reply-id="${reply.replyId}" style="display:none; padding: 5px 15px;">수정</button>
				<button th:id="|deleteBtn${reply.replyWriter}|" type="button" th:class="|deleteBtn${reply.replyWriter}| + ' ' + delete-reply + ' ' + main-btn + ' ' + danger-btn + ' ' + btn-hover" th:data-reply-id="${reply.replyId}" th:value="${reply.replyWriter}" style="display:none; padding: 5px 15px;">삭제</button>
			</div>

			<ul>
				<li th:each="comment : ${reply.comments}" th:id="|'comment-' + ${comment.commentId}|" class="comment">
					<div class="comment-info">
						<input class="commentWriter" type="hidden" th:value="${comment.commentWriter}">
						<span th:text="${comment.commentWriter}" class="commentWriterName">Comment Writer</span>
						<span th:text="${#dates.format(comment.commentDate, 'yyyy-MM-dd HH:mm:ss')}">Comment Date</span>
					</div>
					<div class="comment-content">
						<input class="commentId" type="hidden" th:value="${comment.commentId}">
						<textarea th:id="|commentId-${comment.commentId}|" th:text="${comment.commentContent}"
							readonly></textarea>
					</div>
					<div class="comment-actions">
						<button th:id="|commentUpdate-${comment.commentWriter}|" type="button" th:class="|commentUpdate-${comment.commentWriter}| + ' ' + comment-update + ' ' + main-btn + ' ' + warning-btn + ' ' + btn-hover" th:data-comment-id="${comment.commentId}" style="display:none; padding: 5px 15px;">수정</button>
						<button type="button" class="comment-updateBtn main-btn primary-btn btn-hover" th:data-comment-id="${comment.commentId}" style="display:none; padding: 5px 15px;">수정</button>
						<button th:id="|commentDelete-${comment.commentWriter}|" type="button" th:class="|commentDelete-${comment.commentWriter}| + ' ' + delete-comment + ' ' + main-btn + ' ' + danger-btn + ' ' + btn-hover"	th:data-comment-id="${comment.commentId}" style="display:none; padding: 5px 15px;">삭제</button>
					</div>
				</li>
			</ul>

			<form class="comment-form" style="margin-left: 20px;">
				<input type="hidden" name="replyId" th:value="${reply.replyId}" />
				<input type="hidden" name="postId" th:value="${postInfo.postId}" />
				<input type="hidden" name="boardId" th:value="${postInfo.boardId}" />
				<textarea th:id="|commentContent-${reply.replyId}|" name="commentContent"></textarea>
				<button type="button" th:id="|comment-submit-${reply.replyId}|" style="padding: 5px 15px;" class="comment-submit main-btn dark-btn btn-hover">등록</button>
			</form>
		</li>
	</ul>
	
	<!-- 게시글 신고 모달창 -->
	<div id="reportForm" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">게시글 신고</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<input type="hidden" id="postId" name="postId" th:value="${postInfo.postId}" />
					<input type="hidden" id="boardId" name="boardId" th:value="${postInfo.boardId}" />
					<input type="hidden" name="reporter" th:value="${reporter}" />
					<select name="reportType">
						<option value="1">부적절한 언어 사용</option>
						<option value="2">유해하거나 위험한 행위</option>
						<option value="3">성적인 내용</option>
						<option value="4">스팸 또는 혼동을 야기하는 콘텐츠</option>
					</select>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button type="button" id="report-submit">신고 제출</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

  let writer = $('#writer').val();
  let userName = $('#userName').val();
  let postId = $('#postId').val();
  let boardId = $('#boardId').val();
  let userType = $('#userType').val();
  let commentId = $('.commentId').val();
  let replies = [];
  $('.replyId').each(function(){
    replies.push($(this).val());
  });
  
  //------------------------
  // 댓글/대댓글 버튼 권한
  //------------------------
  // 권한 확인
  function checkReplyWriter() {
	  let replyWriters = [];
	  $('.replyWriter').each(function(){
	    replyWriters.push($(this).val());
	  });
	  
	  replyWriters.forEach(function(replyWriter){
	    if(replyWriter == userName){
	      $('.deleteBtn' + replyWriter).css('display','block');
	      $('.updateBtn' + replyWriter).css('display','block');
	    }
	  });
  }
  
  function checkCommentWriter() {
	  let commentWriters = [];
	  $('.commentWriter').each(function(){
	    commentWriters.push($(this).val());
	  });
	  
	  commentWriters.forEach(function(commentWriter){
	    if(commentWriter == userName){
	      $('.commentDelete-' + commentWriter).css('display','block');
	      $('.commentUpdate-' + commentWriter).css('display','block');
	    }
	  });
  }


  //------------------------
  // 게시글수정/삭제버튼 권한
  //------------------------
  if(writer == userName || userType == "ROLE_ADMIN"){
    $('#updateBtn').css('display','block');
    $('#deleteBtn').css('display','block');
  }

  //------------------------
  // 게시글 수정
  //------------------------
  $('#updateBtn').on('click',function(){
    if(writer == userName || userName == 'Administrator'){
      location.href='/all/postUpdate/'+boardId + '/' + postId;
    } 
  });

  //------------------------
  // 게시글 삭제
  //------------------------
  $('#deleteBtn').on('click', function() {
	  Swal.fire({
		    title: "글을 삭제하시겠습니까?",
		    text: "확인 버튼을 클릭 시, 해당 글이 삭제됩니다.",
		    icon: 'warning',
		    showCancelButton: true,
		    confirmButtonColor: '#3085d6',
		    cancelButtonColor: '#d33',
		    confirmButtonText: '확인',
		    cancelButtonText: '취소',
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
				      url : '/all/postDelete',
				      type: 'delete',
				      data: {postId : postId , boardId:boardId},
				      success: function(data) {
				    	  Swal.fire({
								icon: 'success',
								text: '글이 삭제되었습니다.',
								confirmButtonText: '확인',
						  }).then((result) => {
							  	if (boardId < 7) {
							  		location.href='/all/curriculumPost'
							  	} else if (boardId == 7) {
							        location.href='/all/posts/2'
							  	} else if (boardId == 8) {
							        location.href='/all/posts/3'
							  	} else if (boardId == 9) {
							        location.href='/all/posts/4'
							  	}
						  });
				      },
				      error:function(e) {
				    	  Swal.fire({
								icon: 'error',
								text: '삭제 실패!',
								confirmButtonText: '확인',
						  }).then((result) => {
						        location.href='/all/posts/' + boardId
						  });
				      }
			    });
			}
		});
  });

  // 삭제 모달 확인버튼
  $('#okBtn').on('click',function(){
    location.href='/all/posts/'+boardId;
  });
  
  function replyCheck(){
	    let name = $('#replyContent');
	    if(name.val() == ''){
	      alert('내용이 필요합니다.');
	      name.focus();
	      return false;
	    }
	    return true;
	  }


  //--------------------------------------------
  // 댓글 및 대댓글 로드
  //--------------------------------------------
  function loadReplies() {
	  
    $.ajax({
      url: window.location.pathname,
      type: "GET",
      success: function (response) {
        var parser = new DOMParser();
        var doc = parser.parseFromString(response, 'text/html');
        var newReplies = $(doc).find("#reply-list").html();
        
        $('#reply-list').html(newReplies);
        checkReplyWriter();
        checkCommentWriter();
        
        // 기존 이벤트 핸들러 다시 적용
        // rebindEventHandlers();
      },
      error: function (error) {
        console.error("댓글 로드 실패:", error);
      },
    });
  }
  
  //--------------------------------------------
  // 댓글 작성
  //--------------------------------------------
  $(document).on("click", "#reply-submit", function () {
    if(!replyCheck()) return;
    let formData = new FormData(document.getElementById('reply-form'));
    $.ajax({
      url: "/all/Reply",
      type: "POST",
      processData: false,
      contentType: false,
      data: formData,
      success: function (response) {
    	  $('#replyContent').val('');
    	  loadReplies();
      },
      error: function (error) {
        console.error("댓글 등록 실패:", error);
      },
    });
  });

  //--------------------------------------------
  // 댓글 수정
  //--------------------------------------------
  $(document).on("click", ".reply-update", function () {
    let replyId = $(this).data("reply-id");
    $('#replyId-' + replyId).attr('readonly', false);
    $(this).css('display', 'none');
    $('.reply-updateBtn[data-reply-id="' + replyId + '"]').css('display', 'block');
  });

  $(document).on("click", ".reply-updateBtn", function () {
    let replyId = $(this).data("reply-id");
    let replyContent = $('#replyId-' + replyId).val();

    $.ajax({
      url: '/all/replyUpdate',
      type: 'post',
      data: {replyId: replyId, replyContent: replyContent},
      success: function (data) {
        loadReplies();
      },
      error: function (err) {
        alert("댓글 업데이트 에러");
      }
    });
  });
  
  //--------------------------------------------
  // 댓글 삭제
  //--------------------------------------------
  $(document).on("click", ".delete-reply", function () {
    let replyId = $(this).data("reply-id");
    
    Swal.fire({
	    title: "댓글을 삭제하시겠습니까?",
	    text: "확인 버튼을 클릭 시, 해당 댓글이 삭제됩니다.",
	    icon: 'warning',
	    showCancelButton: true,
	    confirmButtonColor: '#3085d6',
	    cancelButtonColor: '#d33',
	    confirmButtonText: '확인',
	    cancelButtonText: '취소',
	}).then((result) => {
		if (result.isConfirmed) {
		  let commentId = $(this).data("comment-id");
		  $.ajax({
		        url: "/all/Reply",
		        type: "DELETE",
		        data: {replyId: replyId},
		        success: function (response) {
		        	loadReplies();
		        },
		        error: function (error) {
		        	Swal.fire({
						icon: 'error',
						text: '삭제 실패!',
						confirmButtonText: '확인',
					  });
		        },
		      });
		}
	});
  });
  
  function commentCheck(commentContentId){
	    let name = $(commentContentId);
	    if(name.val() == ''){
	      alert('내용이 필요합니다.');
	      name.focus();
	      return false;
	    }
	    return true;
	  }
	  
  //--------------------------------------------
  // 대댓글 작성
  //--------------------------------------------
  $(document).on("click", ".comment-submit", function() {
	    let replyId = $(this).attr('id').split('-')[2]; // 고유한 replyId를 가져옴
	    let commentContentId = `#commentContent-${replyId}`; // 고유한 textarea id 생성
	    if(!commentCheck(commentContentId)) return;
	    let formData = $(this).closest("form").serialize();
	    $.ajax({
	      url: "/all/Comment",
	      type: "POST",
	      data: formData,
	      success: function (response) {
	    	  loadReplies();
	      },
	      error: function (error) {
	        alert("대댓글 등록에 실패하였습니다.");
	      },
	    });
  });

  //--------------------------------------------
  // 대댓글 수정
  //--------------------------------------------
  $(document).on("click", ".comment-update", function () {
    let commentId = $(this).data("comment-id");
    $('#commentId-' + commentId).attr('readonly', false);
    $(this).css('display', 'none');
    $('.comment-updateBtn[data-comment-id="' + commentId + '"]').css('display', 'block');
  });

  $(document).on("click", ".comment-updateBtn", function () {
    let commentId = $(this).data("comment-id");
    let commentContent = $('#commentId-' + commentId).val();

    $.ajax({
      url: '/all/commentUpdate',
      type: 'post',
      data: {commentId: commentId, commentContent: commentContent},
      success: function (data) {
    	  loadReplies();
      },
      error: function (err) {
        alert("대댓글 업데이트 에러");
      }
    });
  });

  //--------------------------------------------
  // 대댓글 삭제
  //--------------------------------------------
  $(document).on("click", ".delete-comment", function () {
	  Swal.fire({
		    title: "대댓글을 삭제하시겠습니까?",
		    text: "확인 버튼을 클릭 시, 해당 대댓글이 삭제됩니다.",
		    icon: 'warning',
		    showCancelButton: true,
		    confirmButtonColor: '#3085d6',
		    cancelButtonColor: '#d33',
		    confirmButtonText: '확인',
		    cancelButtonText: '취소',
		}).then((result) => {
			if (result.isConfirmed) {
				  let commentId = $(this).data("comment-id");
			      $.ajax({
			        url: "/all/Comment",
			        type: "DELETE",
			        data: {commentId: commentId},
			        success: function (response) {
			        	window.location.reload();
			        },
			        error: function (error) {
			        	Swal.fire({
							icon: 'error',
							text: '삭제 실패!',
							confirmButtonText: '확인',
						  });
			        },
			     });
			}
		});
  });



  //--------------------------------------------
  // 추천 개수 업데이트
  //--------------------------------------------
  function updateLikeCount() {
    $.ajax({
      url: window.location.pathname,
      type: "GET",
      success: function (response) {
        const parser = new DOMParser();
        const doc = parser.parseFromString(response, 'text/html');
        const newLikesCount = $(doc).find("#post-like-count").text();
        $("#post-like-count").text(newLikesCount);
      },
      error: function (error) {
        console.error("추천 개수 업데이트 실패:", error);
      },
    });
  }

  //--------------------------------------------
  // 추천 추가 함수
  //--------------------------------------------
  

  //--------------------------------------------
  // 신고관련
  //--------------------------------------------
  $(document).ready(function () {
	checkReplyWriter();
	checkCommentWriter();
    // 신고 버튼 클릭 시 폼 표시
    $("#reportBtn").on("click", function () {
      $("#reportForm").modal();
    });

    // 신고 제출
    $("#report-submit").on("click", function () {
      let formData = $("#report-form").serialize();
      $.ajax({
        url: "/all/reportPost",
        type: "POST",
        data: formData,
        success: function (response) {
          if (response === "success") {
            alert("신고가 접수되었습니다.");
          } else {
            alert("신고 접수에 실패하였습니다.");
          }
        },
        error: function (err) {
          alert("에러");
        },
      });
    });
	
  //--------------------------------------------
  // 이벤트 핸들러 재적용 함수
  //--------------------------------------------
  // function rebindEventHandlers() {
    // 댓글 수정 이벤트 핸들러 재적용
    $(".reply-update").on("click", function () {
      let replyId = $(this).data("reply-id");
      $('#replyId-' + replyId).attr('readonly', false);
      $(this).css('display', 'none');
      $('.reply-updateBtn[data-reply-id="' + replyId + '"]').css('display', 'block');
    });

    $(".reply-updateBtn").on("click", function () {
      let replyId = $(this).data("reply-id");
      let replyContent = $('#replyId-' + replyId).val();

      $.ajax({
        url: '/all/replyUpdate',
        type: 'post',
        data: {replyId: replyId, replyContent: replyContent},
        success: function (data) {
          loadReplies();
        },
        error: function (err) {
          alert("댓글 업데이트 에러");
          console.error("댓글 업데이트 실패:", err);
        }
      });
    });
    
    //--------------------------------------------
    // 대댓글 수정 이벤트 핸들러 재적용
    //--------------------------------------------
    $(".comment-update").on("click", function () {
      let commentId = $(this).data("comment-id");
      $('#commentId-' + commentId).attr('readonly', false);
      $(this).css('display', 'none');
      $('.comment-updateBtn[data-comment-id="' + commentId + '"]').css('display', 'block');
    });

    $(".comment-updateBtn").on("click", function () {
      let commentId = $(this).data("comment-id");
      let commentContent = $('#commentId-' + commentId).val();

      $.ajax({
        url: '/all/commentUpdate',
        type: 'post',
        data: {commentId: commentId, commentContent: commentContent},
        success: function (data) {
          loadReplies();
        },
        error: function (err) {
          alert("대댓글 업데이트 에러");
        }
      });
    });

    //--------------------------------------------
    // 댓글 및 대댓글 삭제 이벤트 핸들러 재적용
    //--------------------------------------------
    /* $(".delete-reply").on("click", function () {
      let replyId = $(this).data("reply-id");
      $.ajax({
        url: "/all/Reply",
        type: "DELETE",
        data: {replyId: replyId},
        success: function (response) {
          loadReplies();
        },
        error: function (error) {
          alert("댓글 삭제에 실패하였습니다.");
        },
      });
    });

    $(".delete-comment").on("click", function () {
      let commentId = $(this).data("comment-id");
      $.ajax({
        url: "/all/Comment",
        type: "DELETE",
        data: {commentId: commentId},
        success: function (response) {
          loadReplies();
        },
        error: function (error) {
          alert("대댓글 삭제에 실패하였습니다.");
        },
      });
    }); */
  // }
  
    function updateLikeForm() {
        $.ajax({
          url: window.location.pathname,
          type: "GET",
          success: function (response) {
            var parser = new DOMParser();
            var doc = parser.parseFromString(response, 'text/html');
            var newLikesForm = $(doc).find("#goodFormContent").html();
            $("#goodFormContent").html(newLikesForm);
          },
          error: function (error) {
            console.error("추천 개수 업데이트 실패:", error);
          },
        });
    }

	//--------------------------------------------
	// 추천 추가 함수
	//--------------------------------------------
	$(document).on("click", ".Good-submit", function () {
	    let formData = $(".Good-form").serialize();
		let postLikeItIcon = $('#postLikeItIcon');	// 추천 전 아이콘
		let postLikedIcon = $('#postLikedIcon');	// 추천 후 아이콘
		let postLikeItLabel = $('#postLikeItLabel');	// 추천 전 텍스트
		let postLikedIconLabel = $('#postLikedIconLabel');	// 추천 후 텍스트
		
	    $.ajax({
	      type: "POST",
	      url: "/all/boardLike",
	      dataType: "json",
	      data: formData,
	      success: function (likeCheck) {
	        if (likeCheck == 0) {
				postLikedIcon.css("display", "block");
		        postLikeItIcon.css("display", "none");
		        postLikeItLabel.css("display", "none");
		        postLikedIconLabel.css("display", "block");
	        } else {
				postLikedIcon.css("display", "none");
		        postLikeItIcon.css("display", "block");
		        postLikeItLabel.css("display", "block");
		        postLikedIconLabel.css("display", "none");
	        }
		  	updateLikeCount();
		  	updateLikeForm();
	      },
	      error: function () {
	        alert("통신 에러");
	      },
	    });
	  });
	});
</script>
</body>
</html>
