<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Home">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<div class="container">
    <h1>게시글 수정</h1>
    <form id="updateForm" th:object="${post}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{postId}" />
        <input type="hidden" th:field="*{boardId}" />
        <input type="hidden" th:field="*{userId}" />
        <div>
            <label for="title">제목:</label> 
            <input type="text" th:field="*{title}" id="title" />
        </div>
        <div>
            <label for="postContent">내용:</label>
            <textarea th:field="*{postContent}" id="postContent"></textarea>
        </div>
        
        <!-- 파일 업로드 -->
        <label for="file">파일 :</label> 
        <input type="file" id="file" name="file" multiple="multiple"/><br />
        
        <div>
            <button type="button" id="updateBtn">수정</button>
        </div>
    </form>
    <a th:href="@{/all/post/{boardId}(boardId=${post.boardId})}">목록으로</a>
</div>
    
<script>
    $('#updateBtn').on('click', function(event) {
        if (!validationCheck()) return;
        let formData = new FormData($('#updateForm')[0]);
        $.ajax({
            url: '/all/postUpdate',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(result) {
                if (result.success) {
                    alert('정상적으로 수정되었습니다.');
                    window.location.href = '/all/post/' + formData.get('boardId') + "/" + formData.get('postId');
                } else {
                    alert('수정되지 않았습니다. 오류 메시지: ' + result.message);
                }
            },
            error: function(err) {
                console.log('Error:', err);
                alert('수정 중 오류가 발생했습니다.');
            }
        });
    });

    function validationCheck() {
        let title = $('#title');
        let content = $('#postContent');
        if (title.val() === '') {
            alert('게시글의 제목은 필수로 입력해야합니다.');
            title.focus();
            return false;
        }
        if (content.val() === '') {
            alert('게시글의 내용은 필수로 입력해야합니다.');
            content.focus();
            return false;
        }
        return true;
    }
</script>

</body>
</html>
