<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/admin_layout}"
	  layout:fragment="Admin">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>과제 목록 교수</h1>
<div style='float: right;'>
	<a href="insert_homework" class=" primary-btn rounded-full btn-hover"style='padding:10px;'>
		<font style="vertical-align: inherit;">
			<font style="vertical-align: inherit;">+ 과제</font>
		</font>
	</a>
</div>

</body>
</html>