<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.row {
	width: 100%;
}
</style>
<script>
	//--------------------------------------------
	// 현재 과제 리스트(필터링)
	//--------------------------------------------
	function filterHomeworks(page, searchQuery) {
		var filter = $('#classSelect').val();
		
		searchQuery = searchQuery || $('#searchInput').val();
		
		$.ajax({
			url: '/filterHomeworks',
			type: 'GET',
			data: {
				page: page,
				filter: filter,
				searchQuery: searchQuery
			},
			success: function(response) {
				console.log("success");	
				updateHomeworks(response.homeworks);
				homeworkPagination(response.page, page);
			},
			error: function(error) {
	            console.error('에러: ', error);
	        }
		})
	}
	
	//--------------------------------------------
	// 필터링으로 인한 과제 리스트 변경(목록 업데이트)
	//--------------------------------------------
	function updateHomeworks(homeworks) {
		var tbody = document.getElementById('homeworkBody');
		tbody.innerHTML = '';
		
		homeworks.forEach(homework => {
			var tr = document.createElement('tr');
			
			var tdClassId = document.createElement('td');
			tdClassId.textContent = homework.classId;
			tr.appendChild(tdClassId);
			
			var tdTitle = document.createElement('td');
			tdTitle.textContent = homework.homeworkTitle;
			tr.appendChild(tdTitle);
			
			var tdSubject = document.createElement('td');
			tdSubject.textContent = homework.subjectName;
			tr.appendChild(tdSubject);
			
			var tdDate = document.createElement('td');
			tdDate.textContent = homework.homeworkDate;
			tr.appendChild(tdDate);
			
			tbody.appendChild(tr);
			
		});
	}
	
	function homeworkPagination(pageDTO, currentPage) {
		console.log("pageDTO:", JSON.stringify(pageDTO, null, 5), "현재페이지:", currentPage);
		let arr = new Array();
		arr.push(pageDTO);
		console.log("현재 페이지: " + arr[0].page);
		currentPage = arr[0].page;
		
	    var pagination = $('.homeworkPaging');
	    pagination.empty();
		
	    if (pageDTO.prev) {
			pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.starPage - 1) + '" onclick="filterHomeworks(' + (pageDTO.starPage - 1) + ')">&laquo;</a>');
	    }
		
	    for (var p = pageDTO.starPage; p <= pageDTO.endPage; p++) {
			console.log("p값: " + p);
			
			var pageLink = $('<a href="javascript:void(0)" data-page="' + p + '">' + p + '</a>');
			
	        if (p === currentPage) {
	            pageLink.addClass('active');
	        } else {
	            pageLink.addClass('none');
	        }
			
	        pageLink.attr('onclick', 'filterHomeworks(' + p + ')');
	        pagination.append(pageLink);
	    }
	    if (pageDTO.next) {
	        pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.endPage + 1) + '" onclick="filterHomeworks(' + (pageDTO.endPage + 1) + ')">&raquo;</a>');
	    }
	}
	
	$(document).ready(function() {
	    /* $('#userFilter').off('change').on('change', function() {
	        filterUsers(1); // 필터 변경 시 1페이지부터 다시 시작
	    });

	    $('#searchInput').off('keyup').on('keyup', function(e) {
	    	filterUsers(1); // 검색어 입력하거나 지울 시 실시간으로 데이터 변경후 페이지 1로 고정
	    }); */
	    
	    $('.homeworkPaging').off('click', 'a').on('click', 'a', function() {
	        var page = $(this).data('page');
	        filterHomeworks(page);
	    });

	});
</script>
<h1>과제 목록 교수</h1>
<div class="row">
	<div class="col-10">
		<div style='float: right;'>
			<a href="selectClass" class=" primary-btn rounded-full btn-hover"
				style='padding: 10px;'> <font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">+ 과제</font>
			</font>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-10">
		<div class="card-style mb-30">
			<h1 class="mb-30">과제 목록</h1>
			<select id="classSelect" onchange="filterHomeworks()">
				<option value="0">전체 강의실</option>
				<option th:each="class : ${classId}"
					th:value="${class.classId}">[[${class.classId}]] 강의실</option>
			</select>
			
			<!-- 과제 검색 -->
			<div class="input-style-1" style="position: absolute; bottom: -20px; left: 10px;">
				<input name="id" id="searchInput" type="text" placeholder="회원 검색" style="padding: 10px; width: 250px;">
				<img style="position: absolute; top: 12px; right: 10px; width: 20px; opacity: 0.5;" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
			</div>
			
			<div class="table-wrapper table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th><h6>강의실</h6></th>
							<th><h6>과제명</h6></th>
							<th><h6>과목명</h6></th>
							<th><h6>마감일</h6></th>
							<!-- <th><h6>진행상태</h6></th> -->
						</tr>
					</thead>
					<tbody id="homeworkBody">
						
					</tbody>
				</table>
				<div class="center">
				    <div class="homeworkPaging">
				    </div>
				</div>
			</div>
		</div>
		<!-- end card -->
	</div>
	<!-- end col -->
</div>

<script>
	// 출력
	$().ready(function() {
		homeworkList();
	});
	
	// 과제목록
	function homeworkList(){
		let homeworkAll = '';
		$.ajax({
			url:"homeworkListT",
			type: "get",
			data: {homeworkAll,homeworkAll},
			success:function(data){
				let today = new Date();
				let todayFormatted = formatDate(today);
				data.forEach(function(e){
					let homeworkDate = formatDate(e.homeworkDate);
					let status = homeworkDate < todayFormatted ? '과제 제출 마감' : '과제 진행중';
					let statusIcon = homeworkDate < todayFormatted ? 'close-btn' : 'active-btn';
					
					let homework =
						`
						<tr onclick="location.href='homeworkInfo?homeworkId='+${e.homeworkId}">
							<td>${e.classId}</td>
							<td>${e.homeworkTitle}</td>
							<td>${e.subjectName}</td>
							<td>${homeworkDate}</td>
							<td >
								<span class="status-btn ${statusIcon}">${status}</span>
							</td>
						</tr>
						`
					$('#body').append(homework)	;
						
				});
				classCategory();
			},
			 error:function(err){
				alert("homeworkList err")
			} 
		});
	}
	
	//강의실 카테고리
	function classCategory() {
		$("#classSelect").change(function() {

			let vals = $("#classSelect").val();
				$.ajax({
					url : "classCategory",
					type : "get",
					data : {
						vals : vals
					},
					success : function(data) {
						 // 댓글 목록 초기화
			            $('#body').empty(); 
						 
			            let today = new Date();
						let todayFormatted = formatDate(today);
						
						data.forEach(function(e){
							let homeworkDate = formatDate(e.homeworkDate);
							let status = homeworkDate < todayFormatted ? '과제 제출 마감' : '과제 진행중';
							let statusIcon = homeworkDate < todayFormatted ? 'close-btn' : 'active-btn';
							
							let classCategory =
								`
								<tr>
									<td>${e.classId}</td>
									<td>${e.homeworkTitle}</td>
									<td>${e.subjectName}</td>
									<td>${homeworkDate}</td>
									<td>
									<span class="status-btn ${statusIcon}">${status}</span>
									</td>
								</tr>
								`
							$('#body').append(classCategory);
						});
						
					},
					error : function(err) {
						alert(" classCategory err")
					}
				});
		});
	}

	//날짜 포멧 변환 함수
	function formatDate(date) {
		var d = new Date(date), month = '' + (d.getMonth() + 1), day = ''
				+ d.getDate(), year = d.getFullYear();

		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;

		return [ year, month, day ].join('-');
	} 
</script>
</html>