<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<head>
<meta charset="UTF-8">
<title>과제 목록 교수</title>
<style>
.row {
	width: 100%;
}
</style>
</head>
<h1>과제 목록 학생</h1>
<div class="row">
	<div class="col-10">
		<div class="card-style mb-30">
			<h1 class="mb-30">과제 목록</h1>
			<select id="subjectSelect">
				<option value="0">전체 과목</option>
				<option th:each="subjects : ${subject}" th:value="${subjects.subjectId}">[[${subjects.subjectName}]]
				</option>
			</select>
			<div class="table-wrapper table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>
								<h6>강의실</h6>
							</th>
							<th>
								<h6>과제명</h6>
							</th>
							<th>
								<h6>과목명</h6>
							</th>
							<th>
								<h6>마감일</h6>
							</th>

							<th>
								<h6>진행상태</h6>
							</th>
						</tr>
						<!-- end table row-->
					</thead>
					<tbody id="body">
						
					</tbody>
				</table>
				<!-- end table -->
			</div>
		</div>
		<!-- end card -->
	</div>
	<!-- end col -->
</div>

<script>
//출력
$().ready(function() {
	homeworkList();
});
//과제목록
function homeworkList(){
	// 유저정보
	let userid = 10;
	
	$.ajax({
		url:"/all/homeworkList_S",
		type: "get",
		data: {userid:userid},
		success:function(data){
			let today = new Date();
			let todayFormatted = formatDate(today);
			
			data.forEach(function(e){
				let homeworkDate = formatDate(e.homeworkDate);
				let status = homeworkDate < todayFormatted ? '과제 제출 마감' : '과제 진행중';
				let statusIcon = homeworkDate < todayFormatted ? 'close-btn' : 'active-btn';
				
				let homework =
					`
					<tr onclick="location.href='homeworkInfo?homeworkId='+${e.homeworkId}">
						<td>${e.classId}</td>
						<td>${e.homeworkTitle}</td>
						<td>${e.subjectName}</td>
						<td>${homeworkDate}</td>
						<td >
							<span class="status-btn ${statusIcon}">${status}</span>
						</td>
					</tr>
					`
				$('#body').append(homework)	;
			});
			classCategory();
		},
		 error:function(err){
			alert("homeworkListS err")
		} 
	});
}

// 과목 카테고리
function classCategory() {
		$("#subjectSelect").change(function() {
			// 유저정보
			let userid = 60;
			let vals = $("#subjectSelect").val();
				$.ajax({
					url : "/all/subjectCategory",
					type : "get",
					data : {
						vals : vals,
						userid : userid
					},
					success : function(data) {
						 // 댓글 목록 초기화
			            $('#body').empty(); 
						 
			            let today = new Date();
						let todayFormatted = formatDate(today);
						
						data.forEach(function(e){
							let homeworkDate = formatDate(e.homeworkDate);
							let status = homeworkDate < todayFormatted ? '과제 제출 마감' : '과제 진행중';
							let statusIcon = homeworkDate < todayFormatted ? 'close-btn' : 'active-btn';
							
							let subjectCategory =
								`
								<tr>
									<td>${e.classId}</td>
									<td>${e.homeworkTitle}</td>
									<td>${e.subjectName}</td>
									<td>${homeworkDate}</td>
									<td>
									<span class="status-btn ${statusIcon}">${status}</span>
									</td>
								</tr>
								`
							$('#body').append(subjectCategory);
						});
						
					},
					error : function(err) {
						alert(" classCategory err")
					}
				});
		});
	}




	//날짜 포멧 변환 함수
	function formatDate(date) {
		var d = new Date(date), month = '' + (d.getMonth() + 1), day = ''
				+ d.getDate(), year = d.getFullYear();

		if (month.length < 2)
			month = '0' + month;
		if (day.length < 2)
			day = '0' + day;

		return [ year, month, day ].join('-');
	} 
</script>
</html>