<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<head>
<meta charset="UTF-8">
<title>homeworkInfo</title>
</head>
<body>
	<!-- Error 모달창 -->
	<div id="modalReply" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 실패</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">댓글을 입력해주세요!</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/failed.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='checkBtn' type="button" class="btn btn-primary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 등록완료 모달창 -->
	<div id="modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 완료</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">등록이 완료되었습니다.</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/registration.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='checkBtn' type="button" class="btn btn-primary"
						onclick="location.href='homeworkList'">확인</button>
				</div>
			</div>
		</div>
	</div>

	<div th:each="homeworkInfo : ${homeworkInfoList}">
		<div style="border: 1px solid black; width: 1200px; height: 600px;">
			<hr>
			<h1>제목</h1>
			<p>[[${homeworkInfo.homeworkTitle}]]</p>
			<p style="float: right;">[[${#dates.format(homeworkInfo.homeworkDate,'yyyy년MM월dd일')}]]</p>
			<hr>
			<h2>내용</h2>
			<hr>
			<p>[[${homeworkInfo.homeworkContent}]]</p>
		</div>
		<div style="border: 1px solid black; width: 1200px; height: 200px;">
			<h3>댓글</h3>
			<div th:each="reply : ${replyList}">
				<p>댓글 내용 : [[${reply.replyContent}]]</p>
				<p>댓글 작성자 : [[${reply.replyWriter}]]</p>
				<p>작성일자 : [[${#dates.format(reply.replyDate,'yyyy년MM월dd일')}]]</p>
			</div>
		</div>

		<!-- end reply  -->
		<h3>댓글 작성</h3>
		<form name="insertReply" method="post" th:object="${homeworkInfoList}">
			<input type="hidden" th:field="*{homeworkTargetId}">
			<input type="hidden" th:field="*{homeworkId}">
			<textarea
				style="border: 1px solid black; width: 1200px; height: 200px;"
				placeholder="내용을 입력하세요" th:field="*{replyContent}"></textarea>
			<div class="col-12" style="text-align: center;">
				<button id="insertBtn" class="main-btn primary-btn btn-hover"
					type="button">등록</button>
			</div>
		</form>

	</div>


</body>

<script>
	$('#insertBtn').on('click', addReply);

	function addReply() {
		let formValues = $('form[name="insertReply"]').serialize();
		console.log(formValues)
		let content = document.getElementById('replyContent');

		if (content.value == '') {
			$('#modalReply').modal('show');
			return;
		} else {
			$.ajax({
				url : "insertReply",
				type : "POST",
				data : formValues,
				success : function(json) {
					$('modal').modal('show');
				},
				error : function(err) {
					console.log("에러")
				}
			});
		}
	}
</script>
</html>