<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.admin{
	display : none;
}
.logName{
	display :none; 
}
</style>
<!-- 댓글내용 확인 모달창 -->
<div id="modalReply" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">등록 실패</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">댓글을 입력해주세요!</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" th:src="@{/images/failed.png}">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='errBtn' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 등록완료 모달창 -->
<div id="modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">등록 완료</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">등록이 완료되었습니다!</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" th:src="@{/images/registration.png}">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='okBtn' type="button" class="btn btn-primary close"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>

<!-- 대댓글 내용 확인 모달창 -->
<div id="commentCentent" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">등록 실패</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">대댓글을 입력해주세요!</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" th:src="@{/images/failed.png}">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='errBtn' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 삭제 완료 모달창 -->
<div id="deleteOK" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">삭제 완료</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">댓글이 삭제되었습니다!</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" th:src="@{/images/registration.png}">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='okBtn' type="button" class="btn btn-primary close"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 과제삭제 모달창 -->
<div id="deleteHomework" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">삭제 완료</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">과제가 삭제되었습니다.</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" th:src="@{/images/registration.png}">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='checkBtn' type="button" class="btn btn-primary"
					onclick="location.href='/admin/homework_T'">확인</button>
			</div>
		</div>
	</div>
</div>


<!-- 과제 상세페이지 시작 -->
<input id="logId" type="hidden" th:value="${userId}">
<input id="logName" type="hidden" th:value="${userName}">
<div th:each="homeworkInfo : ${homeworkList}" style="padding: 30px;">
		<button id="deleteHomeworks" th:value="${homeworkInfo.homeworkId}"
			class="main-btn light-btn   btn-hover admin"
			style="float: right; padding: 10px 15px;" type="button">과제 삭제</button>
		<button id="updateHomework"
			class="main-btn warning-btn   btn-hover admin"
			th:value="${homeworkInfo.homeworkId}" type="button" style="padding: 10px 15px;">게시글 수정</button>
	<div>
		<hr>
		<div class="input-style-1">
			<label>제목</label> 
			<input id="title" class="homeworkUpdate" type="text" style="width: 100%;" th:value="${homeworkInfo.homeworkTitle}" disabled>
		</div>
		<div class="input-style-1">
			<label>마감일자</label> 
			<input id="homeworkDate"  type="text" th:value="${#dates.format(homeworkInfo.homeworkDate,'yyyy-MM-dd')}" style="width: 250px;" disabled>
			<input id="updateDate" type="date" style="width: 250px; display:none;"class="homeworkUpdate">
		</div>
		<!-- 파일내역 출력 -->
		<div id="homeworkFile"></div>
		<!-- 파일 업로드 -->
		<form method="post" enctype="multipart/form-data" id="updateForm" th:object="${homeworkVO}">
			<input id="homeworkId" type="hidden" th:value="${homeworkInfo.homeworkId}">
			<div id="file" style="padding: 50px; display: none;" class="card-style mb-30">
				<input type="file" name="uploadFiles" multiple="multiple">
				<button id="fileUpload" type="button"
					style="padding: 10px; width: 100px; border: 1px solid black;">파일
					등록</button>
			</div>
		</form>
		
		<button id=updateHomeworks class="main-btn primary-btn btn-hover" type="button" style="display: none;">등록</button>
		
		<hr>
		
		<div class="input-style-1">
			<label>내용</label> 
			<textarea cols="100" rows="10" class="homeworkUpdate" id="content" name="feedback" th:text="${homeworkInfo.homeworkContent}" disabled></textarea>
		<!--<input id="content" class="homeworkUpdate" type="text"
			th:value="${homeworkInfo.homeworkContent}"
			style="padding: 10px; width: 250px; border: 1px solid black;"
			readonly>-->
		</div>
	</div>
	
	<hr>
		
	<div style="border: 1px solid black;">

		<!-- 댓글출력 -->
		<h3>댓글</h3>
		<div id="replyList"></div>
	</div>
</div>
<!-- end reply -->
<h3>댓글 작성</h3>
<form name="insertReply" id="addReply" method="post"
	th:object="${homeworkList}" enctype="multipart/form-data">
	<input id="targetId" type="hidden" th:field="*{homeworkTargetId}">
	<input type="hidden" th:field="*{homeworkId}">
	<textarea style="border: 1px solid black;" rows="8" cols="50"
		placeholder="내용을 입력하세요" th:field="*{replyContent}"></textarea>
	<div class="col-12" style="text-align: center;">
		<input type="file" name="uploadFiles" multiple>
		<button id="insertBtn" class="main-btn primary-btn btn-hover"
			type="button">등록</button>
	</div>
</form>

<script>

//--------------------------
// 페이지 로드 시 댓글 목록 불러오기
//--------------------------
$().ready(function(){
	let userId = $('#logId').val(); //로그인한 id
	console.log('userID == ' + userId);
	if(userId == 132){
		$('.admin').css('display','block');
	}
	
	replyList();
	fileList();
});

//과제 파일 목록

function fileList(){
	let homeworkId = $('#deleteHomeworks').val();
	$.ajax({
		url: '/all/homeworkFileList',
		type:'get',
		async: false,
		data:{homeworkId : homeworkId},
		success:function(data){
			data.forEach(function(e){
				let file =
					`
					<div>
						<label>파일</label>
						<p>
						<a class="filePath" value="${e.homeworkfileId}"  href="/homeworkdownload/${e.downloadLocation}">${e.homeworkfileName}</a>
							<button id="deleteFile-${e.homeworkfileId}" value="${e.homeworkfileLocation}" type="button" class="close deleteFile" style="float:left; display:none;" >&times;</button>
						</p>
					</div>
					`
					$('#homeworkFile').append(file);
					 deleteFile(e.homeworkfileId);
			})
			
		},
		error:function(err){
			alert("파일 리스트 오류")
		}
	})
}

// 과제 파일 삭제
function deleteFile(homeworkfileId){
$('#deleteFile-'+ homeworkfileId).on('click',function(){
	let homeworkfileLocation = $(this).val();
	
	$.ajax({
		url: '/all/deleteFile',
		type:'post',
		data:{homeworkfileLocation : homeworkfileLocation, homeworkfileId: homeworkfileId},
		success:function(e){
			 $('#homeworkFile').empty(); 
			fileList();
			$('.deleteFile').css('display', 'block');
		},
		error:function(err){
			alert('filedelete err')	
		}
	})
	
})
}


//과제 수정
$('#updateHomework').on('click',function(e){
	$('.homeworkUpdate').prop('readonly',false); // 수정할 input
	$('.homeworkUpdate').css('backgroundColor','yellow') // 수정할 input
	$('#updateHomeworks').css('display', 'block'); // 수정완료 버튼
	$('.deleteFile').css('display', 'block'); // 파일삭제 버튼
	$('#homeworkDate').css("display","none");
	$('#updateDate').css("display","block");
	$('#file').css('display','block'); //파일업로드 버튼 
})
// 수정파일 업로드
$('#fileUpload').on('click',function(e){
	let homeworkId = $('#homeworkId').val();
	let formData = new FormData(document.getElementById('updateForm'));
	formData.append('homeworkId', homeworkId);
	$.ajax({
		url:'/admin/updateFile',
		type:'POST',
		processData: false, // QueryString(key=value)로 자동변환 무시
		contentType: false, // FormData가 가지고 있는 통신 정보를 사용
		data: formData,
		success:  function(result) {
			$('#modal').modal('show');
			$('#homeworkFile').empty(); 
			fileList();
			$('.deleteFile').css('display', 'block');
			
			
		},
		error: function(reject){	
			$('#modalError').modal('show');
           }
	})
	
})

$('#updateHomeworks').on('click',function(){
	let homeworkDate = $('#updateDate').val()
	let homeworkTitle = $('#title').val();
	let homeworkContent = $('#content').val();
	let homeworkId = $('#deleteHomeworks').val();
	$.ajax({
		url:"/admin/updateHomework",
		type: "put",
		data: {homeworkTitle : homeworkTitle, homeworkDate : homeworkDate , homeworkContent : homeworkContent, homeworkId : homeworkId},
		success:function(data){
			console.log("과제 수정 클릭")
			$('.homeworkUpdate').prop('readonly', true); //수정하고 인풋 readonly
			$('#updateHomeworks').css('display', 'none'); // 수정 등록버튼 
			$('.homeworkUpdate').css('backgroundColor','transparent') // 배경색 무로 변경
			$('.deleteFile').css('display', 'none'); // 파일삭제 버튼
			$('#modal').modal('show'); // 등록완료 모달
			$('#file').css('display','none'); //파일업로드 버튼 
			let date = $('#homeworkDate').val();
			console.log("date" + date)
			$('#homeworkDate').prop('type','text');
			$('#homeworkDate').val(homeworkDate);
			
			console.log(data)
		},
		error:function(err){
			alert("updateHomework err")
		}
	})
})


//과제 삭제
$('#deleteHomeworks').on('click',function(){
	let homeworkId = $('#deleteHomeworks').val();
	$.ajax({
		   url: "/admin/deleteHomeworks",
		   type: "delete",
		   data: {homeworkId : homeworkId},
		   success: function(data){
			   $('#deleteHomework').modal('show'); // 삭제완료 모달
		   },
		   error: function(err){
			   alert("deleteHomeworks err");
		   }
	   });
	
})


	
	
   //--------------------------
   //댓글 목록 불러오기 함수
   //--------------------------
   function replyList(){
      let targetId = $('#targetId').val();
      $.ajax({
         url : "/all/replyList",
         type : "GET",
         async: false,
         data : {targetId:targetId},
         success : function(data){
            // 댓글 목록 초기화
            $('#replyList').empty(); 
            
            data.forEach(function(e){
               let replyDate = formatDate(e.updateDate);
              
               let replies = 
            	   `
            	   <input id="replyId" type="hidden" value="${e.replyId}">
            	   <div class ="replyDiv"style="border: 1px solid black;">
            	   		<h3>댓글내용</h3>
            	   		<input class="replyContent-${e.replyId}" type="text" value="${e.replyContent}" readonly >
                   		<button type="button" class="main-btn warning-btn   btn-hover contentUpdate-${e.replyId}" style="display: none;"	>수정</button>
                   		<h3>작성자</h3>
                   		<input  id="logName" type="text" value="${e.replyWriter}" readonly >
                   		<h3>작성일자</h3>
                   		<input class="replyDate-${e.replyId}" type="text" value="${replyDate}"  readonly >
                   	</div>	
                   		<div id="replyFilesList${e.replyId}"></div>
                   		<div class="col-12 " style="text-align: right;">
                   			<div id="replyFileUpload-${e.replyId}" style="display:none;">
		   						<form method="post" enctype="multipart/form-data" id="updateReplyForm${e.replyId}">
		   							<input type="file" name="uploadReplyFile" multiple="multiple">
		   							<button class="updateReplyFile" value="${e.replyId}" type="button" style="padding: 10px; width: 100px; border: 1px solid black;">댓글 파일 등록</button>
		   						</form>
		   					</div>
								<button class="main-btn primary-btn btn-hover commentInput"	type="button" onclick="showReplyInput(${e.replyId})">답글</button>
								<button class="main-btn light-btn   btn-hover logName logName-${e.replyWriter}" type="button" onclick="deleteReply(${e.replyId})">댓글 삭제</button>
								<button class="main-btn warning-btn   btn-hover updateBtn logName logName-${e.replyWriter}" type="button" value="${e.replyId}" >댓글 수정</button>
							</div>
						
						<div id="comments-${e.replyId}">
							<div id="commentsList"></div>
						</div>
						
						<div id="${e.replyId}" style="display: none; margin-top: 10px;">
							<textarea id="comment-${e.replyId}" style="border: 1px solid black;" rows="4" cols="50" placeholder="답글 내용을 입력하세요"></textarea>
							<div class="col-12" style="text-align: center; margin-top: 10px;">
							<button class="main-btn primary-btn btn-hover commentInsertBtn" type="button" value="${e.replyId}" onclick="addComment(${e.replyId})">답글 등록</button>
							</div>
						</div>
                	</div>
                	`;
			
               $('#replyList').append(replies);
               $('#comments-'+e.replyId).append(commentList(e.comments));
               $('#replyFileUpload-'+e.replyId).append(replyFile(e.replyId));
               
            }); // forEach 끝
            
            
            //댓글 작성자 수정
       	 let userName = $('#logName').val() // 로그인한 Name
         let replyName = $('#logName').val()
         if(userName == replyName){
         $(".logName-"+userName).css('display','block');
         }
            
            //댓글 수정 버튼
            $('.updateBtn').on('click',function(e){ // 댓글 수정버튼 클릭
            	replyId = $(this).val(); //클릭시 댓글 id 불러옴
            	$('.replyContent-'+replyId).prop('readonly',false); // 댓글 내용창 readonly 풀림
            	$('.replyContent-'+replyId).css('backgroundColor','yellow'); // 입력창 노랑색으로 표시
            	$('.contentUpdate-'+replyId).css('display','block'); // 수정버튼 보이게
            	$('#replyFileUpload-' + replyId).css('display','block'); // 댓글 파일 등록 출력
            	$('.deleteReplyFile').css('display','block'); //파일 삭제버튼 보이기
            	updateReply(replyId); // 댓글 수정 함수실행
            }); 
            
            //댓글 파일 등록버튼 클릭
            $('.updateReplyFile').on('click',function(e){ // 댓글파일 등록버튼 클릭
            	let replyId = $(this).val(); // .updateReplyFile에 있는 replyId 가져옴
            	let formData = new FormData(document.getElementById('updateReplyForm'+replyId));// FormData객체 생성하고 from입력값 넣기
				formData.append('replyId', replyId);//formData에 replyId추가하기
				 $.ajax({
				        url: '/all/updateReplyFile',
				        type: 'POST',
				        async: false,
				        processData: false, // 데이터 처리를 false로 설정
				        contentType: false, // 컨텐츠 타입을 false로 설정
				        data: formData, // FormData를 전송 데이터로 설정
				        success: function(result) {
				        	console.log("성공했다")
				            //$('#modal').modal('show'); // 등록완료 모달 출력
				            $('#replyFilesList'+replyId).empty(); // 댓글파일 초기화
				            replyFile(replyId); // 댓글 파일 출력
				            $('.deleteReplyFile').css('display','block'); //파일 삭제버튼 보이기
				        },
				        error: function(reject) {
				            $('#modalError').modal('show'); 
				        }
				    });
            	
			
            })
         },
         error: function(err){
            alert("replyList 실패");
         }
      });
   }
   

   //--------------------------
   // 댓글 등록 버튼 클릭 이벤트
   //--------------------------
   $('#insertBtn').on('click', addReply); 
   
   //--------------------------
   //댓글 등록 함수
   //--------------------------
   function addReply() {
      let replyContent = document.getElementById('replyContent'); // 댓글내용
      // 댓글 파일 업로드
      let formData = new FormData(document.getElementById('addReply')); // form에 입력한 값넣어서 formData 만들기
      if (replyContent.value == '') { // 내용이 빈칸이면
         $('#modalReply').modal('show'); // 입력하라는 모달
         replyContent.focus(); // 댓글입력창에 커서 띄우기
         return;
      } else {
         $.ajax({
            url : "/all/insertReply",
            type : "POST",
            processData : false, // QueryString(key=value)로 자동변환 무시
            contentType : false, // FormData가 가지고 있는 통신 정보를 사용
            data : formData,
            success : function(json) {
               $('#modal').modal('show'); //성공모달
               replyContent.value = ''; // 댓글 입력창 초기화
               replyList();// 댓글 목록 새로고침
            },
            error : function(err) {
               alert("addReply err");
            }
         });
      }
   }
   
   //--------------------------
   //댓글 파일 다운로드
   //--------------------------
   function replyFile(replyId){
	   
	   $.ajax({
		   url : "/all/replyfile",
		   type : "GET",
		   async : false,
		   data : {replyId : replyId},
		   success : function(data){
			   data.forEach(function(e){
				   let replyfile = 
					   `
					   <div id = "updateReplyFileList${e.replyId}">
					   		<input id="replyId${e.replyfileId}" type="hidden" value="${e.replyId}"> 
					   		<input id="replyfileId" type="hidden" value="${e.replyfileId}"> 
					   		<a href="/replydownload/${e.downloadLocation}">${e.replyfileName}</a> 
					   		<button id="deleteFile-${e.replyfileId}" value="${e.replyfileLocation}" type="button" class="close deleteReplyFile" style="float:left; display:none;" >&times;</button> 
					   </div>
					   `
					   		$('#replyFilesList'+e.replyId).append(replyfile); // 댓글파일 출력 div에 append
			   			deleteReplyFile(e.replyfileId) // 댓글파일 삭제함수
			   })
			  // let replyfileId = $('#replyfileId').val(); // 댓글파일 아이디 가져옴
		   },
		   error : function(err){
			 alert("replyfile err")  
		   }
	   });
   }
   
// 댓글 파일 삭제
   function deleteReplyFile(replyfileId){
	let replyId = $('#replyId'+replyfileId).val(); // 댓글아이디
   $('#deleteFile-'+ replyfileId).on('click',function(){ // 댓글파일 삭제버튼 클릭
   	let path = $(this).val(); // 파일경로 가져옴
   	$.ajax({
   		url: '/all/deleteReplyFile',
   		type:'post',
   		data:{replyfileLocation : path, replyfileId: replyfileId, replyId : replyId},
   		success:function(data){
   			console.log("deleteReplyFile OK"+data.replyId)
   			$('#replyFilesList'+data.replyId).empty(); // 댓글파일 리스트 초기화
   			replyFile(data.replyId); // 다시 출력
   			$('.deleteReplyFile').css('display','block'); // 파일삭제버튼 표시 유지
   		},
   		error:function(err){
   			alert('filedelete err')	
   		}
   	})
   	
   })
   }
   
   //--------------------------
   //댓글 수정 
   //--------------------------
  function updateReply(replyId){
     $('.contentUpdate-'+replyId).on('click',function(data){
	  	let content = $('.replyContent-'+replyId).val();
	  	let date = $('.replyDate-'+replyId).val();
		$('#replyFiles-'+replyId).css('display','block'); // 업로드 버튼
		$.ajax({
			url:"/all/updateReply",
			type:'PUT',
			data: {replyContent : content, replyId :replyId, date : date},
			success:function(data){
				$('#modal').modal('show');
				$('#replyUpdate-'+replyId).prop('readonly',true);
				//$('.replyfiles-'+ replyId).empty();
				replyList(); // 댓글 출력
				$('#replyFilesList'+replyId).empty(); // 댓글 파일 초기화
				replyFile(replyId); // 댓글파일 출력
			},
			error : function(err){
				alert("update err")
			}
		})
		
	})   
   }
   

  

    //-------------------
    // 대댓글 리스트
    //-------------------
   function commentList(comments){
	   
	        	 
	        	 comments.forEach(function(e){
	        		 
	        		 let commentDate = formatDate(e.commentDate);
	        		   let comments =
	        			 `<div>
	        		   		<input class="commentLogName" type="hidden" value="${e.commentWriter}">
	        			 	<input class="commentContent-${e.commentId}" type="text" value="${e.commentContent}" readonly >
	        			 	<p>작성자: ${e.commentWriter}</p>
	        			 	<button type="button" class="main-btn warning-btn   btn-hover replyContentUpdate-${e.commentId}" style="display: none;"	>수정</button>
	        			 	<p >대댓글 작성일자 : ${commentDate}</p>
	        			 	<button class="main-btn light-btn   btn-hover logName commentLogName-${e.commentWriter}" type="button" onclick="(deleteComment(${e.commentId}))">답글 삭제</button>
	        			 	<button class="main-btn warning-btn   btn-hover cUpdateBtn logName commentLogName-${e.commentWriter}" type="button" id="cUpdateBtn" value="${e.commentId}">답글 수정</button>
	        			 </div>
	        			 `
	        		 $('#comments-'+e.replyId).append(comments);
	        	 });
	        	 
	        	 
	              
	              // 답글 수정
	        	  $('.cUpdateBtn').on('click',function(e){
	        		  let commentId = $(this).val();
	             	$('.commentContent-'+ commentId).prop('readonly',false);
	             	$('.commentContent-'+commentId).css('backgroundColor','yellow');
	            	$('.replyContentUpdate-'+commentId).css('display','block');
	            	replyUpdate(commentId);
	             }) 
	   } 
   //--------------------------
   //대댓글 수정 
   //--------------------------
  function replyUpdate(commentId){
  $('.replyContentUpdate-'+commentId).on('click', function(data){
	   let content = $('.commentContent-'+commentId).val();
	  $.ajax({
			url:"/all/updateComment",
			type:'PUT',
			data: {content : content, commentId : commentId},
			success:function(data){
				$('#modal').modal('show');
				$('.cUpdateContent').val('');
				replyList();
			},
			error : function(err){
				alert("update err")
			}
		})
   });
   }
   
   //--------------------------
   //대댓글 등록
   //--------------------------
   function addComment(replyId){
	   let content = $('#comment-'+replyId).val(); 
	   console.log("대댓글 내용 = " + content);
	   
	    if (content =='') {
	        $('#modalReply').modal('show');
	        replyContent.focus();
	        return;
	    } else{
	    	
	   $.ajax({
		   url: '/all/insertComment',
		   type: 'post',
		   data :{replyId:replyId , content:content} ,
		   success: function(data){
			 $('#modal').modal('show');
			 content.value='';
			 replyList();
		   },
		   error : function(err){
			   alert('addComment err');
		   }
	   });  
	   }
   } 
   
   //--------------------------
   //대댓글 삭제
   //--------------------------
   function deleteComment(commentId){
	   
	   $.ajax({
		   url: "/all/deleteComment",
		   type: "delete",
		   data: {commentId : commentId},
		   success: function(data){
			   $('#deleteOK').modal('show');
			   replyList();
		   },
		   error: function(err){
			   alert("deleteComment err");
		   }
	   });
   }
   
   //--------------------------
   //댓글 삭제
   //--------------------------
 	function deleteReply(replyId){
 		 $.ajax({
 			   url: "/all/deleteReply",
 			   type: "delete",
 			   data: {replyId : replyId},
 			   success: function(data){
 				   $('#deleteOK').modal('show');
 				   replyList();
 			   },
 			   error: function(err){
 				   alert("deleteReply err");
 			   }
 		   });
   }
 	
 	
   //--------------------------
   // 답글 입력 창 보이기 함수
   //--------------------------
   function showReplyInput(replyId) {
       let replyInput = document.getElementById(replyId); 
      
      if (replyInput.style.display === 'none') {
         replyInput.style.display = 'block';
      } else {
         replyInput.style.display = 'none';
      }
   }
   
 	//--------------------------
   // 날짜 포맷 변환 함수
   //--------------------------
   function formatDate(date) {
      var d = new Date(date),
          month = '' + (d.getMonth() + 1),
          day = '' + d.getDate(),
          year = d.getFullYear();

      if (month.length < 2) month = '0' + month;
      if (day.length < 2) day = '0' + day;

      return [year, month, day].join('-');
   } 



  

</script>
</html>