<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<head>
<meta charset="UTF-8">
<title>과제 생성</title>
<style>
#btnWrap {
	width: 500px;
	margin: 50px auto;
}

#popupBtn {
	width: 150px;
	height: 50px;
	padding: 10px 5px;
	background-color: #007bff;
	color: #fff; /* 텍스트 색상을 지정하세요 */
	border: none; /* 테두리 제거 */
	cursor: pointer;
}

#closeBtn {
	float: center;
	font-weight: bold;
	color: white;
	font-size: 25px;
	cursor: pointer;
	margin-top: 150px;
	margin-left: 150px;
}

#saveBtn {
	color: white;
	font-size: 13px;
	cursor: pointer;
	margin-top: 150px;
	margin-left: 150px;
}

#date {
	float: left;
	width: 600px;
	height: 310px;
	thight: 500px;
	padding: 30px 30px;
	margin: 0;
}

#file {
	float: left;
	width: 600px;
	height: 310px;
	thight: 500px;
	padding: 30px 30px;
	margin: 0;
}

#cancelBtn {
	background-color: silver;
	padding: 10px 30px;
}
#homeworkInsertBtn {
	padding: 10px 30px;
    margin-right: 10px;
}
</style>
</head>
<body>
	<div style="margin: 20px; padding-bottom: 20px;">
		<div class="card-style">
			<div class="title mb-30">
				<h6>과제 등록</h6>
			</div>
			<!-- 입력시작 -->
			<form method="post" id="insertForm" name="insertForm" th:object="${homeworkVO}"
				enctype="multipart/form-data">
				<div class="row">
					<div class="col-12">
						<select th:field="*{subjectId}">
							<option th:each="subjectList : ${subject}"
								th:value="${subjectList.subjectId}">
								[[${subjectList.subjectName}]]</option>
						</select>
					</div>
					<!-- 강의실 -->
					<div class="col-12">
						<div class="input-style-1">
							<input type="hidden" th:field="*{curriculumId}">
						</div>
					</div>

					<!-- 제목입력  -->
					<div class="col-12">
						<div class="input-style-1">
							<label>과제 제목</label> <input type="text"
								placeholder="과제 제목을 입력하세요." th:field="*{homeworkTitle}">
						</div>
					</div>
					<!-- 내용입력 -->
					<div class="col-12">
						<div class="input-style-1">
							<label>과제 내용</label>
							<textarea placeholder="과제 내용을 입력하세요" rows="6"
								th:field="*{homeworkContent}"></textarea>
						</div>
					</div>

					<!-- 제출기한 -->
					<div class="col-5">
						<div id="date" class="card-style mb-30">
							<h6 class="mb-25">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">제출 기한 설정</font>
								</font>
							</h6>
							<div class="input-style-1">
								<label>
									<font style="vertical-align: inherit;">
								    	<font style="vertical-align: inherit;">날짜</font>
								    </font>
								</label> 
								<input type="date"	th:field="*{homeworkDate}">
							</div>
							<div>
								<font style="vertical-align: inherit;">
										<font style="vertical-align: inherit;">과제 파일 등록</font>
								</font>
								<input type="file" name="uploadFiles" multiple="multiple">
							</div>
						</div>
						<!-- 파일 업로드 -->
							<!-- <div id="file" style="padding: 50px;" class="card-style mb-30">
								<font style="vertical-align: inherit;">
									<font style="vertical-align: inherit;">과제 파일 등록</font>
								</font>
								<input type="file" name="uploadFiles" multiple="multiple">
							</div> -->
					</div>
					<!-- 등록 취소버튼 -->
					<div id="btnWrap" class="col-12" style="text-align: center;">
						<button id="homeworkInsertBtn" class="main-btn primary-btn btn-hover"
								type="button">등록</button>
						<button id="cancelBtn" class="main-btn primary-btn btn-hover"
								type="button" onclick="location.href='homework_T'">취소</button>
					</div>
				</div>
			</form>
		</div>
		<!-- end card -->
	</div>
	<!-- 입력 끝  -->

	<!-- 모달창 시작 -->
	<!-- 등록완료 모달창 -->
	<div id="modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 완료</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">등록이 완료되었습니다.</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/registration.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='checkBtn' type="button" class="btn btn-primary"
						onclick="location.href='/admin/homework_T'">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 과제 제목 모달창 -->
	<div id="modalTitle" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 실패</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">과제 제목을 입력하세요!</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/failed.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='checkBtn' type="button" class="btn btn-primary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 제출기한 모달창 -->
	<div id="modalDate" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 실패</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">제출기한을 설정하세요!</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/failed.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='checkBtn' type="button" class="btn btn-primary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 저장완료 모달창 -->
	<div id="modalFile" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">저장 완료</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">파일이 저장되었습니다.</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/registration.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='checkBtn' type="button" class="btn btn-primary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Error 모달창 -->
	<div id="modalError" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">Error</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;"></p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/failed.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='errorBtn' type="button" class="btn btn-primary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 모달창 끝 -->
	
	
	<script>
		$('#homeworkInsertBtn').on('click', ajax);

		function ajax() {
			// 파일외 입력태그
			let title = document.getElementById('homeworkTitle');
			let content = document.getElementById('homeworkContent');
			let date = document.getElementById('homeworkDate');
			
			// 파일 업로드
			let formData = new FormData(document.getElementById('insertForm'));
			
			 if (title.value == '') {
				// $('#modalTitle').modal('show');
				Swal.fire({
					icon: 'error',
					text: '제목을 입력하세요!',
					confirmButtonText: '확인',
				}).then((result) => {
					title.focus();
				});
				
				return;
			} else if (content.value == '') {
				Swal.fire({
					icon: 'error',
					text: '내용을 입력하세요!',
					confirmButtonText: '확인',
				}).then((result) => {
					content.focus();
				});
				
				return;
			} else if (date.value == '') {
				// $('#modalDate').modal('show');
				Swal.fire({
					icon: 'error',
					text: '기한을 입력하세요!',
					confirmButtonText: '확인',
				}).then((result) => {
					date.focus();
				});
				
				return;
			} 
			
			//ajax
			$.ajax({
				url:'/admin/homeworkInsert',
				type:'POST',
				processData: false, // QueryString(key=value)로 자동변환 무시
				contentType: false, // FormData가 가지고 있는 통신 정보를 사용
				data: formData,
				success:  function(result) {
					Swal.fire({
						icon: 'success',
						text: '과제 등록이 완료되었습니다.',
						confirmButtonText: '확인',
					}).then((result) => {
						location.href='/admin/homework_T';
					});
				},
				error: function(reject) {	
					// $('#modalError').modal('show');
					Swal.fire({
						icon: 'error',
						text: '과제 등록 실패!',
						confirmButtonText: '확인',
					}).then((result) => {
						location.href='/admin/homework_T';
					});
	            }
			})
			
		};

	</script>
</body>
</html>