<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">

<main class="main-wrapper">
	<!-- Error 모달창 -->
	<div id="modalReply" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 실패</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">댓글을 입력해주세요!</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/failed.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='errBtn' type="button" class="btn btn-primary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 등록완료 모달창 -->
	<div id="modal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 완료</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">등록이 완료되었습니다.</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/registration.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='okBtn' type="button" class="btn btn-primary close"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 대댓글 내용 확인 모달창 -->
	<div id="commentCentent" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- 모달 헤더 -->
				<div class="modal-header">
					<h5 class="modal-title">등록 실패</h5>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<!-- 모달 본문 -->
				<div class="modal-body">
					<p style="text-align: center;">대댓글을 입력해주세요!</p>
					<div style="text-align: center;">
						<img alt="등록완료버튼" th:src="@{/images/failed.png}">
					</div>
				</div>
				<!-- 모달 푸터 -->
				<div class="modal-footer">
					<button id='errBtn' type="button" class="btn btn-primary"
						data-dismiss="modal">확인</button>
				</div>
			</div>
		</div>
	</div>

	<div th:each="homeworkInfo : ${homeworkList}">
		<div style="border: 1px solid black;">
			<div id ="test"class="col-12" style="text-align: left;">
			
				<button class="main-btn primary-btn btn-hover commentInsertBtn"
					type="button">test</button>
			</div>
			<hr>
			<h1>제목</h1>
			<p>[[${homeworkInfo.homeworkTitle}]]</p>
			<p style="float: right;">[[${#dates.format(homeworkInfo.homeworkDate,'yyyy년MM월dd일')}]]</p>
			<hr>
			<h2>내용</h2>
			<hr>
			<p>[[${homeworkInfo.homeworkContent}]]</p>
			<th:block th:each="file : ${files}">
				<p>
					<a th:href="|@{/homeworkdownload}/${file.downloadLocation}|">[[${file.homeworkfileName}]]</a>
				</p>
			</th:block>
			
		</div>
		<div style="border: 1px solid black;">
			<h3>댓글</h3>
			<div id="replyList">
			<div id="replies"></div>
				<!-- 댓글출력 -->
				<div id ="replyList" th:each="reply : ${homeworkList.replyList}"
					style="border: 1px solid black;">
					<p>댓글 내용 : [[${reply.replyContent}]]</p>
					<p>작성자 : [[${reply.replyWriter}]]</p>
					<p>작성일자 : [[${#dates.format(reply.replyDate,'yyyy년MM월dd일')}]]</p>
					<th:block th:each="replyfiles : ${replyfile}">
						<p>
							<a th:href="|@{/replydownload}/${replyfiles.downloadLocation}|">[[${replyfiles.replyfileName}]]</a>
						</p>
					</th:block>
					<hr>
					<!-- 대댓글 출력 -->
					<div th:each="comment : ${reply.commentList}"
						style="border: 1px solid black;">
						<p>대댓글 내용 : [[${comment.commentContent}]]</p>
						<p>작성일자 :
							[[${#dates.format(comment.commentDate,'yyyy년MM월dd일')}]]</p>

					</div>
					<!-- 대댓글 출력 끝-->
					<!-- 댓글출력 끝 -->
					<div id="commentInsert" class="col-12 " style="text-align: right;">
						<button class="main-btn primary-btn btn-hover commentBtn "
							type="button">답글</button>

						<!-- 대댓글 등록 -->
						<form class="insertComment" id="addComment" method="post"
							th:action="@{/insertComment}" th:object="${homeworkList}">
							<input type="hidden" name="replyId" th:value="${reply.replyId}">
							<input type="hidden" th:field="*{homeworkId}">
							<textarea name="commentContent" style="border: 1px solid black;"
								rows="8" cols="50" placeholder="내용을 입력하세요"
								th:field="*{commentContent}"></textarea>
							<div class="col-12" style="text-align: left;">
								<button class="main-btn primary-btn btn-hover commentInsertBtn"
									type="submit">답글 등록</button>
							</div>
						</form>
						<!-- 대댓글 등록 끝 -->
					</div>
				</div>
			</div>

			<!-- end reply  -->
			<h3>댓글 작성</h3>
			<form name="insertReply" id="addReply" method="post"
				th:object="${homeworkList}" enctype="multipart/form-data">
				<input id="targetId" type="hidden" th:field="*{homeworkTargetId}"> <input
					type="hidden" th:field="*{homeworkId}">
				<textarea style="border: 1px solid black;" rows="8" cols="50"
					placeholder="내용을 입력하세요" th:field="*{replyContent}"></textarea>
				<div class="col-12" style="text-align: center;">
					<input type="file" name="uploadFiles" multiple>
					<button id="insertBtn" class="main-btn primary-btn btn-hover"
						type="button">등록</button>
				</div>
			</form>
		</div>
	</div>
</main>

<script>
	//댓글 목록
	replyList();
	
	function replyList(){
		let targetId =  $('#targetId').val(); 
		
		console.log(targetId)
		
		$.ajax({
			url : "replyList",
			type : "GET",
			data : {targetId:targetId} ,
			success : function(data){
				data.forEach(function(e){
					let replyDate = formatDate(e.replyDate);
					let replyList = 

					`
						<p>댓글 내용 : ${e.replyContent}</p>
						<p>작성자 : ${e.replyWriter}</p>
						<p class ="replyDate"></p>
						
					`
					formatDate($(".replyDate").text(e.replyDate));
					
						$('#replyList').append(replyList);
						$(".replyDate").text(replyDate);
				})
			},
			error: function(err){
				alert("실패");
			}
		});
		
	}
	
	//날짜 포멧 변환 함수
	 function formatDate(date) {
	     var d = new Date(date),
	         month = '' + (d.getMonth() + 1),
	         day = '' + d.getDate(),
	         year = d.getFullYear();

	     if (month.length < 2) month = '0' + month;
	     if (day.length < 2) day = '0' + day;

	     return [year, month, day].join('/');
	 } 
	
	
	//댓글 등록
	$('#insertBtn').on('click', addReply); 

	function addReply() {
		
		// 댓글내용 없을 시 모달띄움
		let replyCentent = document.getElementById('replyContent');
		let commentContent = document.getElementById('commentContent');

		//파일 업로드
		let formData = new FormData(document.getElementById('addReply'))
		if (replyCentent.value == '') {
			$('#modalReply').modal('show');
			replyCentent.focus();
			return;
		} else {
			$.ajax({
				url : "insertReply",
				type : "POST",
				processData : false, // QueryString(key=value)로 자동변환 무시
				contentType : false, // FormData가 가지고 있는 통신 정보를 사용
				data : formData,
				success : function(json) {
					let replyDate = formatDate(json.replyDate);
					$('#modal').modal('show');
					
					let addReply = 
					`
						<div>
							<p>댓글 내용 : ${json.replyContent}</p>
							<p>작성자 : ${json.replyWriter} </p>
							<p class="replyDate"></p>
						</div>
					`
					$('#replies').append(addReply);
					$('.replyDate').text(replyDate);
				},
				error : function(err) {
					alert("error");
				}
			});

		}
	}
	 $('#test').on('click',replyList);
	 
	
	

	// 대댓글 등록
	/* $('.commentInsertBtn').on('click', addComment);

	function addComment() {
		let formValues = $('form[class="insertComment"]').serialize();

		if (commentContent.value == '') {
			$('#commentCentent').modal('show');
			commentCentent.focus();
			return;
		} else {

			$.ajax({
				url : "insertComment",
				type : "POST",
				data : formValues,
				success : function(json) {
					$('#modal').modal('show');
				},
				error : function(err) {
					$('#modalError').modal('show');
				}
			});
		}
	} */
</script>
</html>