<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.row {
	width: 100%;
}
.center {
  text-align: center;
  width: 60%;
  margin: auto;
}

.homeworkPaging {
  display: inline-block;
}

.homeworkPaging a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  /*border: 1px solid #ddd;*/
  /*margin: 0 4px;*/
}

.homeworkPaging a.active {
  background-color: #365CF5;
  color: white;
  border: 1px solid #365CF5;
}

.homeworkPaging a:hover:not(.active) {
	background-color: #ddd;
}
</style>
<script>
	
</script>
<h1>과제 목록 교수</h1>
<div class="row">
	<div class="col-10">
		<div style='float: right;'>
			<a href="/admin/selectClass" class=" primary-btn rounded-full btn-hover"
				style='padding: 10px;'> <font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">+ 과제</font>
			</font>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-10">
		<div class="card-style mb-30">
			<h1 class="mb-30">과제 목록</h1>
			<div class="select-style-1" style="position: relative; margin-bottom: 15px;">
				<label>강의실 선택</label>
				<div class="select-position" style="width: 250px;">
					<select name="" id="chooseClass">
						<option value="0">전체 강의실</option>
						<th:block th:each="class : ${classId}">
							<option th:value="${class.classId}" th:text="${class.classId + ' 강의실'}"></option>
						</th:block>
					</select>
				</div>
				<!-- 과제 검색 -->
				<div class="input-style-1" style="position: absolute; top: 43px; right: 20px;">
					<input name="id" id="searchHomework" type="text" placeholder="과제명 검색" style="padding: 10px; width: 250px;">
					<img style="position: absolute; top: 12px; right: 10px; width: 20px; opacity: 0.5;" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
				</div>
			</div>
			
			
			
			<div class="table-wrapper table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th><h6>강의실</h6></th>
							<th><h6>과제명</h6></th>
							<th><h6>과목명</h6></th>
							<th><h6>마감일</h6></th>
							<!-- <th><h6>진행상태</h6></th> -->
						</tr>
					</thead>
					<tbody id="homeworkBody">
						
					</tbody>
				</table>
				<div class="center">
				    <div class="homeworkPaging">
						
				    </div>
				</div>
			</div>
		</div>
		<!-- end card -->
	</div>
	<!-- end col -->
</div>

<script>
	//날짜 포멧 변환 함수
	function formatDate(dateString) {
		var date = new Date(dateString);
	    var year = date.getFullYear().toString().substr(2, 2); // 연도의 마지막 두 자리
	    var month = (date.getMonth() + 1).toString().padStart(2, '0'); // 월은 0부터 시작하므로 +1, 두 자리로 맞추기
	    var day = date.getDate().toString().padStart(2, '0'); // 두 자리로 맞추기
	    
	    return `${year}.${month}.${day}`;
	}
	
	//--------------------------------------------
	// DOM 요소들이 전부 로드되고 나서 아래 이벤트들 실행
	//--------------------------------------------
	$(document).ready(function() {
		$('#chooseClass').off('change').on('change', function() {
			filterHomeworks(1);
		});
	
	    $('#searchHomework').off('keyup').on('keyup', function(e) {
	    	filterHomeworks(1); // 검색어 입력하거나 지울 시 실시간으로 데이터 변경후 페이지 1로 고정
	    });
		
		filterHomeworks(1);	   
	});
	
	//--------------------------------------------
	// 현재 과제 리스트(필터링)
	//--------------------------------------------
	function filterHomeworks(page) {
	    var filter = $('#chooseClass').val();
	    var searchQuery = $('#searchHomework').val();

	    $.ajax({
	        url: '/admin/filterHomeworks',
	        type: 'GET',
	        data: {
	            page: page,
	            filter: filter,
	            searchQuery: searchQuery
	        },
	        success: function(response) {
	            updateHomeworks(response.homeworks);
	            homeworkPagination(response.page, page);
	        },
	        error: function(error) {
	            console.error('Error:', error);
	        }
	    });
	}

	//--------------------------------------------
	// 필터링으로 인한 과제 리스트 변경(목록 업데이트)
	//--------------------------------------------
	function updateHomeworks(homeworks) {
	    var tbody = $('#homeworkBody');
	    tbody.empty();

	    homeworks.forEach(function(homework) {
			var tr = $('<tr></tr>');
			console.log(homework.homeworkId)
	        var tdClassId = $('<td></td>').text(homework.classId);
	        tr.append(tdClassId);

	        var tdTitle = $('<td></td>').text(homework.homeworkTitle);
	        tr.append(tdTitle);

	        var tdSubject = $('<td></td>').text(homework.subjectName);
	        tr.append(tdSubject);

	        var formattedDate = formatDate(homework.homeworkDate); // 날짜 포맷 변환
	        var tdDate = $('<td></td>').text(formattedDate);
	        tr.append(tdDate);
			
	        $('#homeworkBody').append(tr);
	        $(tr).attr('onclick','location.href="/all/homeworkInfo?homeworkId='+ homework.homeworkId + '"')
	    });
	}

	//--------------------------------------------
	// 페이지네이션 함수
	//--------------------------------------------
	function homeworkPagination(pageDTO, currentPage) {
	    var pagination = $('.homeworkPaging');
	    pagination.empty();

	    if (pageDTO.prev) {
	        pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.starPage - 1) + '">&laquo;</a>');
	    }

	    for (let p = pageDTO.starPage; p <= pageDTO.endPage; p++) {
	        var pageLink = $('<a href="javascript:void(0)" data-page="' + p + '">' + p + '</a>');

	        if (p === currentPage) {
	            pageLink.addClass('active');
	        }

	        pageLink.on('click', function() {
	            filterHomeworks(p);
	        });

	        pagination.append(pageLink);
	    }

	    if (pageDTO.next) {
	        pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.endPage + 1) + '">&raquo;</a>');
	    }
	}
</script>
</html>