<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
li{
	display:inline;
}
#fsc{
	width: auto;
}
.selectClass{
	padding:10px;	
	border: 1px solid #E2E2E2;
	width:300px;
}
</style>
</head>
<div>
	<div id="fsc" class="card-style">
		<div>
			<ul>
				<li>
					<div  class="selectClass">
					<h1>1강의실</h1>
						<hr>
						
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
</html>