<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/admin_layout}"
	  layout:fragment="Admin">
	<style>
		tr img {
			width: 80px;
		    max-width: 100%;
		    overflow: hidden;
		    margin-right: 15px;
		}
		
		.center {
		  text-align: center;
		  width: 60%;
		  margin: auto;
		}
		
		.adminPaging {
		  display: inline-block;
		}
		
		.adminPaging a {
		  color: black;
		  float: left;
		  padding: 8px 16px;
		  text-decoration: none;
		  transition: background-color .3s;
		  /*border: 1px solid #ddd;*/
		  /*margin: 0 4px;*/
		}
		
		.adminPaging a.active {
		  background-color: #1A2142;
		  color: white;
		  border: 1px solid #1A2142;
		}
		
		.adminPaging a:hover:not(.active) {
			background-color: #ddd;
		}
	</style>
	<script>
		function formatDate(date) {
			var d = new Date(date), month = '' + (d.getMonth() + 1), day = ''
					+ d.getDate(), year = d.getFullYear();
	
			if (month.length < 2)
				month = '0' + month;
			if (day.length < 2)
				day = '0' + day;
	
			return [ year, month, day ].join('-');
		} 
		var today = new Date();
		var today1 = formatDate(today);
		
		//--------------------------------------------
		// 유저 정보 모달창에 출력
		//--------------------------------------------
		function fetchUserDetails(userId) {
	        // AJAX 요청
	        var xhr = new XMLHttpRequest();
	        xhr.open('GET', '/admin/userDetails?userId=' + userId, true);
	        xhr.onreadystatechange = function() {
	            if (xhr.readyState == 4 && xhr.status == 200) {
	                var user = JSON.parse(xhr.responseText);
	                console.log(user);
	                
	                document.getElementById('userName').textContent = user.name;
					if (user.userType == 'ROLE_LEARN') {
						document.getElementById('userType').innerText = '수강생'
					} else if (user.userType == 'ROLE_GRAD') {
						document.getElementById('userType').innerText = '수료생'
					}
	                document.getElementById('userId').textContent = user.id;
	                document.getElementById('userEmail').textContent = user.email;
	                document.getElementById('userTel').textContent = user.tel;
	                document.getElementById('userImage').src = '/images/profile/' + user.profileImageLocation;
	
	                document.querySelector('.infoModal').style.display = 'block';
	                document.querySelector('.approveUserBtn').style.display = 'none';
	                
	                // 삭제버튼
	                document.querySelector('.delUserBtn').addEventListener('click', function() {
	                	if (confirm('삭제하시겠습니까?')) {
	                		var xhr = new XMLHttpRequest();
					        xhr.open('GET', '/admin/removeUser?userId=' + userId, true);
					        xhr.onreadystatechange = function() {
					            if (xhr.readyState == 4 && xhr.status == 200) {
					                var user = JSON.parse(xhr.responseText);
					
					                document.querySelector('.infoModal').style.display = 'none';
					                location.reload();
					            }
					        };
					        xhr.send();

			                alert('성공적으로 삭제되었습니다!');
	                	} else {
	                		return;
	                	}
	                	
	                });
	            }
	        };
	        xhr.send();
	    }
		
		// 회원가입 신청한 유저 정보 모달 출력
		function fetchReqDetails(registerId) {
	        // AJAX 요청
	        var xhr = new XMLHttpRequest();
	        xhr.open('GET', '/admin/reqDetails?registerId=' + registerId, true);
	        xhr.onreadystatechange = function() {
	            if (xhr.readyState == 4 && xhr.status == 200) {
	                var user = JSON.parse(xhr.responseText);
	                console.log(user);
	                
	                document.getElementById('userName').textContent = user.name;
	                document.getElementById('userType').innerText = user.userType;
	                document.getElementById('curriculumId').textContent = user.curriculumName;
	                document.getElementById('userEmail').textContent = user.email;
	                document.getElementById('userTel').textContent = user.tel;
	                document.getElementById('userImage').src = '/images/profile/' + user.profileImageLocation;
	
	                document.querySelector('.infoModal').style.display = 'block';
	                document.querySelector('.approveUserBtn').style.display = 'inline-block';
	                
	                // 삭제버튼
	                document.querySelector('.delUserBtn').addEventListener('click', function() {
	                	if (confirm('삭제하시겠습니까?')) {
	                		var xhr = new XMLHttpRequest();
					        xhr.open('GET', '/admin/refuseUser?registerId=' + registerId, true);
					        xhr.onreadystatechange = function() {
					            if (xhr.readyState == 4 && xhr.status == 200) {
					                var user = JSON.parse(xhr.responseText);
					
					                document.querySelector('.infoModal').style.display = 'none';
					                location.reload();
					            }
					        };
					        xhr.send();

			                alert('성공적으로 삭제되었습니다!');
	                	} else {
	                		return;
	                	}
	                	
	                });
	                
	                // (모달)회원가입 승인버튼
	                document.querySelector('.approveUserBtn').addEventListener('click', function() {
	                	if (confirm('회원가입을 승인하시겠습니까?')) {
	                		var xhr = new XMLHttpRequest();
	        		        xhr.open('GET', '/admin/insertUser?registerId=' + registerId, true);
	        		        xhr.onreadystatechange = function() {
	        		            if (xhr.readyState == 4 && xhr.status == 200) {
	        		                var user = JSON.parse(xhr.responseText);
	        		                console.log(user);
	        		                
	        		                /* document.querySelector('.approveBtn').style.display = 'none';
	        		                document.querySelector('.approved').style.display = 'inline-flex'; */
	        		                
	        		                closeInfoModal();
	        		            }
	        		        };
	        		        xhr.send();
	        		        
	                        alert('회원가입을 승인했습니다!');
	                        location.reload();
	        			} else {
	        				return;
	        			}
	                });
	            }
	        };
	        xhr.send();
	    }
		
		function closeInfoModal() {
			document.querySelector('.infoModal').style.display = 'none';
		}

		function openAddModal() {
			document.querySelector('.addModal').style.display = 'block';
		}
		function closeAddModal() {
			document.querySelector('.addModal').style.display = 'none';
		}
		
		
		
		// 회원가입 승인
		function approveRegister(registerId) {
			if (confirm('회원가입을 승인하시겠습니까?')) {
				var xhr = new XMLHttpRequest();
		        xhr.open('GET', '/admin/insertUser?registerId=' + registerId, true);
		        xhr.onreadystatechange = function() {
		            if (xhr.readyState == 4 && xhr.status == 200) {
		                var user = JSON.parse(xhr.responseText);
		                console.log(user);

		            }
		        };
		        xhr.send();
		        
                alert('회원가입을 승인했습니다!');
                location.reload();
			} else {
				return;
			}
			
		}

		function approveAll() {
	        var checkedItems = document.querySelectorAll('input[name="checkReqItem"]:checked');
	        var registerIds = Array.from(checkedItems).map(item => item.value);
			
			if (confirm("체크한 모든 인원을 승인하시겠습니까?")) {
				if (registerIds.length > 0) {
					var xhr = new XMLHttpRequest();
					xhr.open("POST", "/admin/insertCheckedUsers", true);
					xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
					xhr.onreadystatechange = function () {
						if (xhr.readyState == 4 && xhr.status == 200) {
							alert("선택된 항목들이 성공적으로 승인되었습니다.");
							location.reload();
						} else if (xhr.readyState == 4) {
							alert("승인 중 오류가 발생했습니다.");
						}
					};
					xhr.send(JSON.stringify({ registerIds: registerIds }));
				} else {
					alert('승인할 항목을 선택하세요.');
				}
			}
	        
	    }
		
		// 회원가입 요청 체크박스 전체체크
		function checkAll(item) {
	        checkboxes = document.getElementsByName('checkReqItem');
	        for (var i in checkboxes) {
	            checkboxes[i].checked = item.checked;
	        }
	    }
		
		var isRequestInProgress = false;
		
		//--------------------------------------------
		// 현재 유저 리스트(필터링)
		//--------------------------------------------
		function filterUsers(page, searchQuery) {
			// 중복 실행 원인 때문에 프로세스 중단 임의로 한 번만 실행되게 막아둠
			if (isRequestInProgress) {
		        return;
		    }
			isRequestInProgress = true;
			
		    var filter = $('#userFilter').val();
			
			// 검색 변수
			searchQuery = searchQuery || $('#searchInput').val();
			
		    $.ajax({
		        url: '/admin/filterUsers',
		        type: 'GET',
		        data: {
		            page: page,
		            filter: filter,
					searchQuery: searchQuery
		        },
		        success: function(response) {
		            updateUsers(response.users);
		            updatePagination(response.page, page);
		        },
		        error: function(error) {
		            console.error('에러: ', error);
		        },
				complete: function() {
					isRequestInProgress = false;
				}
		    });
		}
		
		//--------------------------------------------
		// 필터링으로 인한 유저 리스트 변경(목록 업데이트)
		//--------------------------------------------
		function updateUsers(users) {
			var tbody = document.getElementById('userInfoTable');
            tbody.innerHTML = ''; // 이전 내용 지우기
			
			users.forEach(user => {
                var tr = document.createElement('tr');
                
                var tdUserId = document.createElement('td');
                tdUserId.textContent = user.userId;
                tr.appendChild(tdUserId);

                var tdType = document.createElement('td');
                if (user.userType == 'ROLE_GRAD') {
                	tdType.textContent = '수료생';
                } else {
                	tdType.textContent = '수강생';
                }
                tr.appendChild(tdType);
                
                var tdName = document.createElement('td');
                tdName.textContent = user.name;
                tr.appendChild(tdName);
                
                /* var tdTel = document.createElement('td');
                tdTel.textContent = user.tel;
                tr.appendChild(tdTel); */
                var tdCourse = document.createElement('td');
                tdCourse.textContent = user.curriculumName;
                tr.appendChild(tdCourse);
                
                var tdEmail = document.createElement('td');
                tdEmail.textContent = user.email;
                tr.appendChild(tdEmail);
                
                /* var tdDate = document.createElement('td');
                tdDate.textContent = formatDate(user.curriculumStartDate) + ' ~ ' + formatDate(user.curriculumEndDate);
                tr.appendChild(tdDate); */
                
                var makeBtnTd = document.createElement('td');
                var tdInfoBtn = document.createElement('a');
                tdInfoBtn.className = "main-btn light-btn btn-hover";
                tdInfoBtn.style = "padding: 5px 10px;"
                tdInfoBtn.innerText = "상세보기";
                tdInfoBtn.onclick = function() {
                	fetchUserDetails(user.userId);
                }
                makeBtnTd.appendChild(tdInfoBtn);
                tr.appendChild(makeBtnTd);

                tbody.appendChild(tr);
            });
		}
	</script>
	
	<!-- 어드민페이지 내부 컨텐트 -->
	<div id="adminContainer" style="min-height: 1300px;">
		
		<div class="tables-wrapper">

            <div class="row">
            	<div class="col-lg-12">
              
              		<!-- 회원가입 신청한 유저 리스트 -->
					<div class="card-style mb-30 request_wrapper"  style="position: relative; padding: 0;">
						<div class="table-top-content" style="height: 120px;">
							<h2 class="mb-10" style="color: white; font-weight: normal;">회원가입 신청 관리</h6>
							<a href="#0" onclick="openAddModal()" class="modal_btn" style="background-color: #e96b56; padding: 7px; position: absolute; margin: 0; left: 15px; top: 70px;">수강생 정보 등록</a>
						</div>
						<div class="table-wrapper table-responsive" style="overflow-y: scroll; max-height: 500px;">
							<table class="table" style="padding: 0 30px;">
								<thead>
									<tr>
										<th>
											<input type="checkbox" value="checkAll" onclick="checkAll(this)">
										</th>
										<th>
											<h6>No</h6>
										</th>
										<th>
											<h6>유형</h6>
										</th>
										<th>
											<h6>이름</h6>
										</th>
										<th>
											<h6>연락처</h6>
										</th>
										<th>
											<h6>이메일</h6>
										</th>
										<th>
											<h6>상세정보</h6>
										</th>
										<th>
											<h6>승인유무</h6>
										</th>
									</tr>
								</thead>
								<tbody id="requestInfoTable">
									<tr th:each="req : ${requests}">
										<td>
											<input type="checkbox" name="checkReqItem" class="checkReqItem" th:value="${req.registerId}">
										</td>
										<td>
											<p>[[${req.registerId}]]</p>
										</td>
										<td>
											<p th:if="${req.userType} == 'ROLE_GRAD'">수료생</p>
											<p th:if="${req.userType} == 'ROLE_LEARN'">수강생</p>
										</td>
										<td>
											<p>[[${req.name}]]</p>
										</td>
										<td>
											<p>[[${req.tel}]]</p>
										</td>
										<td>
											<p>[[${req.email}]]</p>
										</td>
										<td>
											<a class="main-btn light-btn btn-hover" style="padding: 5px 10px;" th:onclick="'fetchReqDetails(' + ${req.registerId} + ')'">상세보기</a>
										</td>
										<td>
											<a th:onclick="'approveRegister(' + ${req.registerId} + ')'" href="#0" class="approveBtn main-btn dark-btn btn-hover" style="padding: 5px 10px;">승인하기</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div style="position: sticky; bottom: 0; width: 100%; padding: 10px; z-index: 99; background-color: white; box-shadow: 0px 0px 3px 0px #00000040;">
							<a href="#0" onclick="approveAll()" class="approveAllBtn main-btn dark-btn btn-hover" style="padding: 5px 10px;">일괄 승인</a>
						</div>
					</div>
               
                 
					<!-- 회원가입 된 유저리스트 -->
					<div class="card-style mb-30 request_wrapper" style="position: relative; max-height: 100%; padding: 0 0 30px 0;">
						<div class="table-top-content">
							<h2 class="mb-10" style="color: white; font-weight: normal;">회원 관리</h6>
							<div class="select-style-1" style="display: flex; position: relative; margin-top: 20px; margin-bottom: 10px; margin-left: -10px;">
								<div class="select-position" style="min-width: 140px;">
									<!-- <select name="userFilter" id="userFilter" style="padding: 10px; color: white; background-color: #e96b56;" onchange="filterUsers()">
										<option name="showAll" value="showAll" selected>전체</option>
										<option name="showGrad" value="showGrad">수료생</option>
										<option name="showLearn" value="showLearn">수강생</option>
									</select> -->
									<select name="userFilter" id="userFilter" style="padding: 10px; color: black; background-color: white;" onchange="filterUsers()">
										<option value="showAll" name="showAll">전체 과정</option>
										<th:block th:each="class : ${class}">
											<option th:value="${class.curriculumId}" th:name="${class.curriculumId}" th:text="${class.curriculumName + ' (' +class.curriculumStartDate + ' ~ ' + class.curriculumEndDate + ')'}"></option>
										</th:block>
									</select>
								</div>
							</div>
						</div>
						<div class="table-wrapper table-responsive" style="padding: 0 30px;"> <!-- overflow-y: scroll; max-height: 500px; -->
							<table class="table">
								<thead>
									<tr>
									<th>
										<h6>No</h6>
									</th>
									<th>
										<h6>유형</h6>
									</th>
									<th>
										<h6>이름</h6>
									</th>
									<th>
										<h6>수강명</h6>
									</th>
									<th>
										<h6>이메일</h6>
									</th>
									<th>
										<h6>상세정보</h6>
									</th>
									</tr>
								</thead>
								<tbody id="userInfoTable">
									<tr th:each="user : ${users}">
										<td>
											<p>[[${user.userId}]]</p>
										</td>
										<td>
											<p>[[${user.userType}]]</p>
										</td>
										<td>
											<p>[[${user.name}]]</p>
										</td>
										<td>
											<p>[[${user.tel}]]</p>
										</td>
										<td>
											<p>[[${user.email}]]</p>
										</td>
										<td>
											<a class="main-btn light-btn btn-hover" style="padding: 5px 10px;" th:onclick="'fetchUserDetails(' + ${user.userId} + ')'">상세보기</a>
										</td>
									</tr>
								</tbody>
							</table>
							
							<div class="center">
							    <div class="adminPaging">
							        <!--<th:block th:if="${page.prev}">
							            <a href="javascript:void(0)" th:onclick="filterUsers(${page.starPage - 1})">&laquo;</a>
							        </th:block>
							        <th:block th:each="p : ${#numbers.sequence(page.starPage, page.endPage)}">
							            <a id="page_id" href="javascript:void(0)" th:onclick="'filterUsers(' + ${p} + ')'">[[${p}]]</a>
										<a id="page_id" href="javascript:void(0)" th:onclick="'filterUsers(' + ${p} + ')'" th:classappend="${p == page.page ? 'active' : 'none'}">[[${p}]]</a>
							        </th:block>
							        <th:block th:if="${page.next}">
							            <a href="javascript:void(0)" th:onclick="filterUsers(${page.endPage + 1})">&raquo;</a>
							        </th:block>-->
							    </div>
							</div>
			                
			                <!-- 유저검색 -->
							<div class="input-style-1" style="position: absolute; bottom: -20px; left: 10px;">
								<input name="id" id="searchInput" type="text" placeholder="회원 검색" style="padding: 10px; width: 250px;">
								<img style="position: absolute; top: 12px; right: 10px; width: 20px; opacity: 0.5;" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
							</div>
						</div>
					</div>
            	</div>
          	</div>
		</div>
	
		<!-- 일괄등록 모달 -->
		<div class="addModal">
			<div class="add_modal_popup" style="min-width: 800px; min-height: 300px;">
				<div class="add_modal_title">
					<h4 style="color: white; font-weight: normal;">수강생 정보 등록</h4>
					<a href="" class="modal_close" onclick="closeAddModal()">X</a>
				</div>
				<input class="addStdBtn" type="file" name="file" id="file" accept=".csv" style="margin-left: 20px;">
    			<div class="add_table_wrapper" style="max-height: 400px; overflow-y: scroll; margin-bottom: 10px;">
					<table class="table" id="csv_table" style="padding: 10px;">
						<thead style="position: sticky; top: 0; background-color: white;">
							<tr>
								<!-- <th>
									<input type="checkbox" value="checkCsvAll" onclick="checkCsvAll(this)">
								</th> -->
								<th><h6 style="font-weight: 700;">이름</h6></th>
								<th><h6 style="font-weight: 700;">전화번호</h6></th>
								<th><h6 style="font-weight: 700;">이메일</h6></th>
							</tr>
						</thead>
						<tbody id="table-body">
							
						</tbody>
					</table>
    			</div>
			</div>
		</div>
		
		<!-- 상세정보 모달 -->
		<div class="infoModal">
			<div class="info_modal_popup" style="width: 600px; height: 550px;">
				<!--<div class="add_modal_title">
					<h4 style="color: white; font-weight: normal;">상세정보</h4>
				</div>-->
				<a href="#0" class="info_modal_close" onclick="closeInfoModal()">X</a>
			
				<div id="info_profile" class="info_profile_content">
					<div class="info_image_wrapper">
						<img class="info_image" id="userImage" src="">
					</div>
					<div class="">
						<span class="info_detail" id="userName" style="font-size: 20pt; width: 100%;"></span>
						<span class="info_detail" id="userType" style="color: #e96b56;"></span>
					</div>
				</div>
				<p style="color: darkgray; font-size: 15pt; padding: 10px;">Information</p>
				<div style="padding: 10px; display: flex; flex-wrap: wrap; justify-content: center;">
					<div class="info_user_detail">
						<!--<p class="info_type">아이디</p>-->
						<img src="/images/userid.png" style="width: 40px; height: 50px;">
						<div class="info_line"></div>
						<span class="info_detail" id="userId"></span>
					</div>
					
					<div class="info_user_detail">
						<!--<p class="info_type">연락처</p>-->
						<img src="/images/phone.png" style="width: 30px; height: 40px;">
						<div class="info_line"></div>
						<span class="info_detail" id="userTel"></span>
					</div>
					
					
					<div class="info_user_detail">
						<!--<p class="info_type">수강 정보</p>-->
						<img src="/images/course.png" style="width: 35px; height: 50px;">
						<div class="info_line"></div>
						<span class="info_detail" id="curriculumId"></span>
					</div>
				
				 	<!--<p class="info_type">수강 기간: <span id="curriculumDate"></span></p> -->
					<div class="info_user_detail">
						<!--<p class="info_type">이메일</p>-->
						<img src="/images/email.png" style="width: 35px; height: 50px;">
						<div class="info_line"></div>
						<span class="info_detail" id="userEmail"></span>
					</div>
				</div>
				<div class="download_all">
					<a href="#0" class="approveUserBtn main-btn dark-btn btn-hover" style="padding: 7px 5px; display: none;">승인하기</a>
					<a href="#0" class="delUserBtn main-btn danger-btn btn-hover" style="padding: 7px 5px;">회원삭제</a>
				</div>
			</div>
		</div>
		
	</div>
		
	<script>
		//--------------------------------------------
		// CSV 파일 등록 모달 출력
		//--------------------------------------------
		const addModal = document.querySelector('.addModal');
		const modalOpen = document.querySelector('.modal_btn');
		
		//--------------------------------------------
		// CSV 파일 등록
		//--------------------------------------------
		$(document).ready(function() {
			$('#file').on('change', function(event) {
				if (confirm('학생정보를 등록하시겠습니까?')) {
					
	            var file = event.target.files[0];
	            var formData = new FormData();
	            formData.append('file', file);
	
	            $.ajax({
	                url: '/admin/uploadCsv',
	                type: 'POST',
	                data: formData,
	                contentType: false,
	                processData: false,
	                success: function(data) {
	                    $('#table-body').empty();
	                    data.forEach(function(row) {
	                        var template = 
	                        	'<tr>' +
		                            '<td>' + row.stdName + '</td>' +
		                            '<td>' + row.stdPhone + '</td>' +
		                            '<td>' + row.stdEmail + '</td>' +
		                            /* '<td><a href="' + row.downloadLink + '">받기</a></td>' + */
	                            '</tr>';
	                        $('#table-body').append(template);
	                    });
	                    var complete = 
	                       	'<div class="table-top-content" style="width: 300px; text-align: center; margin-bottom: 0; height: 40px; padding: 8px 16px;">' +
	                       		'<p style="color: white">학생 정보가 저장되었습니다!</p>' +
	                       	'</div>';
	                    $('.add_modal_popup').append(complete);
	                }
	            });
				}
	        });
		});
		
		//--------------------------------------------
		// CSV 파일목록 체크박스 전체체크
		//--------------------------------------------
		function checkCsvAll(item) {
            checkboxes = document.getElementsByTagName('input');
            for(var i=0, n=checkboxes.length; i<n; i++) {
                if(checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = item.checked;
                }
            }
        }

    	window.onload = function() {
    		filterUsers();
    	}
		
		var addModalBack = document.querySelector('.addModal');
		var infoModalBack = document.querySelector('.infoModal');

		// 모달창 바깥 클릭 시 닫기
		window.addEventListener('click', function(e) {
			console.log(e.target);
		    if (e.target === addModalBack || e.target === infoModalBack) {
		    	console.log("모달 꺼짐");
		        addModalBack.style.display = 'none';
				infoModalBack.style.display = 'none';
		    }
		});
	</script>
</html>