<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/admin_layout}"
	  layout:fragment="Admin">
	  
	<script>
		/* function addCurriculum(event) {
			var formData = new FormData(document.getElementById('add_course_form'));
	        console.log("폼데이터: " + formData);
	        $.ajax({
	            url: '/admin/course',
	            type: 'POST',
	            data: formData,
	            success: function(response) {
					if (response.status === "success") {
                        alert(response.message);	
                    } else {
                        alert(response.message);
                    }
	            },
	            error: function(xhr, status, error) {
	                alert("과정 등록에 실패했습니다. 다시 시도해주세요.");
	                console.error(error);
	            }
	        });
		} */
		
		//--------------------------------------------
		// 과정 클릭시 해당과정의 학생 목록 출력
		//--------------------------------------------
		function showCourseInfo(curriculumId) {
			document.querySelector('.courseModal').style.display = 'block';
			
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/admin/showCourse?curriculumId=' + curriculumId, true);
			xhr.onreadystatechange = function() {
				if (xhr.readyState == 4 && xhr.status == 200) {
					var students = JSON.parse(xhr.responseText);
					console.log("학생정보", students);
					
					var tbody = document.getElementById('courseInfoDetail');
					var courseTitle = document.getElementById('courseName');
					tbody.innerHTML = '';
					
					students.forEach(student => {
						courseTitle.innerText = student.curriculumName;
						
						var tr = document.createElement('tr');
						
						var tdStdId = document.createElement('td');
						tdStdId.textContent = student.id;
						tr.appendChild(tdStdId);
						
						var tdStdName = document.createElement('td');
						tdStdName.textContent = student.name;
						tr.appendChild(tdStdName);
						
						var tdStdEmail = document.createElement('td');
						tdStdEmail.textContent = student.email;
						tr.appendChild(tdStdEmail);
						
						tbody.appendChild(tr);
					});
					

				}
			};
			xhr.send();
		}
		
		
		
	</script>
	
	<div id="manage-container">
		<div class="course_wrapper">
			<div class="content-top">
				<h2 class="mb-10" style="color: white">수강과정 관리</h2>
				<a class="open_add_course main-btn light-btn btn-hover" style="color: white; background-color: #e96b56; padding: 7px 20px; position: absolute; margin: 0; right: 14px; bottom: 14px;">수강 등록</a>
				
				<!-- 수강등록 버튼 클릭 시 display: flex -->
				<form id="add_course_form" action="/admin/course" method="post" enctype="multipart/form-data">
					<div class="add_course">
						<div class="input-style-1 add_course_item">
							<label class="course_item_type" style="color: white;">과정명</label>
			                <input name="curriculumName" style="background: white;" type="text" placeholder="과정명을 입력하세요.">
			            </div>
			            <div class="input-style-1 add_course_item">
							<label class="course_item_type" style="color: white;">과정 시작</label>
			                <input name="curriculumStartDate" style="background: white;" type="date">
		            	</div>
		                <p style="margin-right: 20px; color: white; font-size: 15pt"> - </p>
		            	<div class="input-style-1 add_course_item">
		            		<label class="course_item_type" style="color: white;">과정 종료</label>
		                	<input name="curriculumEndDate" style="background: white;" type="date">
		            	</div>
		            	<div class="input-style-1 add_course_item">
							<label class="course_item_type" style="color: white;">강의실</label>
			                <input name="classId" style="background: white;" type="number" placeholder="강의실을 입력하세요.">
			            </div>
			            <div class="input-style-1 add_course_item">
			            	<label class="course_item_type" style="color: white;">이미지</label>
			            	<input name="uploadFiles" type="file">
			            </div>
		            	<button type="submit" class="main-btn light-btn btn-hover" style="color: white; background-color: #e96b56; padding: 5px 25px;">등록</button>
					</div>
				</form>
			</div>
			
			<div class="course_item">
				<table class="table">
					<thead>			
					</thead>
					<tbody id="courseInfoTable" style="display: flex; flex-wrap: wrap">
						<tr class="curriculum_item" th:each="curriculum : ${class}" style="max-width: 300px; min-height: 400px; border: 2px solid #5d657b; margin: 20px; border-radius: 5px; position: relative;">
							<td style="border: none;">
								<a href="#" th:onclick="'showCourseInfo(' + ${curriculum.curriculumId} + ')'" class="">
									<p style="border-bottom: 2px solid #5d657b; padding: 20px; margin-top: -20px; color: black; font-weight: bold;">
										[[${#dates.format(curriculum.curriculumStartDate, 'yyyy년 MM월 dd일')}]] - [[${#dates.format(curriculum.curriculumEndDate, 'yyyy년 MM월 dd일')}]]
									</p>
									<p style="border-bottom: 2px solid #5d657b; padding: 20px; font-size: 13pt; color: black; font-weight: bold;">[[${curriculum.curriculumName}]]</p>
									<img th:src="@{/files{fileName}(fileName=${curriculum.profileImageLocation})}" style="max-width: 100%;">
									
									<!-- 삭제용 과정 ID -->
									<input type="hidden" id="currId" th:value="${curriculum.curriculumId}">		
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- 과정 상세정보 모달 -->
			<div class="courseModal">
				<div class="course_modal_popup" style="min-width: 1000px; min-height: 500px;">
					<div class="course_modal_title center">
						<h4 class="course_info mb-4" id="courseName"></h4>
						<a href="#0" class="course_modal_close" onclick="closeCourseModal()">X</a>
					</div>
					<div style="height: 500px; overflow-y: scroll; margin: 30px auto;">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>학생명</th>
									<th>이메일</th>
								</tr>
							</thead>
							<tbody id="courseInfoDetail">
							
							</tbody>
						</table>
					</div>
					<a href="#0" id="deleteCourseBtn" class="danger-btn btn-hover" style="position: absolute; right: 10px; bottom: 10px; padding: 5px 20px;">삭제</a>
				</div>
			</div>
		</div>
	</div>
	
	<div id="result" style="color: white;"></div>
	
	<script>
		const addCourse = document.querySelector('.add_course');
		const addBtn = document.querySelector('.open_add_course');
		
		addBtn.addEventListener('click', function() {
			if (addBtn.innerText == '닫기') {
				addCourse.style.display = 'none';
				addBtn.innerText = '수강 등록';
			} else if (addBtn.innerText == '수강 등록') {
				addCourse.style.display = 'flex';
				addBtn.innerText = '닫기';
			}
			
		})
		
		function openCourseModal() {
			document.querySelector('.courseModal').style.display = 'block';
		}
		
		function closeCourseModal() {
			document.querySelector('.courseModal').style.display = 'none';
		}
		
		document.querySelector("#deleteCourseBtn").addEventListener('click', function() {
			if (confirm('과정을 삭제하시겠습니까?')) {
				var xhr = new XMLHttpRequest();
				var curriculumId = document.getElementById('currId').value;
				console.log(curriculumId);
				xhr.open('DELETE', '/admin/course/' + curriculumId, true);
				xhr.onreadystatechange = function() {
					if (xhr.readyState == 4 && xhr.status == 200) {
						var course = JSON.parse(xhr.responseText);
						
						alert('과정이 삭제되었습니다.');
						//document.querySelector('.courseModal').style.display = 'none';
						location.reload();
					}
				};							
				xhr.send();							
			} 
		});
		
		var courseModalBack = document.querySelector('.courseModal');
		
		window.addEventListener('click', function(e) {
			console.log(e.target);
		    if (e.target === courseModalBack) {
		    	console.log("모달 꺼짐");
		        document.querySelector('.courseModal').style.display = 'none';
		    }
		});
	</script>
</html>