<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/admin_layout}"
	  layout:fragment="Admin">
	  
	  
	  <div id="manage-container">
		<div class="course_wrapper">
			<div class="content-top">
				<h2 class="mb-10" style="color: white">신고글 관리</h2>
			</div>
			
			<div class="report_item">
				<table class="table">
					<thead>		
						<tr>
							<td>신고자</td>
							<td>게시판</td>
							<td>신고 유형</td>
							<td>신고 일자</td>
						</tr>	
					</thead>
					<tbody id="reportTable">
						<tr th:each="report : ${reports}" class="report_row" style="max-width: 300px; min-height: 400px; border: 2px solid #5d657b; margin: 20px; border-radius: 5px; position: relative;">
							<td>[[${report.reporter}]]</td>
							<td>[[${report.boardId}]]</td>
							<td>[[${report.reportType}]]</td>
							<td>[[${report.reportDate}]]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</html>