<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="common/configs/config :: ConfigFragment">
</head>
<script>
</script>
<body>
	<section class="tab-components">
		<div class="container-fluid" style="padding-bottom: 100px;">
			<div class="title-wrapper pt-30" style="max-width: 720px; margin: 0 auto; text-align: center;">
				<div class="">
					<img src="/images/yedam_logo.png" style="width: 300px; margin: -40px;">
				</div>
				<!-- <div class="add-line"><p style="color: red;">페이지에 오류가 있습니다.</p></div>
				<a href="/" class="main-btn dark-btn btn-hover" style="padding: 10px 20px;">첫 페이지로 가기</a> -->
			</div>
		</div>
	</section>
</body>
<script>
	window.onload = function() {
		Swal.fire({
		  icon: "error",
		  title: "잘못된 접근",
		  text: "존재하지 않는 페이지입니다!",
		  footer: '<a href="/all/home">홈페이지로</a>'
		}).then((result) => {
			location.href = '/all/home';
		});
	}
</script>
</html>