<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>등록 페이지</title>
</head>
<body>
	<form name="insertForm" th:action="@{/empInsert}" method="post" th:object="${empVO}">
		<div class="form-group">
			<label>사원번호<input class="form-control" type="text" th:field="*{employeeId}" readonly></label>
		</div>
		<div class="form-group">
			<label>이름<input class="form-control" type="text" th:field="*{lastName}"></label>
		</div>
		<div class="form-group">
			<label>이메일<input class="form-control" type="text" th:field="*{email}"></label>
		</div>
		<div class="form-group">
			<label>전화번호<input class="form-control" type="text" th:field="*{phoneNumber}"></label>
		</div>
		<div class="form-group">
			<label>입사일<input class="form-control" type="date" th:field="*{hireDate}"></label>
		</div>
		<div class="form-group">
			<label>업무<input class="form-control" type="text" th:field="*{jobId}"></label>
		</div>
		<div class="form-group">
			<label>급여<input class="form-control" type="number" th:field="*{salary}"></label>
		</div>
		<div>
			<button type="submit" class="btn btn-primary">등록하기</button>
		</div>
	</form>
	<script>
		document.querySelector('form[name="insertForm"]').addEventListener('submit', validationCheck);
		
		function validationCheck(e) {
			e.preventDefault();
			
			let name = document.getElementById('lastName');
			if (name.value == "") {
				alert('이름은 필수입니다.');
				name.focus();
				return;
			}
			
			let email = document.getElementById('email');
			if (email.value == "") {
				alert('이메일은 필수입니다.');
				email.focus();
				return;
			}
			
			let phone = document.getElementById('phoneNumber');
			if (phone.value == "") {
				alert('전화번호는 필수입니다.');
				phone.focus();
				return;
			}
			
			let job = document.getElementById('jobId');
			if (job.value == "") {
				alert("업무는 필수입니다");
				job.focus();
				return;
			}
			
			insertForm.submit();
		}
	</script>
</body>
</html>