<!DOCTYPE html>
<html xmln:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>수정 페이지</title>
</head>
<body>
	<form id="updateForm" th:action="@{/empUpdate}" method="post"
		th:object="${empInfo}">
		<div class="form-group">
			<label>사원번호<input class="form-control" type="text"
				th:field="*{employeeId}" readonly></label>
		</div>
		<div class="form-group">
			<label>이름<input class="form-control" type="text"
				th:field="*{lastName}"></label>
		</div>
		<div class="form-group">
			<label>이메일<input class="form-control" type="text"
				th:field="*{email}"></label>
		</div>
		<div class="form-group">
			<label>전화번호<input class="form-control" type="text"
				th:field="*{phoneNumber}"></label>
		</div>
		<div class="form-group">
			<label>입사일<input class="form-control" type="date"
				th:field="*{hireDate}"></label>
		</div>
		<div class="form-group">
			<label>급여<input class="form-control" type="number"
				th:field="*{salary}"></label>
		</div>
		<div>
			<button type="button" id="updateBtn" class="btn btn-primary">등록하기</button>
		</div>
	</form>

	<!-- JS 버전 Ajax -->
	<script>
		document.querySelector('#updateBtn').addEventListener('click', updateAjax);
		function updateAjax(e) {
			if (!validationCheck()) return;
			let dataObj = getEmpObj();
			
			fetch('empUpdate', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(dataObj),
				// body: new URLSearchParams(dataObj)
			})
				.then(res => res.json())
				.then(result => {
					console.log(result);
				})
				.catch(err => console.log(err));
		}
		
		function validationCheck() {
			let name = document.getElementById('lastName');
			if (name.value == "") {
				alert('이름은 필수입니다.');
				name.focus();
				return false;
			}
			return true;
		}
		
		function getEmpObj() {
			let formTag = document.querySelector('#updateForm');
			
			let formData = new FormData(formTag);
			
			let formObj = {};
			formData.forEach((val, key) => {
				formObj[key] = val;
			});
			
			return formObj;
		}
	</script>

	<!-- jQuery 버전 Ajax -->
	<!-- <script>
		$('#updateBtn').on('click', updateAjaxJquery);
		
		function updateAjaxJquery(e) {
			// Validation Check
			if (!validationCheck()) return;
			
			// 보낼 데이터 정리
			let dataObj = getEmpObj();
			
			// Ajax
			$.ajax('empUpdate', {
				type: 'POST',
				// data: dataObj,
				contentType: 'application/json',
				data: JSON.stringify(dataObj)
			})
				.done(result => {
					if (result != null) {
						console.log(result);
						alert("정상적으로 수정되었습니다.");
					} else {
						alert("수정 실패!");
					}
				})
				.fail(err => console.log(err));
		}
		
		function validationCheck() {
			let name = $('#lastName');
			if (name.val() == '') {
				alert('이름은 필수입니다.');
				name.focus();
				return false;
			}
			return true;
		}
		
		function getEmpObj() {
			let formAry = $('#updateForm').serializeArray();
			// serializeArray: [{ name : 'employeeId', value : '209' }, { name : 'lastName', value : 'Kang' }, ...]
			
			let formObj = {};
			
			// { employeeId : '209', lastName : 'Kang', ...}
			formAry.forEach(inputTag => {
				formObj[inputTag.name] = inputTag.value;
			});

			console.log(formObj);
			return formObj;			
		}
	</script> -->
</body>
</html>