<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<!-- ========= card-style-3 start ========= -->
<div class="row classInfo">
	<div class="col-12">
		<div class="title mt-30 mb-30">
			<h2 id="">n강의실</h2>
		</div>
		<div class="title mt-30 mb-30">
			<h2 id="">과정명 시작기간~종료기간</h2>
		</div>
	</div>
	<div class="col-12">
		<div class="title mt-30 mb-30">
			<h2 id="">클릭한 시험정보</h2>
		</div>
	</div>
	<!-- end col -->
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
		<div class="card-style-3 mb-30">
			<div class="card-content">
				<h4 id="classTest">n강의실 시험정보</h4>
				<br>
				<div class="test"></div>
			</div>
		</div>
	</div>
	<!-- end col -->
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
		<div class="card-style-3 mb-30">
			<div class="card-content">
				<h4 id="classStudent">n강의실 수강생</h4>
				<br>
				<div class="classUser"></div>
			</div>
		</div>
	</div>
	<!-- end col -->
</div>
<!-- end row -->
<!-- ========= card-style-3 end ========= -->
<button id="Btn">테스트</button>
<script>

</script>
</html>