<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>	
<style>
#shortAnswer {
	display : none;
}
</style>	
<form name="insertForm" th:action="@{/quizinsert}" method="post" th:object="${teacherVO}">
	<!-- ======= 과목설정 select ======= -->
	<div class="card-style mb-30">
		<div class="select-style-1">
			<h6 class="mb-25">과목 선택</h6>
			<div class="select-position">
				<select name=subjectName>
					<th:block th:each="subjectInfo, idxStat : ${subjectList}">
						<option th:value="${subjectInfo.subjectName}">[[${subjectInfo.subjectName}]]</option>
					</th:block>
				</select>
				<input type="hidden" th:field="*{userId}"/>
			</div>
		</div>
	
	<!-- 과목설정 end select -->
	<!-- ======= 문제 유형 radio ======= -->
		<h6 class="mb-25">문제 유형</h6>
		<div class="form-check radio-style mb-20">
			<input class="form-check-input chk" type="radio" value="gek" id="radio-1" name="qType" checked />
			<label class="form-check-label" for="radio-1">객관식</label>
		</div>
		<!-- end radio -->
		<div class="form-check radio-style radio-warning mb-20">
			<input class="form-check-input chk" type="radio" value="ju" id="radio-2" name="qType"/>
			<label class="form-check-label" for="radio-2"> 주관식 </label>
		</div>
		<!-- end radio -->
	<!-- ======= 문제 유형 radio style end ======= -->
	
	<!-- 객관식 문제 입력 영역 ----------------------------------------------------->
	<div id="multiple">
	<!-- ======= 시험문제 입력 style start ======= -->
		<h6 class="mb-25">시험 문제</h6>
		<div class="input-style-1">
			<textarea placeholder="문제를 입력하세요." rows="8" cols="100" th:field="*{quizContent}"></textarea>
		</div>
		<!-- end textarea -->
	<!-- ======= 시험문제 입력 style end ======= -->
	<!-- ======= 정답 지문 입력 radio style start ======= -->
		<h6 class="mb-25" style="color:red;">정답 체크. !!1번 입력창에 정답을 입력해주세요!!</h6>
		<div class="form-check radio-style mb-20">
			<input class="form-check-input" type="radio" name="exampleAnswer" value="1" checked />
                    <label class="form-check-label" name="exampleNum" value="1" >
                      1.</label>
			<input class="correct" type="text" placeholder="정답인 지문을 입력하세요." name="textContent" id="textContent"/>
			<input class="correct2" type="hidden" name="quizAnswer"/> <!-- 문제의 정답 자동등록 -->
		</div>
		<!-- end radio -->
		<div class="form-check radio-style mb-20">
			<input class="form-check-input" type="hidden" name="exampleAnswer2" value="0"/>
                    <label class="form-check-label" name="exampleNum" value="2" >
                      2.</label>
			<input type="text" placeholder="지문을 입력하세요." name="textContent2" id="textContent2"/>
		</div>
		<!-- end radio -->
		<div class="form-check radio-style mb-20">
			<input class="form-check-input" type="hidden" name="exampleAnswer3" value="0"/>
                    <label class="form-check-label" name="exampleNum" value="3" >
                      3.</label>
			<input type="text" placeholder="지문을 입력하세요." name="textContent3" id="textContent3"/>
		</div>
		<!-- end radio -->
		<div class="form-check radio-style mb-20">
			<input class="form-check-input" type="hidden" name="exampleAnswer4" value="0"/>
                    <label class="form-check-label" name="exampleNum" value="4" >
                      4.</label>
			<input type="text" placeholder="지문을 입력하세요." name="textContent4" id="textContent4"/>
		</div>
		<!-- end radio -->
		<div class="form-check radio-style mb-20">
			<input class="form-check-input" type="hidden" name="exampleAnswer5" value="0"/>
                    <label class="form-check-label" name="exampleNum" value="5" >
                      5.</label>
			<input type="text" placeholder="지문을 입력하세요." name="textContent5" id="textContent5"/>
		</div>
		<!-- end radio -->
	<!-- ======= 정답 지문 입력 radio style end ======= -->
	<!-- ======= 문제 해설 style start ======= -->
		<h6 class="mb-25">문제 해설</h6>
		<div class="input-style-1">
			<textarea placeholder="해설을 입력하세요." rows="5" th:field="*{quizSolution}"></textarea>
		</div>
		<!-- end textarea -->
	<!-- ======= 문제 해설 style end ======= -->
	<ul class="buttons-group">
		<li>
			<button type="submit" class="main-btn primary-btn square-btn btn-hover addbt" id="addBtn">등록</button>
		</li>
		<li>
	        <button type="button" class="main-btn deactive-btn square-btn btn-hover" th:onclick="|location.href='@{/quizlist}'|">취소</button>
	    </li>
	</ul>	
	</div>
	<!-- 객관식 문제 입력 영역 종료-------------------------------------------------->
	
	<!-- 주관식 문제 입력 영역 ----------------------------------------------------->
	<div id="shortAnswer">
	<!-- ======= 시험문제 입력 style start ======= -->
		<h6 class="mb-25">시험 문제</h6>
		<div class="input-style-1">
			<textarea placeholder="문제를 입력하세요." rows="8" cols="100" name="quizContentJu"></textarea>
		</div>
		<!-- end textarea -->
	<!-- ======= 시험문제 입력 style end ======= -->
	<!-- ======= 정답 지문 입력 radio style start ======= -->
		<h6 class="mb-25">정답 체크</h6>
		<div class="form-check radio-style mb-20">
			<input class="form-check-input" type="radio" name="exampleAnswerJu" value="1" checked/>
                    <label class="form-check-label" th:field="*{exampleNum}" th:value="1" >
                      1.</label>
			<input type="text" class="correct" placeholder="문제의 정답을 입력하세요." name="textContentJu" />
			<input type="hidden" class="correct2" name="quizAnswerJu"/>
		</div>
		<!-- end radio -->
		
	<!-- ======= 정답 지문 입력 radio style end ======= -->
	<!-- ======= 문제 해설 style start ======= -->
		<h6 class="mb-25">문제 해설</h6>
		<div class="input-style-1">
			<textarea placeholder="해설을 입력하세요." rows="5" name="quizSolutionJu"></textarea>
		</div>
		<!-- end textarea -->
	<ul class="buttons-group">
		<li>
			<button type="submit" class="main-btn primary-btn square-btn btn-hover addbt" id="addBtnJu" formaction="quizinsertJu">등록</button>
		</li>
		<li>
	        <button type="button" class="main-btn deactive-btn square-btn btn-hover" th:onclick="|location.href='@{/quizlist}'|">취소</button>
	    </li>
	</ul>	
	</div>
	<!-- ======= 문제 해설 style end ======= -->	
	<!-- 주관식 문제 입력 영영 종료 ------------------------------------------------->	
	</div>
</form>

<script>
const multi = document.getElementById("multiple");
const shor = document.getElementById("shortAnswer");
var checkVal = $('input[name=qType]:checked').val(); // 데이터 확인용

$('#radio-1').change(function(e){
	multi.style.display = "block";
	shor.style.display = "none";	
})
$('#radio-2').change(function(e){
	multi.style.display = "none";	
	shor.style.display = "block";	
})
$('.addbt').on('click',function(){
	let cor = $('.correct').val();
	$('.correct2').attr("value",cor);
	console.log($('.correct2').val());
})

document.querySelector('form[name="insertForm"]')
		.addEventListener('submit', validationCheck);

function validationCheck(event){
	event.preventDefault();
	
	let qContent = document.getElementById('quizContent');
	if(qContent.value == ''){
		alert('문제 내용을 입력해 주세요.');
		qContent.focus();
		return;
	}
	
	let tContent = document.getElementById('textContent');
	if(tContent.value == ''){
		alert('정답 지문을 입력하세요.');
		tContent.focus();
		return;
	}
	
	let tContent2 = document.getElementById('textContent2');
	if(tContent2.value == ''){
		alert('2번 지문을 입력하세요.');
		tContent2.focus();
		return;
	}
	
	let tContent3 = document.getElementById('textContent3');
	if(tContent3.value == ''){
		alert('3번 지문을 입력하세요.');
		tContent3.focus();
		return;
	}
	
	let tContent4 = document.getElementById('textContent4');
	if(tContent4.value == ''){
		alert('4번 지문을 입력하세요.');
		tContent4.focus();
		return;
	}
	
	let tContent5 = document.getElementById('textContent5');
	if(tContent5.value == ''){
		alert('5번 지문을 입력하세요.');
		tContent5.focus();
		return;
	}
	
	let qSolution = document.getElementById('quizSolution');
	if(qSolution.value == ''){
		alert('문제 해설을 입력하세요.');
		qSolution.focus();
		return;
	}
	
	insertForm.submit();
	
}

</script>
</html>