<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
#shortAnswer {
	display : none;
}
</style>	
<form name="insertForm" th:action="@{/admin/quizinsert}" method="post" th:object="${teacherVO}">
	<!-- ======= 과목설정 select ======= -->
	<div class="card-style mb-30">
		<div class="select-style-1">
			<h6 class="mb-25">과목 선택</h6>
			<div class="select-position">
				<select name=subjectName>
					<th:block th:each="subjectInfo, idxStat : ${subjectList}">
						<option th:value="${subjectInfo.subjectName}">[[${subjectInfo.subjectName}]]</option>
					</th:block>
				</select>
				<input type="hidden" th:field="*{userId}"/>
			</div>
		</div>
		<!-- 과목설정 end select -->
		<!-- ======= 문제 유형 radio ======= -->
		<h6 class="mb-25">문제 유형</h6>
		<div>
			<div class="form-check radio-style mb-20" style="display:inline-block;">
				<input class="form-check-input chk" type="radio" value="gek" id="radio-1" name="qType" checked />
				<label for="radio-1">객관식</label>
			</div>
			<!-- end radio -->
			<div class="form-check radio-style radio-warning mb-20" style="display:inline-block;margin-left:15px">
				<input class="form-check-input chk" type="radio" value="ju" id="radio-2" name="qType"/>
				<label for="radio-2"> 주관식 </label>
			</div>
			<!-- end radio -->
		</div>		
		<!-- ======= 문제 유형 radio style end ======= -->
	
	<!-- 객관식 문제 입력 영역 ----------------------------------------------------->
	<div id="multiple">
	<!-- ======= 시험문제 입력 style start ======= -->
		<h6 class="mb-25">시험 문제</h6>
		<div class="input-style-1">
			<textarea placeholder="문제를 입력하세요." rows="8" cols="100" th:field="*{quizContent}"></textarea>
		</div>
		<!-- end textarea -->
	<!-- ======= 시험문제 입력 style end ======= -->
	<!-- ======= 정답 지문 입력 radio style start ======= -->
		<h6 class="mb-25" style="color:red;">정답 체크. !!정답으로 지정할 지문을 선택하세요.!!</h6>
		<div id="radioArea">
			<div class="radio-style mb-20 row" style="padding-left:20px">
				<input class="exampleAnswer" type="radio" name="exampleAnswer" value="1" style="scale:1.3;" checked/> <!-- 문제의 정답 타입 자동 지정(1:정답,0:오답) -->
		           <input class="form-check-label" name="exampleNum" value="1" type="hidden" />
		           <p class="col-0.5" style="padding-left:10px;margin-right: 5px;">1.</p>
				<input class="correct col-10" type="text" placeholder="지문을 입력하세요." name="textContent" id="textContent"
					   style="border:1px solid black;"/>
				<input class="correct2" type="hidden" name="quizAnswer"/> <!-- 문제의 정답 자동등록 -->
			</div>
			<!-- end radio -->
			<div class="radio-style mb-20 row" style="padding-left:20px">
				<input class="exampleAnswer" type="radio" name="exampleAnswer2" value="0" style="scale:1.3;" /> <!-- 문제의 정답 타입 자동 지정(1:정답,0:오답) -->
		           <input class="form-check-label" name="exampleNum" value="2" type="hidden" />
		           <p class="col-0.5" style="padding-left:10px;margin-right: 5px;">2.</p>
				<input class="correct col-10" type="text" placeholder="지문을 입력하세요." name="textContent2" id="textContent2"
				       style="border:1px solid black;"/>
				<input class="correct2" type="hidden" name=""/> <!-- 문제의 정답 자동등록 -->       
			</div>
			<!-- end radio -->
			<div class="radio-style mb-20 row" style="padding-left:20px">
				<input class="exampleAnswer" type="radio" name="exampleAnswer3" value="0" style="scale:1.3;" /> <!-- 문제의 정답 타입 자동 지정(1:정답,0:오답) -->
		           <input class="form-check-label" name="exampleNum" value="3" type="hidden" />
		           <p class="col-0.5" style="padding-left:10px;margin-right: 5px;">3.</p>
				<input class="correct col-10" type="text" placeholder="지문을 입력하세요." name="textContent3" id="textContent3"
				       style="border:1px solid black;"/>
				<input class="correct2" type="hidden" name=""/> <!-- 문제의 정답 자동등록 -->        
			</div>
			<!-- end radio -->
			<div class="radio-style mb-20 row" style="padding-left:20px">
				<input class="exampleAnswer" type="radio" name="exampleAnswer4" value="0" style="scale:1.3;" /> <!-- 문제의 정답 타입 자동 지정(1:정답,0:오답) -->
		           <input class="form-check-label" name="exampleNum" value="4" type="hidden" />
		           <p class="col-0.5" style="padding-left:10px;margin-right: 5px;">4.</p>
				<input class="correct col-10" type="text" placeholder="지문을 입력하세요." name="textContent4" id="textContent4"
				       style="border:1px solid black;"/>
				<input class="correct2" type="hidden" name=""/> <!-- 문제의 정답 자동등록 -->        
			</div>
			<!-- end radio -->
			<div class="radio-style mb-20 row" style="padding-left:20px">
				<input class="exampleAnswer" type="radio" name="exampleAnswer5" value="0" style="scale:1.3;" /> <!-- 문제의 정답 타입 자동 지정(1:정답,0:오답) -->
		           <input class="form-check-label" name="exampleNum" value="5" type="hidden" />
		           <p class="col-0.5" style="padding-left:10px;margin-right: 5px;">5.</p>
				<input class="correct col-10" type="text" placeholder="지문을 입력하세요." name="textContent5" id="textContent5"
				       style="border:1px solid black;"/>
				<input class="correct2" type="hidden" name=""/> <!-- 문제의 정답 자동등록 -->        
			</div>
		</div>
		<br>
		<!-- end radio -->
	<!-- ======= 정답 지문 입력 radio style end ======= -->
	<!-- ======= 문제 해설 style start ======= -->
		<h6 class="mb-25">문제 해설</h6>
		<div class="input-style-1">
			<textarea placeholder="해설을 입력하세요." rows="5" th:field="*{quizSolution}"></textarea>
		</div>
		<!-- end textarea -->
	<!-- ======= 문제 해설 style end ======= -->
	<ul class="buttons-group">
		<li>
			<button type="submit" class="main-btn primary-btn square-btn btn-hover addbt" id="addBtn">등록</button>
		</li>
		<li>
	        <button type="button" class="main-btn deactive-btn square-btn btn-hover" th:onclick="|location.href='@{/admin/quizlist}'|">취소</button>
	    </li>
	</ul>	
	</div>
	<!-- 객관식 문제 입력 영역 종료-------------------------------------------------->
	
	<!-- 주관식 문제 입력 영역 ----------------------------------------------------->
	<div id="shortAnswer">
	<!-- ======= 시험문제 입력 style start ======= -->
		<h6 class="mb-25">시험 문제</h6>
		<div class="input-style-1">
			<textarea placeholder="문제를 입력하세요." rows="8" cols="100" id="quizContentJu" name="quizContentJu"></textarea>
		</div>
		<!-- end textarea -->
	<!-- ======= 시험문제 입력 style end ======= -->
	<!-- ======= 정답 지문 입력 radio style start ======= -->
		<h6 class="mb-25">정답 체크</h6>
		<div class="radio-style mb-20 row">
			<input class="" type="radio" name="exampleAnswerJu" value="1" style="scale:1.3;" checked/>
                    <label class="form-check-label" th:field="*{exampleNum}" th:value="1" ></label>
			<input type="text" class="correct" placeholder="문제의 정답을 입력하세요." name="textContentJu" id="textContentJu"
				   style="border:1px solid black;"/>
			<input type="hidden" class="correct2" name="quizAnswerJu" id="quizAnswerJu"/>
		</div>
		<!-- end radio -->
		
	<!-- ======= 정답 지문 입력 radio style end ======= -->
	<!-- ======= 문제 해설 style start ======= -->
		<h6 class="mb-25">문제 해설</h6>
		<div class="input-style-1">
			<textarea placeholder="해설을 입력하세요." rows="5" name="quizSolutionJu" id="quizSolutionJu"></textarea>
		</div>
		<!-- end textarea -->
	<ul class="buttons-group">
		<li>
			<button type="button" class="main-btn primary-btn square-btn btn-hover addbt" id="addBtnJu" formaction="quizinsertJu">등록</button>
		</li>
		<li>
	        <button type="button" class="main-btn deactive-btn square-btn btn-hover" th:onclick="|location.href='@{/quizlist}'|">취소</button>
	    </li>
	</ul>	
	</div>
	<!-- ======= 문제 해설 style end ======= -->	
	<!-- 주관식 문제 입력 영영 종료 ------------------------------------------------->	
	</div>
</form>

<!-- 문제를 입력하지 않았을때 뜨는 모달창 -->
<div id="quizContentErr" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">문제 입력 오류</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;" id="totalScore">문제를 입력하세요</p>
				<div style="text-align: center;">
					<img alt="문제입력 오류" src="/images/failed.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 지문을 입력하지 않았을때 뜨는 모달창 -->
<div id="TextContentErr" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">지문 입력 오류</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;" id="totalScore">지문을 입력하세요</p>
				<div style="text-align: center;">
					<img alt="지문 입력 오류" src="/images/failed.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 문제 해설을 입력하지 않았을때 뜨는 모달창 -->
<div id="solutionErr" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">해설 입력 오류</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;" id="totalScore">문제 해설을 입력하세요</p>
				<div style="text-align: center;">
					<img alt="해설 입력 오류" src="/images/failed.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 정상적으로 문제 등록이 진행될때 뜨는 모달창 -->
<div id="quizAddOk" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">문제 정상 등록</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">문제가 정상적으로 등록되었습니다.</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" src="/images/registration.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='okBtn' type="button" class="btn btn-primary close"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 지문정답 radio 선택 안했을때 뜨는 모달창 -->
<div id="radioErr" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">radio 체크 오류</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">정답으로 지정할 지문을 선택하세요.</p>
				<div style="text-align: center;">
					<img alt="radio오류" src="/images/failed.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='okBtn' type="button" class="btn btn-primary close"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<script>
const multi = document.getElementById("multiple");
const shor = document.getElementById("shortAnswer");
var checkVal = $('input[name=qType]:checked').val(); // 데이터 확인용

// 객관식or주관식 radio버튼 눌렀을때 문제입력화면 전환되는 기능
$('#radio-1').change(function(e){
	multi.style.display = "block";
	shor.style.display = "none";	
})
$('#radio-2').change(function(e){
	multi.style.display = "none";	
	shor.style.display = "block";	
})

$('#addBtnJu').on('click',function(){
	let corJu = $('#textContentJu').val();
	$('#quizAnswerJu').attr("value",corJu);
	console.log($('#quizAnswerJu').val());
})

$('.addbt').on('click', function validationCheck(event){
	event.preventDefault();
	// 문제를 입력하지 않았을때 모달창 출력
	let qContent = document.getElementById('quizContent');
	let qContentJu = document.getElementById('quizContentJu');
	if(qContent.value == '' && qContentJu.value == ''){
		$('#quizContentErr').modal('show');
		return;
	}
	// 문제 지문 1번을 입력하지 않았을때 모달창 출력
	let tContent = document.getElementById('textContent');
	let tContentJu = document.getElementById('textContentJu');
	if(tContent.value == '' && tContentJu.value == ''){
		$('#TextContentErr').modal('show');
		return;
	}
	// 문제 지문 2번을 입력하지 않았을때 모달창 출력
	let tContent2 = document.getElementById('textContent2');
	if(tContent2.value == '' && tContentJu.value == ''){
		$('#TextContentErr').modal('show');
		tContent2.focus();
		return;
	}
	// 문제 지문 3번을 입력하지 않았을때 모달창 출력
	let tContent3 = document.getElementById('textContent3');
	if(tContent3.value == '' && tContentJu.value == ''){
		$('#TextContentErr').modal('show');
		tContent3.focus();
		return;
	}
	// 문제 지문 4번을 입력하지 않았을때 모달창 출력
	let tContent4 = document.getElementById('textContent4');
	if(tContent4.value == '' && tContentJu.value == ''){
		$('#TextContentErr').modal('show');
		tContent4.focus();
		return;
	}
	// 문제 지문 5번을 입력하지 않았을때 모달창 출력
	let tContent5 = document.getElementById('textContent5');
	if(tContent5.value == '' && tContentJu.value == ''){
		$('#TextContentErr').modal('show');
		tContent5.focus();
		return;
	}
	// 문제 해설을 입력하지 않았을때 모달창 출력
	let qSolution = document.getElementById('quizSolution');
	let qSolutionJu = document.getElementById('quizSolutionJu');
	if(qSolution.value == '' && qSolutionJu.value == ''){
		$('#solutionErr').modal('show');
		return;
	}
	// radio 버튼이 선택되지 않았을때 모달창 출력
	if($('.exampleAnswer').is(':checked')){
		$('#quizAddOk').modal('show');
	} else {
		$('#radioErr').modal('show');
		return;
	}
	
	// 모든값이 입력됐을경우 최종확인 모달창이 뜸
	$('#quizAddOk').modal('show');
	// 최종확인 모달창의 확인버튼을 누를시 submit 동작
	$('#okBtn').on('click', function(){
		insertForm.submit();
	})
})
// 주관식 문제 등록버튼 눌렀을때 form action 속성 변경
$('#addBtnJu').on('click', function(){
	$('form').attr('action','/admin/quizinsertJu')
	$('#quizAddOk').modal('show');
	
	$('#okBtn').on('click', function(){
		insertForm.submit();
	})
})
// 정답체크한 radio 지문만 정답으로 등록되도록 하는 기능
$('.exampleAnswer').on('change',function(){
	$('.exampleAnswer').attr('value','0'); // radio버튼 클릭시 최초 val값 0으로 설정
	$('.correct2').attr('name',''); // hidden input 태그의 name속성 초기화
	$('.correct2').attr('value',''); // hidden input 태그의 value속성 초기화
	$('.exampleAnswer').prop('checked',false); // name값이 서로 다르지만 중복체크 안되도록 설정1
	$(this).prop('checked',true); // name값이 서로 다르지만 중복체크 안되도록 설정2
	$(this).attr('value','1'); // 클릭한 radio버튼의 val값만 1로 변경 (val값1 = 지문이 정답으로 처리됨)
	$(this).parent().children('.correct2').attr('name','quizAnswer'); // 클릭한 radio버튼의 val값을 quizAnswer컬럼에 넣기위한 작업
	
	let cor = $(this).parent().children('.correct').val(); // input태그에 지문입력한 val값 저장.
	$(this).parent().children('.correct2').attr("value",cor); // name:quizAnswer 에 val값 넣기.
})

// 지문입력 input태그 변경 감지해서 val값 설정
$('#radioArea').on('change', '.correct', function(){
	console.log("인풋장에 입력된 this.val: "+$(this).val())
	let cor = $(this).parent().children('.correct').val();
	$(this).parent().children('.correct2').attr("value",cor);
})
</script>
</html>