<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
#shortAnswer {
	display: none;
}
</style>

<p th:text="${TeacherVO}"></p>
<form name="" th:action="@{/}" method="post"
	th:object="${teacherVO}">
	<!-- ======= 시험 이름 입력 start ======= -->
	<div class="input-style-1">
		<h6 class="mb-25">시험 Title</h6>
		<input type="text" placeholder="시험의 이름 입력" />
	</div>
	<!-- ======= 시험 이름 입력 end ======= -->

	<!-- ======= 시험 안내사항 입력 start ======= -->
	<h6 class="mb-25">시험 안내사항</h6>
	<div class="input-style-1">
		<textarea placeholder="시험의 안내사항을 입력하세요." rows="8" cols="100"
			th:field="*{quizContent}"></textarea>
	</div>
	<!-- ======= 시험 안내사항 입력 start ======= -->

	<!-- ======= 시험 제한시간 입력 start ======= -->
	<div>
		<label>제한시간</label><input type="checkbox" id="checkbox-0" /><input
			type="text" placeholder="시간입력">

	</div>
	<br>
	<!-- ======= 시험 제한시간 입력 end ======= -->

	<!-- ======= 시험 대상 선택 start ======= -->
	<div class="card-style mb-30">
		<h6 class="mb-25">시험 대상</h6>
		<div class="form-check checkbox-style mb-20">
			<input class="form-check-input" type="checkbox" value=""
				id="checkbox-1" /> <label class="form-check-label" for="checkbox-1">
				전체 추가</label>
		</div>
		<!-- end checkbox -->
		<th:block th:each="userInfo, idxStat : ${userList}">
			<div class="form-check checkbox-style mb-20">
				<input class="form-check-input checkbox" type="checkbox" th:value="${userInfo.userId}"
					th:id="${userInfo.name}" /> <label class="form-check-label"
					th:for="${userInfo.name}">[[${userInfo.name}]]</label>
			</div>
		</th:block>
		<!-- end checkbox -->
		<!-- ======= 시험 대상 선택 end ======= -->
	</div>
	<ul class="buttons-group">
		<li>
			<button type="submit"
				class="main-btn primary-btn square-btn btn-hover" id="addBtn"
				formaction="">다음</button>
		</li>
		<li>
			<button type="button"
				class="main-btn deactive-btn square-btn btn-hover"
				th:onclick="|location.href='@{/selectClassExam}'|">취소</button>
		</li>
	</ul>
</form>

<script>
var selectAllCheckbox = document.getElementById("checkbox-1");
var checkboxes = document.querySelectorAll(".checkbox");

// 전체 선택/해제 체크박스의 상태에 따라 모든 항목 체크박스 선택/해제
selectAllCheckbox.addEventListener("change", function() {
  var isChecked = selectAllCheckbox.checked;
  checkboxes.forEach(function(checkbox) {
    checkbox.checked = isChecked;
  });
});

// 항목 체크박스 중 하나라도 선택 취소될 경우, 전체 선택/해제 체크박스도 선택 취소
checkboxes.forEach(function(checkbox) {
  checkbox.addEventListener("change", function() {
    if (!checkbox.checked) {
      selectAllCheckbox.checked = false;
    }
  });
});
</script>
</html>