<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
	<div class="card-style-3 mb-30">
		<div class="card-content">
			<h4>
				<a href="#0">Card Title here </a>
			</h4>
			<p>With supporting text below as a natural lead-in to additional
				content. consectetur adipiscing elit. Integer posuere erat a ante.
				With supporting text below as a natural lead-in to additional
				content. consectetur adipiscing elit. Integer posuere erat a ante.</p>
			<a href="#0" class="read-more">Read More</a>
		</div>
	</div>
</div>
<!-- end col -->
</html>