<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<div id="test">

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
	<div class="card-style-3 mb-30">
		<div class="card-content" >
			<h4>
				<a href="#0">Card Title here </a>
			</h4>
			<label>퀴즈번호<input type="text" readonly></label>
			<a class="read-more">Read More</a>
			<button>아이템 추가</button>
			<button id="updateBtn">아작스테스트</button>
		</div>
	</div>
</div>

<!-- end col -->
</div>	
</html>