<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
li {
	display: inline;
}
tr img {
	width: 80px;
    max-width: 100%;
    overflow: hidden;
    margin-right: 15px;
}

.center {
  	text-align: center;
	  width: 60%;
	  margin: auto;
}

.testPaging {
  	
}

.testPaging a {
	  color: black;
	  float: left;
	  padding: 8px 16px;
	  text-decoration: none;
	  transition: background-color .3s;
	  /*border: 1px solid #ddd;*/
	  /*margin: 0 4px;*/
}

.testPaging a.active {
	  background-color: #4CAF50;
	  color: white;
	  border: 1px solid #4CAF50;
}

.testPaging a:hover:not(.active) {
		
}
</style>
<div style="margin:10px; padding:10px">
	<button type="button" id="subBtn" style="margin-bottom: 10px;"
		class="main-btn primary-btn-light btn-hover">과목 추가/삭제</button>
	<ul>
		<li><a href="/admin/selectClassExam" id="testInsert"
			class="main-btn danger-btn-light btn-hover">다음</a></li>
		<li><a href="quizinsert"
			class="main-btn primary-btn-light btn-hover">새문제</a></li>
		<li><a href="#0" class="main-btn primary-btn-light btn-hover"
			id="quizSelect">선택문제 확인</a></li>
		<li>
			<div id="subSelec" style="padding-top:10px;">
				<h2>과목선택</h2>
				<div class="select-position">
					<select id="subject" style="width:auto; height:40px;">
						<th:block th:each="subjectInfo, idxStat : ${subjectList}">
							<option class="typeSelec" th:value="${subjectInfo.subjectName}">[[${subjectInfo.subjectName}]]</option>
						</th:block>
					</select>
				</div>
			</div>
		</li>
		<li>
			<div style="position:relative; left:800px;">
				<label>선택문제 총점 - 구현중</label>
				<input type=text id="total" readonly style="border:1px black solid"/>
			</div>
		</li>	
	</ul>
</div>
<div id="quizBox" class="container row" ></div>
<div class="center">
	<div class="testPaging">
		<!-- ajax실행으로 태그 생성 -->
	</div>
</div>

<!-- 문제 상세보기 모달창 -->
<div id="modalWrap" class="modal-overlay modal fade">
	<div id="modalBody" class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">문제 자세히 보기</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body" id="quizInfo">
			
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='errBtn' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div> <!-- modal-content end -->	
	</div> <!-- modalBody end -->
</div> <!-- modalWrap end -->
<!-- 문제 상세보기 모달창 end-->

<!-- 과목추가/삭제 모달창 -->
<div id="modalWrap2" class="modal-overlay modal fade">
	<div id="modalBody2" class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">과목 등록 / 추가</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<div class="input-style-1">
					<!-- 과정 선택창 -->
					<h5 class="modal-title">과정 선택</h5>
					<div class="select-position">
						<select id="curr">
							<th:block th:each="currInfo, idxStat : ${currList}">
								<option class="typeSelec" th:value="${currInfo.curriculumId}" th:name="${currInfo.curriculumId}">[[${currInfo.curriculumName}]] - [[${currInfo.classId}]]강의실</option>
							</th:block>
						</select>
					</div>
				</div>	
				<form th:action="@{/subjectdelete}" id="delForm" name="delForm" method="get" th:object="${teacherVO}">
					<div class="card-style mb-30">
						<h6 class="mb-25">과목 삭제</h6>
						<div class="form-check checkbox-style mb-20 currSub">
							해당 영역에 등록된 과목명 및 체크박스 생성
						</div>
						<input type="hidden" id="hidden" name="curriculumId"/>	
						<button type="submit"
							class="main-btn danger-btn-light square-btn btn-hover" id="delBtn" formaction="subjectdelete">삭제</button>
					</div>
				</form>	
				
				<form th:action="@{/subjectinsert}" id="insertForm" name="insertForm" method="post" th:object="${teacherVO}">
				<div class="card-style mb-30">
					<h6 class="mb-25">과목 추가</h6>
					<div class="input-style-1">
						<input type="text" id="insertSubName" placeholder="과목명을 입력하세요" th:field=*{subjectName}></input>
						<input type="hidden" id="insertSub"></input>
					</div>
					<button id="subAdd" class="main-btn primary-btn btn-hover"
						type="submit">과목추가</button>
				</div>
				</form>
			</div> <!-- modal-body end -->
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='errBtn' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div> <!-- modal-content end -->
	</div> <!-- modalBody2 end -->
</div> <!-- modalWrap2 end -->
<!-- 과목추가 모달창 end -->

<!-- 과목명 미입력시 뜨는 모달창 -->
<div id="addSubFail" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">등록 실패</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">과목명을 입력해주세요!</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" src="/images/failed.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='errBtn' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 과목 등록완료 모달창 -->
<div id="okModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">등록 완료</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">등록이 완료되었습니다!</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" src="/images/registration.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='okBtn' type="button" class="btn btn-primary close"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 과목 삭제 완료 모달창 -->
<div id="delModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title">등록 완료</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">등록이 완료되었습니다!</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" src="/images/registration.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='okBtn' type="button" class="btn btn-primary close"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 문제 체크 안했을때 알림 모달창 -->
<div id="quizChkbox" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">문제를 선택하세요</p>
				<div style="text-align: center;">
					<img alt="문제 선택 오류" src="/images/failed.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='errBtn' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 배점 총합이 100점이 아닐때 뜨는 모달 -->
<div id="scoreFail" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;" id="totalScore">배점의 총합이 100점이 아닙니다.</p>
				<div style="text-align: center;">
					<img alt="배점 오류" src="/images/failed.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='errBtn' type="button" class="btn btn-primary"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<!-- 배점이 100점이 됐을경우 다음으로 넘어갈때 뜨는 모달창 -->
<div id="scoreOk" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- 모달 헤더 -->
			<div class="modal-header">
				<h5 class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<!-- 모달 본문 -->
			<div class="modal-body">
				<p style="text-align: center;">다음 화면으로 넘어갑니다.</p>
				<div style="text-align: center;">
					<img alt="등록완료버튼" src="/images/registration.png">
				</div>
			</div>
			<!-- 모달 푸터 -->
			<div class="modal-footer">
				<button id='okBtn' type="button" class="btn btn-primary close"
					data-dismiss="modal">확인</button>
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	$('#subject').off('change').on('change', function() {
		quizContentList(1); // 필터 변경 시 1페이지부터 다시 시작
    });

    $('.testPaging').off('click', 'a').on('click', 'a', function() {
    	var page = $(this).data('page');
    	quizContentList(page);
    });
    
});

function testPagination(pageDTO, currentPage) {
	//console.log("pageDTO:", JSON.stringify(pageDTO, null, 12), "현재페이지:", currentPage);
	let arr = new Array();
	arr.push(pageDTO);
	//console.log("현재 페이지: " + arr[0].page);
	currentPage = arr[0].page;
			
	var pagination = $('.testPaging');
	pagination.empty();
			
	if (pageDTO.prev) {
		pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.starPage - 1) + '" onclick="quizContentList(' + (pageDTO.starPage - 1) + ')">&laquo;</a>');
	}
			
	for (var p = pageDTO.starPage; p <= pageDTO.endPage; p++) {
		//console.log("p값: " + p);
				
		var pageLink = $('<a href="javascript:void(0)" data-page="' + p + '">' + p + '</a>');
				
		if (p === currentPage) {
			pageLink.addClass('active');
		} else {
			pageLink.addClass('none');
		}
				
		pageLink.attr('onclick', 'quizContentList(' + p + ')');
		pagination.append(pageLink);
	}
	if (pageDTO.next) {
		pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.endPage + 1) + '" onclick="quizContentList(' + (pageDTO.endPage + 1) + ')">&raquo;</a>');
	}
}
</script>
<script>
var subName = ''; // 탬플릿문법안에 들어가있는 변수
var qContent = '';
var qId, sId= 0;
var page = 1;
var currentPage = 1;
var curriId = 0;
var solution = '';
var answer = [];
var subjectName = ''; // 필터링에 사용될 과목명
var textContent1 = '';
var textContent2 = '';
var textContent3 = '';
var textContent4 = '';
var textContent5 = '';
var storageContent = [];
var storageScore = []; 
var storageQId = [];

//--------------------------------------------
// 퀴즈 문제 전체를 불러오는 함수
//--------------------------------------------
function quizContentList(page, subjectName){
	//$('#quizBox').html('');
	subjectName = $('#subject').val();
	//--------------------------------------------
	// 문제 전체 조회 ajax (필터링)
	//--------------------------------------------
	$.ajax({
		url : "quizes",
		type : "get", 
		data : {
			page : page,
			subjectName : subjectName
		},
			
		success : function(data){
			updateList(data.quizes);
			testPagination(data.page,page);
			
			//--------------------------------------------
			// 문제 체크박스 버튼 누르고 문제선택 누를시 문제박스 색상 변경.
			//--------------------------------------------
			$('#quizSelect').on('click', function(index, e){
				$("input:checkbox[name=select]:checked").each(function(){
					$("input:checkbox[name=select]:checked").parent().parent().parent().attr("style", "border-color:blue;")
				})
			})
			$('.quizChk ').on('change', function(){
				if(!$('checkbox').checked){
					$(this).parent().parent().parent().attr("style", "")
				}
			})
			let sum = 0;
			/* 기능 구현해야함
			for(let i=0; i<$('.box').length; i++){
				$('#qScore'+i).on('change', function(e) {
			    	console.log($('#qScore'+i).val())
			    	sum += parseInt($('#qScore'+i).val())
			    	$('#total').val(sum)
			    });
			} */
	    	 
			//--------------------------------------------	
			// 단건 조회 문제 불러오는(자세히보기 버튼) 함수 (ajax 포함) 시작
			//--------------------------------------------
			$('.box').on('click', '.infoBtn', function(qId) {
				$("#quizInfo").empty(); // 최초로 모달창 비워주는 기능 필요(안그러면 버튼 누를때마다 누적됨)
				$('#modalWrap').modal('show');
				qId = $(this).val()
				answer = []; // 배열값 초기화
				//--------------------------------------------
				// 지문 자세히보기 - 모달에 불러오기 시작
				//--------------------------------------------
				$.ajax({
					url : "answers",
					type : "get", 
					data : {qId : qId},
									
					success : function(data){
						data.forEach((item,idx) => {
							answer.push(item.textContent);
						})
						textContent1 = answer[0];
						textContent2 = answer[1];
						textContent3 = answer[2];
						textContent4 = answer[3];
						textContent5 = answer[4];
						
						//--------------------------------------------
						// 문제,해설 단건조회(자세히보기)ajax - 모달에 불러오기 시작
						//--------------------------------------------
						$.ajax({
							url : "quizinfo",
							type : "get", 
							data : {qId : qId},
											
							success : function(data){
								data.forEach((item,idx) => {
									solution = item.quizSolution;
									qContent = item.quizContent;
									let qInfo = `
										<div>
											<h4>문제</h4>
											<br>
											<textarea rows="5" cols="50" id="quizContent" readonly="true">${qContent}</textarea>
										</div>	
										<br>
										<div>
											<h4>보기</h4>
											<br>
											<div class="row row1" style="padding-left:15px">
												<p class="">1. </p>
												<input class="col-8" type="text" id="textContent1" value="${textContent1}" readonly="true" />
											</div>
											<div class="row row2" style="padding-left:15px">
												<p class="">2. </p>
												<input class="col-8" type="text" id="textContent2" value="${textContent2}" readonly="true" />
											</div>
											<div class="row row3" style="padding-left:15px">
												<p class="">3. </p>
												<input class="col-8" type="text" id="textContent3" value="${textContent3}" readonly="true" />
											</div>
											<div class="row row4" style="padding-left:15px">
												<p class="">4. </p>
												<input class="col-8" type="text" id="textContent4" value="${textContent4}" readonly="true" />
											</div>
											<div class="row row5" style="padding-left:15px">
												<p class="">5. </p>
												<input class="col-8" type="text" id="textContent5" value="${textContent5}" readonly="true" />
											</div>
										</div>
										<br>
										<div>
											<h4>해설</h4>
											<br>
											<textarea rows="5" cols="50" id="quizSolution" readonly="true">${solution}</textarea>
										</div>
										<div style="text-align: center;" class="btnDiv">
											<button id="del${qId}" value="${qId}" class="main-btn danger-btn btn-hover quizDelBtn"
												type="button">삭제</button>
											<button id="update${qId}" value="${qId}" class="main-btn info-btn btn-hover quizUpBtn"
												type="button" style="visibility:hidden">문제 수정</button>
											<button value="${qId}" class="main-btn info-btn btn-hover updateShowBtn"
												type="button">수정하기</button>
										`;
									$("#quizInfo").append(qInfo);
								
									if($('#textContent2').val() == 'undefined'){
										$('.row5').hide();
										$('.row4').hide();
										$('.row3').hide();
										$('.row2').hide();
									}
								})
							},
							error : function(err){
								console.log('에러입니다');
							}
						});// 문제,해설 단건조회(자세히보기)ajax - 모달에 불러오기 종료
					},
					error : function(err){
						console.log('에러입니다');
					}
				}); // 지문 자세히보기 - 모달에 불러오기 종료
			}) // 단건 조회 문제 불러오는(자세히보기 버튼) 함수 (ajax 포함) 종료
		},
		error : function(){
			alert('실패');
		}
	}); // 문제 전체 조회 ajax (필터링) 종료
}; //퀴즈 문제 전체를 불러오는 함수 종료

//--------------------------------------------
// 과목 추가/삭제 모달창에서 과목창 띄워주는 함수
//--------------------------------------------
function subList(curriId){
	curriId = $('#curr').val();
	$('#insertSub').val(curriId);
	$('#insertSub').attr('name','curriculumId');
	$.ajax({
		url : "subjectCurrList",
		type : "post",
		data : {curriId : curriId},
		
		success : function(data){
			$('.currSub').html('');
			data.forEach((item,idx) => {
				
				let subjectName = item.subjectName;
				let templ = `
					<table>
						<tr>
							<th><input class="form-check-input checkbox"
								id="${subjectName}" type="checkbox"
								value="${subjectName}" name="subjectName" /> <label
								for="${subjectName}" class="form-check-label">${subjectName}</label>
							</th>
						</tr>
					</table>`;
				$('.currSub').append(templ);
			})
		},
		error : function(err){
			console.log('에러입니다');
		}
	}); 
}
subList(curriId);
//--------------------------------------------
//과목 추가/삭제 모달창에서 과정명이 바뀌면 과목명도 같이 바뀌는 필터, curriculumId값 자동 등록.
//--------------------------------------------
$('#curr').on('change', function(){
		curriId = $(this).val();
		$('#insertSub').val(curriId);
		$('#insertSub').attr('name','curriculumId');
		subList(curriId);
});
//--------------------------------------------
// 과목추가/삭제모달 알림창 뜨는거
//--------------------------------------------
document.querySelector('form[name="insertForm"]')
				.addEventListener('submit', validationCheck);
function validationCheck(event){
	event.preventDefault();
	if($('#insertSubName').val() == ''){
		$('#addSubFail').modal('show') // 과목명 미입력시 모달창 생성
		$('#insertSubName').focus();
		return;
	} else {
		$('#okModal').modal('show');
		$('#insertForm').submit();
	}
}


$('#delBtn').on('click',function(){
	if($('#delBtn').submit()){
		$('#delModal').modal('show');
	} else {
		alert('오류 발생.')
	}
})

//--------------------------------------------
// 과목삭제에서 체크박스 누르고 삭제버튼 누를시 삭제되는 기능
//--------------------------------------------
$('.form-check').on('click', '.checkbox', function(){
	var chkVal = $(this).val();
	curriId = $('#curr').val();
	$('input[type="checkbox"][name="subjectName"]').click(function(){
		  if($(this).prop('checked')){
		     $('input[type="checkbox"][name="subjectName"]').prop('checked',false);
		     $(this).prop('checked',true);
		    }
	});
	if($(".checkbox").is(":checked")){
		$('#hidden').val(curriId);
		$("#delBtn").attr("onclick", "location.href='/subjectdelete?subjectName=" + chkVal + '&curriculumId='+ curriId +"'");
		
	} else if($(".checkbox").is(":checked") == false){
		$("#delBtn").attr("onclick", "");
	};
})															

//--------------------------------------------
// 모달창 작업
//--------------------------------------------
// 모달창 (과목 추가/삭제)
//--------------------------------------------
const modal = document.getElementById("modalWrap"); // 자세히보기 모달창 요소 가져오기
//--------------------------------------------
// 과목 추가/삭제 모달창 띄우기
//--------------------------------------------
$('#subBtn').on('click', function(e){
	$('#modalWrap2').modal('show');
});
//--------------------------------------------
// esc누르면 모달창 닫기
//--------------------------------------------
window.addEventListener("keyup", e => {
    if(modal.style.display === "flex" && e.key === "Escape") {
    	modal.style.display = "none"
    }
});
//--------------------------------------------
// 모달창 기능 종료
//--------------------------------------------

//--------------------------------------------
// 과목명 필터링해서 문제 출력
//--------------------------------------------
$('#subject').on('change', function(){
	console.log('셀렉트 바뀜');
	if($(this).val() == 'all'){
		console.log('과목선택이 전체선택')
		subjectName = '';
		quizContentList(page, subjectName);
	} else {
		console.log('과목선택이 다른것')
		subjectName = $(this).val();
		quizContentList(page, subjectName);
	}
});

//--------------------------------------------
// 시험출제 버튼 누르면 선택된 문제들이 localstorage에 저장되고 페이지가 넘어감.
//--------------------------------------------
$('#testInsert').on('click', function(){
	storageContent = [];
	storageScore = [];
	storageQId = [];
	storageSubName = [];
	let sum = 0;
	for(let i=0; i<$('.box').length; i++){
		if($('#qContent'+i).is(":checked")){
			storageContent.push($('#qContent'+i).val());
			storageScore.push($('#qScore'+i).val());
			storageQId.push($('#qId'+i).val());
			storageSubName.push($('#sName'+i).val());
			
			sum += parseInt($('#qScore'+i).val());
			$('#total').val($('#qScore'+i).val());
		}
	}
	// 배점 총합이 0점일때 NaN 뜨는거 0으로 변경.
	if(isNaN(sum)){
		sum = 0;
	}
	// 문제를 선택(체크) 하지 않은 경우 알람창
	if($('input[name="select"]:checked').length == 0){
		//alert('문제가 선택되지 않았습니다.\n문제를 선택해주세요.')
		$('#quizChkbox').modal('show');
		return false;
	}
	// 배점의 총합이 100이 됐는지 체크
	if(sum == 100){
		//alert('배점의 합이 100점입니다.\n다음으로 넘어갑니다.')
		$('#scoreOk').modal('show');
		
	} else {
		//alert('배점의 합을 100점으로 맞춰주세요.\n' + '현재 배점 총합 : ' + sum)
		$('#totalScore').text('배점의 합을 100점으로 맞춰주세요.\n' + '현재 배점 총합 : ' + sum);
		$('#scoreFail').modal('show');
		return false;
	}
	
	// 값 저장시 ["","",""] 배열타입으로 저장하기 위해 변환작업.
	const arryContent = JSON.stringify(storageContent);
	const arryScore = JSON.stringify(storageScore); 
	const arryQid = JSON.stringify(storageQId);
	const arrySName = JSON.stringify(storageSubName);
	
	// 위 작업 안하면 값 출력시 그냥 1,2,3 이런식으로 출력됨
	// 위 작업을 하게 될 경우 ["1","2","3"] 이렇게 출력됨
	subjectName = $('#subject').val();
	window.localStorage.setItem('quizContent', arryContent);
	window.localStorage.setItem('quizScore', arryScore);
	window.localStorage.setItem('quizId', arryQid);
	window.localStorage.setItem('subjectName', arrySName);
	window.localStorage.setItem('qSubjectName', subjectName);
})

//--------------------------------------------
// 등록된 문제 필터링으로 인한 리스트 업데이트
//--------------------------------------------
function updateList(quizes){
	$('#quizBox').html('');
	
	quizes.forEach((quiz,idx) => {
		subName = quiz.subjectName;				
		qContent = quiz.quizContent;
		qId = quiz.quizId;
		sId = quiz.subjectId;
		
		let temp = `
			<div style="color:gray;" class="col-3 box" id="${qId}">
				<div class="card-style-3 mb-30 box2">
					<div>
						<div class="row">
							<input type="checkbox" class="quizChk " name="select"  id="qContent${idx}" value="${qContent}" style="zoom : 1.3"></input>
							<h5>문제선택</h5>
						</div>
						<input type="text" class="scInput" placeholder="배점입력" id="qScore${idx}" style="border:1px solid black; width: 70px;">
						<p>과목명 : ${subName}</p>
						<input type="hidden" id="qId${idx}" value="${qId}" />
						<input type="hidden" id="sName${idx}" value="${subName}" />
					</div>
					<div class="card-content">
						<h4>${qContent}</h4>
						<br>
						<button type="button" class="infoBtn" id="${qId}btn" name="${qId}" value="${qId}">자세히 보기</button>
					</div>
				</div>
			</div>
			`;
		$("#quizBox").append(temp);
	}) // for문 종료
	
} // 함수 종료

window.onload = function() {
	quizContentList(page, subjectName);
}

//--------------------------------------------
// 재시험 출력 페이지에서 넘어오면 다음 버튼 눌렀을때 reCurriculumId값을 가져오게 된다.
//--------------------------------------------
let reCurriculumId = window.localStorage.getItem('reCurriculumId')

if(reCurriculumId == null || reCurriculumId == ""){
	console.log("reCurriculumId 값이 없다 : " + reCurriculumId)
	$('#testInsert').attr('href', 'admin/selectClassExam')
} else {
	$('#testInsert').attr('href', 'retestinsert')
};	
//--------------------------------------------
// 문제 삭제 기능
//--------------------------------------------
$('#modalWrap').on('click', '.quizDelBtn', function(){
	console.log($(this).val());
	let quizId = $(this).val();
	$.ajax({
		url : "quizdelete",
		type : "get",
		data : {quizId : quizId},
		
		success : function(data){
			location.reload();
		},
		error : function(err){
			console.log('에러입니다');
		}
	}); 
})
//--------------------------------------------
// 문제 및 지문 수정기능
//--------------------------------------------
$('#modalWrap').on('click', '.quizUpBtn', function(){
	let quizId = $(this).val();
	textContent = $('#textContent1').val();
	textContent2 = $('#textContent2').val();
	textContent3 = $('#textContent3').val();
	textContent4 = $('#textContent4').val();
	textContent5 = $('#textContent5').val();
	qContent = $('#quizContent').val();
	solution = $('#quizSolution').val();
	
	let obj = { quizId : quizId,
				textContent : textContent,
				textContent2 : textContent2,
				textContent3 : textContent3,
				textContent4 : textContent4,
				textContent5 : textContent5,
				quizContent : qContent,
				quizSolution : solution}
	$.ajax({
		url : "answerupdate",
		type : "post",
		contentType : 'application/json',
		data : JSON.stringify(obj),
		
		success : function(data){
			location.reload();
		},
		error : function(err){
			console.log('에러입니다');
		}
	}); 
})
//--------------------------------------------
// 수정하기 버튼 누르면 수정 가능하도록 인풋창 활성화
//--------------------------------------------
$('#modalWrap').on('click','.updateShowBtn', function(){
	$('.updateShowBtn').attr('style','visibility:hidden');
	$('.quizUpBtn').attr('style','');
	$('#quizContent').attr({style:'border:1px black solid'
						  ,	readonly:false})
	$('#quizSolution').attr({style:'border:1px black solid'
						  , readonly:false})
	$('#textContent1').attr({style:'border:1px black solid'
						  , readonly:false})	
	$('#textContent2').attr({style:'border:1px black solid'
						  , readonly:false})
	$('#textContent3').attr({style:'border:1px black solid'
						  , readonly:false})
	$('#textContent4').attr({style:'border:1px black solid'
						  , readonly:false})
	$('#textContent5').attr({style:'border:1px black solid'
						  , readonly:false})					  
})
</script>

</html>