<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
#modalWrap {
	position: fixed; /* 화면에 고정 */
	z-index: 1; /* 상위에 위치 */
	padding-top: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
	display: none; /* 초기에는 숨김 */
}

#modalWrap2 {
	position: fixed; /* 화면에 고정 */
	z-index: 1; /* 상위에 위치 */
	padding-top: 200px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
	display: none; /* 초기에는 숨김 */
}

#modalBody {
	width: 50%;
	height: 70%;
	padding: 30px 30px;
	margin: 0 auto;
	border: 1px solid #777;
	background-color: #fff;
}

#modalBody2 {
	width: 50%;
	height: 90%;
	padding: 30px 30px;
	margin: 0 auto;
	border: 1px solid #777;
	background-color: #fff;
}

.close-area {
	display: inline;
	float: right;
	padding-right: 10px;
	cursor: pointer;
	color: black;
}

li {
	display: inline;
}
</style>
<!-- <p th:text="${quizList}"></p> -->
<div>
	<button type="button" id="subBtn" 
		class="main-btn primary-btn-light btn-hover">과목 추가/삭제</button>
	<ul>
		<li>
			<div>
				<label>과목선택</label>
				<div class="select-position">
					<select>
						<th:block th:each="subjectInfo, idxStat : ${subjectList}">
							<option value="">[[${subjectInfo.subjectName}]]</option>
						</th:block>
					</select>
				</div>
			</div>
		</li>
		<li><a href="#0" class="main-btn danger-btn-light btn-hover">시험출제</a>
		</li>
		<li><a href="quizinsert"
			class="main-btn primary-btn-light btn-hover">새문제</a></li>
		<li><a href="#0" class="main-btn primary-btn-light btn-hover">문제선택</a>
		</li>
	</ul>
</div>

<div id="quizBox" class="container"></div>

<button id="updateBtn">아작스테스트</button>

<!-- 문제 상세보기 모달창 -->
<!-- <div id="modalWrap" class="modal-overlay">
	<div id="modalBody">
		<div class="close-area">X</div>
			<label>문제</label><input type="text" placeholder="문제가 나와야 합니다."></input>
		<br> <br>
		<div>
			<label>보기</label><input type="text" placeholder="보기가 나와야 합니다."></input>
		</div>
		<br> <br>
		<div>
			<label>해설</label><input type="text" placeholder="해설이 나와야 합니다."></input>
		</div>
		<div style="text-align: center;">
			<button id="closeBtn" class="main-btn primary-btn btn-hover"
				type="button" onclick="location.href='quizlist'">확인</button>
		</div>
	</div>
</div>  -->
<!-- 문제 상세보기 모달창 end-->

<!-- 과목추가/삭제 모달창 -->
<div id="modalWrap2" class="modal-overlay">
	<div id="modalBody2">
		<div class="close-area">X</div>
		<div class="input-style-1">
			<!-- ======= checkbox style start ======= -->
			<div class="card-style mb-30">
				<h6 class="mb-25">과목 설정</h6>
				<th:block th:each="subjectInfo, idxStat : ${subjectList}">
					<div class="form-check checkbox-style mb-20">
						<table>
							<tr>
								<th><input class="form-check-input checkbox"
									type="checkbox" th:value="${subjectInfo.subjectId}"
									id="checkbox" /> <label class="form-check-label">
										[[${subjectInfo.subjectName}]]</label></th>
								<td><button type="button" id="subDel"
										th:onclick="|location.href='@{/subjectdelete(subjectId=${subjectInfo.subjectId})}'|">삭제</button>
								</td>
							</tr>
						</table>
					</div>
				</th:block>
			</div>
			<button type="button"
				class="main-btn danger-btn-light square-btn btn-hover">삭제</button>
			<!-- ======= checkbox style end ======= -->
		</div>
		<form th:action="@{/subjectinsert}" method="post"
			th:object="${teacherVO}">
			<div>
				<div class="input-style-1">
					<input type="text" placeholder="과목명을 입력하세요" th:field=*{subjectName}></input>
				</div>
				<button id="subAdd" class="main-btn primary-btn btn-hover"
					type="submit">과목추가</button>
			</div>
		</form>
	</div>
</div>
<!-- 과목추가 모달창 end -->
<script>
var subName = '';
var qContent = '';
var qId = 0;

//퀴즈 문제 전체를 불러오는 AJAX
$(function quizContentList(){
	$.ajax({
		url : "quizlist",
		type : "post", 
		contentType : "application/json",
		dataType : 'json',
				
		success : function(data){
			console.log(data);
			data.forEach((item,idx) => {
				console.log(item);
				let rowTag = null;
				if(idx%3==0){
					rowTag = $(`<div id='row${idx}' class='row'></div>`);
					$("#quizBox").append(rowTag);
				}else{
					let num = Math.floor(idx/3) * 3;
					rowTag = $('#row' + num );
				}

				subName = item.subjectName;				
				qContent = item.quizContent;
				qId = item.quizId;
				
				let temp = `
					<div style="color:gray;" class="col-4">
						<div class="card-style-3 mb-30">
							<div>
							<label>문제선택</label><input type="checkbox"></input>
							<p>과목명 : ${subName}</p>
							</div>
							<div class="card-content">
								<h4>${qContent}</h4>
								<br>
								<button type="button" class="infoBtn" id="${qId}">자세히 보기</button>
							</div>
						</div>
					</div>
					`;
				//$("#quizBox").append(temp);
				rowTag.append(temp);
			});
			
			$('.infoBtn').on('click', function() {
			    console.log($('.infoBtn').prop('id'));
			})
			
			let qInfo = `
			<div id="modalBody">
				<div class="close-area">X</div>
					<label>문제</label><input type="text" placeholder="문제가 나와야 합니다."></input>
				<br> <br>
				<div>
					<label>보기</label><input type="text" placeholder="보기가 나와야 합니다."></input>
				</div>
				<br> <br>
				<div>
					<label>해설</label><input type="text" placeholder="해설이 나와야 합니다."></input>
				</div>
				<div style="text-align: center;">
					<button id="closeBtn" class="main-btn primary-btn btn-hover"
						type="button" onclick="location.href='quizlist'">확인</button>
				</div>
			</div>
			`;
			
			$("#modalWrap").append(qInfo);
			
		},
		error : function(){
			alert('실패');
		}
	}); 	
});
//퀴즈 자세히보기 - 단건조회 모달창
/* $('.box').on('click', '.infoBtn', function(){
	console.log('aaaa')
	$.ajax({
		url : "quizinfo",
		type : "post", 
				
		success : function(data){
			console.log(data);
		},
		error : function(err){
			console.log(err);
		}
	}); 
}) */
$('#updateBtn').on('click', function quizInfo(){
	console.log('aaaa')
	$.ajax({
		url : "quizinfo",
		type : "get", 
				
		success : function(data){
			console.log(data);
		},
		error : function(err){
			console.log(err);
			console.log('quizinfo 불러오기 에러')
		}
	}); 
})


// 과목추가 버튼 눌렀을때 처리되는 기능
$('#subAdd').on('click', function(){
	$.ajax({
		url : "subjectinsert",
		type : "post", 
				
		success : function(data){
			alert('등록되었습니다.')
		},
		error : function(err){
		}
	}); 
})

// 과목 삭제버튼 기능
$('#subDel').on('click', function(){
	var subId = 
	$.ajax({
		url : "subjectdelete",
		type : "get", 
				
		success : function(data){
			alert('삭제되었습니다.')
		},
		error : function(err){
		}
	}); 
})

// 작업 테스트중
$('.checkbox').on('click', function(e){
	console.log(e.target);
	var aaa = $('.checkbox').val();
	console.log($("input[type='checkbox']").val());
})

//모달창

const modalSub = document.getElementById("modalWrap2"); // 과목추가 모달창 형태 불러오기
const modal = document.getElementById("modalWrap"); // 모달 창 요소 가져오기

$('#quizBox').on('click', '.infoBtn', function (e) {
	modal.style.display = "flex"; // 버튼 클릭시 모달 보임
});

$('#subBtn').on('click', function(e){
	modalSub.style.display = "flex";
})

// X버튼 누르면 모달창 닫기
$('.modal-overlay').on('click', '.close-area',function (e){
	modal.style.display = "none";
	modalSub.style.display = "none";
})

// 모달창 밖에 화면 누르면 모달창 닫는 기능
modal.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal-overlay")) {
        modal.style.display = "none"
    }
})

modalSub.addEventListener("click", e => {
    const evTarget = e.target
    if(evTarget.classList.contains("modal-overlay")) {
        modalSub.style.display = "none";
    }
})

// esc누르면 모달창 닫기
window.addEventListener("keyup", e => {
    if(modal.style.display === "flex" && e.key === "Escape") {
        modal.style.display = "none"
    } else if(modalSub.style.display === "flex" && e.key === "Escape") {
    	modalSub.style.display = "none"
    }
    
})

</script>

</html>