<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
p:hover {
  color: #365CF5;
}
</style>
<div class="col-lg-12" id="allClass" style="margin-top: 20px;">
	<div class="card-style mb-30">
		<ul class="buttons-group">
			<li>
				<button type="button" style="padding: 10px 30px;"
					class="main-btn success-btn-outline btn-hover classNum active"
					value="1">1강의실</button>
			</li>
			<li>
				<button type="button" style="padding: 10px 30px;"
					class="main-btn success-btn-outline btn-hover classNum"
					value="2">2강의실</button>
			</li>
			<li>
				<button type="button" style="padding: 10px 30px;"
					class="main-btn success-btn-outline btn-hover classNum"
					value="3">3강의실</button>
			</li>
			<li>
				<button type="button" style="padding: 10px 30px;"
					class="main-btn success-btn-outline btn-hover classNum"
					value="4">4강의실</button>
			</li>
			<li>
				<button type="button" style="padding: 10px 30px;"
					class="main-btn success-btn-outline btn-hover classNum"
					value="5">5강의실</button>
			</li>
		</ul>
	</div>
	<!-- end card -->
</div>
<!-- end col -->
<div class="col-12 mb-4 mt-4">
	<div class="">
		<h4 style="font-weight: normal; color: #404040" id="currName">n강의실 시작기간~종료기간</h4>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="card-style mb-30">
			<div
				class="title d-flex flex-wrap align-items-center justify-content-between">
				
				<div class="table-top-content" style="width: 280px; height: 55px; padding: 18px;">
					<h4 class="mb-10" style="font-weight: normal; color: white" id="chartClass">n강의실 과목별 평균점수</h4>
				</div>
			</div>
			<!-- End Title -->
			<div class="chart" style="height:30vh; width:100%" >
				<canvas id="chart"></canvas>
			</div>
			<!-- End Chart -->
		</div>
	</div>
	<!-- End Col -->
</div>
<!-- End Row -->

<!-- ========= card-style-3 start ========= -->
<div class="row classInfo">
	<!-- end col -->
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
		<div class="card-style-3 mb-30">
			<div class="card-content">
				<input type="hidden" id="hideTid"/>
				<!-- <h4 style="font-weight: normal" id="classTest">n강의실 시험정보</h4> -->
				
				<div class="table-top-content" style="height: 55px; padding: 18px;">
					<h4 class="mb-10" style="font-weight: normal; color: white" id="classTest">n강의실 시험정보</h4>
				</div>
				<br>
				<div class="test"></div>
			</div>
		</div>
	</div>
	<!-- end col -->
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
		<div class="card-style-3 mb-30">
			<div class="card-content">
				<div class="table-top-content" style="height: 55px; padding: 18px;">
					<h4 class="mb-10" style="font-weight: normal; color: white" id="classStudent">n강의실 수강생</h4>
				</div>
				<br>
				<div class="classUser"></div>
			</div>
		</div>
	</div>
	<!-- end col -->
</div>
<!-- end row -->
<!-- ========= card-style-3 end ========= -->
<script>
var classId = 1;
var testId = 0;
var label = [];1
var chartData = [];
var myChart = null;
function classInfo(classId){
	//--------------------------------------------
	// 학생정보 불러오기
	//--------------------------------------------
	$.ajax({
		url : "userinfo",
		type : "get", 
		data : {classId : classId},
				
		success : function(data){
			data.forEach((item,idx) => {
				$('.classUser').append($('<p class="testInfoItem" />').text((idx+1)+'. '+item.name).attr("onclick","location.href='/userTestInfo?userId="+item.userId+"'"));
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 학생정보 불러오기 end of ajax
	//--------------------------------------------
	// 강의실정보 불러오기
	//--------------------------------------------
	$.ajax({
		url : "classinfo",
		type : "get", 
		data : {classId : classId},
				
		success : function(data){
			data.forEach((item,idx) => {
				$('#currName').text(item.curriculumName + ' ' + '(' + formatDate(item.curriculumStartDate) + '~' + formatDate(item.curriculumEndDate) + ')');
				$('#classTest').text(item.classId + '강의실 시험정보');
				$('#classStudent').text(item.classId + '강의실 수강생');
				$('#chartClass').text(item.classId + '강의실 과목별 평균점수');
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 강의실정보 불러오기 end of ajax
	//--------------------------------------------
	// 강의실별 시험정보 불러오기
	//--------------------------------------------
	$.ajax({
		url : "classTestinfo",
		type : "get", 
		data : {classId : classId},
				
		success : function(data){
			data.forEach((item,idx) => {
				// 날짜 포멧 변환 함수
				function formatDate(date) {
				    var d = new Date(date),
				        month = '' + (d.getMonth() + 1),
				        day = '' + d.getDate(),
				        year = d.getFullYear();

				    if (month.length < 2) month = '0' + month;
				    if (day.length < 2) day = '0' + day;

				    return [year, month, day].join('/');
				} // 날짜 포멧 변환 end
				$('.test').append($('<p class="testInfoItem" />').text((idx+1) + '. ' + item.testName + '  [' + formatDate(item.testDate) + ']').attr("onclick","location.href='/testinfo?testId="+item.testId+"'"));
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 시험정보 end of ajax
	//--------------------------------------------
	// 평균점수 불러오기
	//--------------------------------------------
	let myCt = document.getElementById('chart').getContext('2d');
	$.ajax({
		url : "subjectavg",
		type : "get", 
		data : {classId : classId},
					
		success : function(data){
			console.log("최초 로딩 데이터 : "+data)
			data.forEach((item,idx) => {
				label.push(item.subjectName);
				chartData.push(item.subjectAvg);
			})
			// 차트 그리기
			myChart = new Chart(myCt, {
				type: 'bar',
			   	data: {
			    	labels: label,
			    	datasets: [
			      		{
			        		label: '평균점수',
			        		data: chartData,
			        		borderWidth: 1,
			        		maxBarThickness: 40,
			      		}
			    	]
			  	},
			  	options: {
			        maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
			        responsive: true,
			    }
			});
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 평균점수 end of ajax
}
//--------------------------------------------
// 강의실 버튼 클릭시 정보 갱신
//--------------------------------------------
$('#allClass').on('click','.classNum', function(classId) {
	$('.test').html('');
	$('.classUser').html('');
	myChart.destroy();
	label = [];
	chartData = [];
	classId = $(this).val()
	
	// 버튼 active
	$('.classNum').removeClass('active');
	$(this).addClass('active');
	
	//--------------------------------------------
	// 강의실별 학생정보 불러오기
	//--------------------------------------------
	$.ajax({
		url : "userinfo",
		type : "get", 
		data : {classId : classId},
				
		success : function(data){
			data.forEach((item,idx) => {
				$('.classUser').append($('<p class="testInfoItem" />').text((idx+1)+'. '+item.name).attr("onclick","location.href='/userTestInfo?userId="+item.userId+"'"));
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 학생정보 end of ajax
	//--------------------------------------------
	// 강의실별 과정명 불러오기
	//--------------------------------------------
	$.ajax({
		url : "classinfo",
		type : "get", 
		data : {classId : classId},
				
		success : function(data){
			data.forEach((item,idx) => {
				$('#currName').text(item.curriculumName + ' ' + '(' + formatDate(item.curriculumStartDate) + '~' + formatDate(item.curriculumEndDate) + ')');
				$('#classTest').text(item.classId + '강의실 시험정보');
				$('#classStudent').text(item.classId + '강의실 수강생');
				$('#chartClass').text(item.classId + '강의실 과목별 평균점수');
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 과정명 end of ajax
	//--------------------------------------------
	// 강의실별 시험정보 불러오기
	//--------------------------------------------
	$.ajax({
		url : "classTestinfo",
		type : "get", 
		data : {classId : classId},
				
		success : function(data){
			data.forEach((item,idx) => {
				$('.test').append($('<p class="testInfoItem" />').text((idx+1) + '. ' + item.testName + '  [' + formatDate(item.testDate)+']').attr("onclick","location.href='/testinfo?testId="+item.testId+"'"));
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 시험정보 end of ajax
	//--------------------------------------------
	// 평균점수 불러오기
	//--------------------------------------------
	/* let myCt = document.getElementById('chart'); */
	let myCt = document.getElementById('chart').getContext('2d');
	$.ajax({
		url : "subjectavg",
		type : "get", 
		data : {classId : classId},
					
		success : function(data){
			console.log("버튼 클릭했을떄 data : "+data)
			data.forEach((item,idx) => {
				label.push(item.subjectName);
				chartData.push(item.subjectAvg);
			})
			// 차트 그리기
			myChart = new Chart(myCt, {
				type: 'bar',
			   	data: {
			    	labels: label,
			    	datasets: [
			      		{
			        		label: '평균점수',
			        		data: chartData,
			        		borderWidth: 1,
			        		maxBarThickness: 40,
			      		}
			    	]
			  	},
			  	options: {
			        maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
			        responsive: true,
			    }
			});
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 평균점수 end of ajax
})// on click 함수 종료

$(document).ready(function(){
	classInfo(classId)
});

//--------------------------------------------
//날짜 포멧 변환 함수
//--------------------------------------------
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('/');
} // 날짜 포멧 변환 end


</script>
</html>