<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- ========= card-style-3 start ========= -->
<div class="row testInfo" th:value="${testInfo.testId}">
	<div class="col-12">
		<div class="address-item">
			<input type="hidden" th:value="${testInfo.testId}" />
			<h1 th:text="${testInfo.classId}+강의실">n강의실</h1>
			<br>
			<h4 th:text="${testInfo.curriculumName}">과정명</h4>
			<p class="text-sm">
				<span class="text-medium"
					th:text="${#dates.format(testInfo.curriculumStartDate, 'yyyy.MM.dd')}+'~'+${#dates.format(testInfo.curriculumEndDate, 'yyyy.MM.dd')}">시험기간</span>
			</p>
		</div>
		<div class="title mt-30 mb-30">
			<h2
				th:text="${testInfo.testName}+' '+${#dates.format(testInfo.testDate, 'yyyy.MM.dd')}">시험명
				시작기간~종료기간</h2>
		</div>
	</div>
	<!-- end col -->

		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="card-style-3 mb-30">
				<div class="card-content">
					<h4>시험 통과자</h4>
					<br>
					<div class="test row ">
						<div class="col-8" id="passUser"></div>
						<div class="col-4" id="passFeed"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- end col -->
		<div align="right" class="col-12">
			<button type="button">재시험 출제</button>
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
			<div class="card-style-3 mb-30">
				<div class="card-content">
					<h4>재시험 명단</h4>
					<br>
					<div class="test row">
						<div class="col-8" id="failUser"></div>
						<div class="col-4" id="failFeed"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- end col -->
	</div>
	<!-- end row -->
	<!-- ========= card-style-3 end ========= -->
	<button id="Btn">테스트</button>
	<script>
var testId = 0;
var userId = 0;

function userList(testId){
	testId = $('input').val();
	$.ajax({
		url : "testresult",
		type : "post", 
		data : {testId : testId},
				
		success : function(data){
			data.forEach((item,idx) => {
				if(item.feedback == null){
					item.feedback = "피드백 등록";
				} else {
					item.feedback = "피드백 완료";
				}
				
				if(item.isReexam == 1){
					item.isReexam = '재시험 X';
					$('#passUser').append($('<p/>').text(item.name + ' / ' + item.resultScore + ' / ' + item.isReexam));
					$('#passFeed').append($('<p/>').text(item.feedback).attr("onclick","location.href='/feedback?userId="+item.userId+"&testId="+item.testId+"'"));
					
				} else {
					item.isReexam = '재시험 O';
					$('#failUser').append($('<p/>').text(item.name + ' / ' + item.resultScore + ' / ' + item.isReexam));
					$('#failFeed').append($('<p/>').text(item.feedback).attr("onclick","location.href='/feedback?userId="+item.userId+"&testId="+item.testId+"'"));
				}
				
				
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 학생정보 end of ajax
}

userList(testId);

$('#Btn').on('click', function(){
	
})
</script>
</html>