<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
tr img {
	width: 80px;
    max-width: 100%;
    overflow: hidden;
    margin-right: 15px;
}

.center {
  text-align: center;
  width: 60%;
  margin: auto;
}

.testPaging {
  display: inline-block;
}

.testPaging a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  /*border: 1px solid #ddd;*/
  /*margin: 0 4px;*/
}

.testPaging a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.testPaging a:hover:not(.active) {
	background-color: #ddd;
}
.testListRow {
	cursor: pointer;
}
.testListRow:hover {
	background-color: rgb(229 231 235);
}
.table tbody tr:first-child > * {
	padding-top: 5px;	
}
</style>
<div class="row" style="margin-top:10px">
	<div class="col-12">
		<div style="position: absolute; right: 60px; top: 90px; z-index: 99;">
			<a href="quizlist" class="primary-btn main-btn btn-hover"
				style="padding: 5px 15px;"> <font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">+ 시험</font>
			</font>
			</a>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="card-style mb-30" style="position:relative;">
		<h1 class="mb-30">시험 목록</h1>
		
		<div class="select-style-1" style="position: relative; margin-bottom: 15px;">
			<label>강의실 선택</label>
			<div class="select-position" style="width: 200px;">
				<select id="classSelect">
					<option value="0">전체 강의실</option>
					<option value="1">1강의실</option>
					<option value="2">2강의실</option>
					<option value="3">3강의실</option>
					<option value="4">4강의실</option>
					<option value="5">5강의실</option>
				</select>
			</div>
		</div>
		
		<div class="input-style-1" style="position: absolute; top: 135px; right: 30px;">	
			<input name="testName" id="searchTest" type="text" placeholder="시험이름 검색" style="padding: 10px; width: 350px;">
			<img style="position: absolute; top: 12px; right: 10px; width: 20px; opacity: 0.5;" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
		</div>	
		<div class="table-wrapper table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>
							<h6>시험명</h6>
						</th>
						<th>
							<h6>출제 강의실</h6>
						</th>
						<th>
							<h6>시험 응시일</h6>
						</th>
						<th>
							<h6>시험 시간(분)</h6>
						</th>
						<th>
							<h6>진행상태</h6>
						</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<!-- ajax로 태그 생성 -->		
					<tr th:each="test : ${tests}">
					
					</tr>
				</tbody>
			</table>
			
			<div class="center">
				<div class="testPaging">
					<!-- ajax실행으로 태그 생성 -->
				</div>
			</div>
							
		</div>
	</div>
</div>
             
<script>
$(document).ready(function() {
	$('#classSelect').off('change').on('change', function() {
		testList(1); // 필터 변경 시 1페이지부터 다시 시작
    });
	
    $('#searchTest').off('keyup').on('keyup', function(e) {
    	testList(1); // 검색어 입력하거나 지울 시 실시간으로 데이터 변경후 페이지 1로 고정
    });

    $('.testPaging').off('click', 'a').on('click', 'a', function() {
    	var page = $(this).data('page');
        testList(page);
    });
});

function testPagination(pageDTO, currentPage) {
	// console.log("pageDTO:", JSON.stringify(pageDTO, null, 5), "현재페이지:", currentPage);
	let arr = new Array();
	arr.push(pageDTO);
	//console.log("현재 페이지: " + arr[0].page);
	currentPage = arr[0].page;
			
	var pagination = $('.testPaging');
	pagination.empty();
			
	if (pageDTO.prev) {
		pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.starPage - 1) + '" onclick="testList(' + (pageDTO.starPage - 1) + ')">&laquo;</a>');
	}
			
	for (var p = pageDTO.starPage; p <= pageDTO.endPage; p++) {
		//console.log("p값: " + p);
				
		var pageLink = $('<a href="javascript:void(0)" data-page="' + p + '">' + p + '</a>');
				
		if (p === currentPage) {
			pageLink.addClass('active');
		} else {
			pageLink.addClass('none');
		}
				
		pageLink.attr('onclick', 'testList(' + p + ')');
		pagination.append(pageLink);
	}
	if (pageDTO.next) {
		pagination.append('<a href="javascript:void(0)" data-page="' + (pageDTO.endPage + 1) + '" onclick="testList(' + (pageDTO.endPage + 1) + ')">&raquo;</a>');
	}
}
</script>
<script>
var cId = 0;
var page = 1;
var searchQuery = "";
var currentPage = 1;

//--------------------------------------------
// 시험 목록 출력 함수
//--------------------------------------------
function testList(page, searchQuery){
	cId = $('#classSelect').val();
	// 검색 변수
	searchQuery = searchQuery || $('#searchTest').val();
	//--------------------------------------------
	// 문제 전체 조회 ajax
	//--------------------------------------------
	$.ajax({
		url : "test",
		type : "get", 
		data : {
			classId : cId, 
			page : page, 
			searchQuery : searchQuery
		},
		
		success : function(data){
			//console.log("페이지DTO: " + JSON.stringify(data.page, null, 5), "페이지: " + page);
			updateList(data.tests);
			testPagination(data.page, page);
		},
		error : function(err){
			console.log('에러입니다');
		},
		
	})	
}

//--------------------------------------------
//시험 목록 필터링으로 인한 리스트 업데이트
//--------------------------------------------
function updateList(tests){
	
	$('tbody').html('');
	
	$('#classSelect').on('change', function(){
		if($(this).val() == 0){
			cId = 0;
		} else {
			cId = $(this).val();
		}
	});
	
	tests.forEach((test,idx) => {
		var tName = test.testName;
		var tDate = formatDate(test.testDate);
		var tTime = test.testTime;
		var classId = 0;
		var processIdx = idx;
		var sName = test.subjectName;
		
		if(cId==0){
			classId = test.classId
		} else {
			classId = cId
		}
		
		let temp = `
			<tr class="testListRow">
				<td class="min-width">${tName} [과목 : ${sName}]</td>
				<td class="min-width">${classId}강의실</td>
				<td class="min-width tDate">${tDate}</td>
				<td class="min-width">${tTime}</td>
				<td id="tProcess" class="min-width">
					<span class="status-btn active-btn process" id="${processIdx}">진행중</span>
				</td>
			</tr>
			
		`;
		$('#tbody').append(temp);
		process();
	})
}

//--------------------------------------------
//날짜 포멧 변환 함수
//--------------------------------------------
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
} // 날짜 포멧 변환 end
var today = new Date();
var today1 = formatDate(today);

//--------------------------------------------
//날짜 비교해서 시험진행 상태 변경
//--------------------------------------------
function process(){
	var arry = [];
	$('.tDate').each(function (index, item) {
		 arry.push($(item).text());
		 if(arry[index] < today1){
		 	$('#'+index).text('시험종료');
		 	$('#'+index).attr('class', 'status-btn close-btn process');
		 } else if(arry[index] == today1) {
		 	$('#'+index).text('시험중');
		 	$('#'+index).attr('class', 'status-btn active-btn process');
		 } else {
			$('#'+index).text('대기중');
			$('#'+index).attr('class', 'status-btn info-btn process');
		 }
	});
}

window.onload = function() {
	setActiveMenuItem();
	testList();
}

$(function(){
	window.localStorage.clear();
})

</script>
</html>