<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
.feedBtn{
	border: 1px solid gray;
	width: 100px;
}
</style>
<!-- ========= card-style-3 start ========= -->
<div class="row testInfo">
	<div class="col-12">
		<div class="address-item">
			<input type="hidden" id="tId" th:value="${testInfo.testId}"/>
			<input type="hidden" id="currId" th:value="${testInfo.curriculumId}"/>
			<input type="hidden" id="classId" th:value="${testInfo.classId}"/>
			<div class="title d-flex flex-wrap align-items-center justify-content-between" style="margin-top:30px">
				<div class="table-top-content" style="width: 280px; height: 55px; padding: 18px;">
					<h4 class="mb-10" style="font-weight: normal; color: white" id="chartClass">강의실 정보</h4>
				</div>
			</div>
			<h1 th:text="${testInfo.classId}+강의실">n강의실</h1>
			<br>
			<h4 th:text="${testInfo.curriculumName}">과정명</h4>
			<p class="text-sm">
				<span class="text-medium"
					th:text="${#dates.format(testInfo.curriculumStartDate, 'yyyy.MM.dd')}+'~'+${#dates.format(testInfo.curriculumEndDate, 'yyyy.MM.dd')}">시험기간</span>
			</p>
		</div>
		<div class="title mt-30 mb-30">
			<h2
				th:text="'시험명 : ' + ${testInfo.testName}+' '+${#dates.format(testInfo.testDate, 'yyyy.MM.dd')}">시험명
				시작기간~종료기간</h2>
		</div>
	</div>
	<!-- end col -->
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
		<div class="card-style-3 mb-30">
			<div class="card-content">
				<div class="title d-flex flex-wrap align-items-center justify-content-between">
					<div class="table-top-content" style="width: 280px; height: 55px; padding: 18px;">
						<h4 class="mb-10" style="font-weight: normal; color: white" id="chartClass">시험 통과자</h4>
					</div>
				</div>
				<br>
				<div class="test row ">
					<div class="col-8" id="passUser"></div>
					<div class="col-4" id="passFeed"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end col -->
	<div align="right" class="col-12" style="margin-bottom:10px">
		<button type="button" id="reTest" class="tlist_1 status-btn close-btn" onclick="location.href='/admin/quizlist'">재시험 출제</button>
	</div>
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
		<div class="card-style-3 mb-30">
			<div class="title d-flex flex-wrap align-items-center justify-content-between">
				<div class="table-top-content" style="width: 280px; height: 55px; padding: 18px;">
					<h4 class="mb-10" style="font-weight: normal; color: white" id="chartClass">재시험자</h4>
				</div>
			</div>
			<div class="card-content">
				<br>
				<div class="test row">
					<div class="col-8" id="failUser"></div>
					<div class="col-4" id="failFeed"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end col -->
</div>
<!-- end row -->
<!-- ========= card-style-3 end ========= -->
<script>
var testId = 0;
var userId = 0;
var reUserId = [];

function userList(testId){
	testId = $('#tId').val();
	$.ajax({
		url : "testresult",
		type : "get", 
		data : {testId : testId},
		async : false,
				
		success : function(data){
			data.forEach((item,idx) => {
				if(item.feedback == null){
					item.feedback = "피드백 등록";
				} else {
					item.feedback = "피드백 완료";
				}
				
				if(item.isReexam == 1){
					//item.isReexam = '재시험 X';
					$('#passUser').append($('<p/>').text(item.name + ' / ' + item.resultScore + '점'));
					$('#passFeed').append($('<p/>').text(item.feedback)
												   .attr("onclick","location.href='/admin/feedback?userId="+item.userId+"&testId="+item.testId+"'")
												   .addClass('feedBtn'));
					
				} else {
					//item.isReexam = '재시험 O';
					$('#failUser').append($('<p/>').text(item.name + ' / ' + item.resultScore + '점'),
									      $('<input type="hidden">').attr({value : item.userId, id : "u"+idx}));

					$('#failFeed').append($('<p/>').text(item.feedback).attr("onclick","location.href='/admin/feedback?userId="+item.userId+"&testId="+item.testId+"'")
												   .addClass('feedBtn'));

					reUserId.push($('#u'+idx).val());
				}
			})
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 학생정보 end of ajax
}
userList(testId);

//--------------------------------------------
// 재시험 명단에 아무도 없을경우 재시험 출제 버튼 display = none
//--------------------------------------------
let pTagNum = $('#failUser').children($('<p/>')).length;
const btn1 = document.getElementById('reTest');
if(pTagNum == 0){
	btn1.style.display = 'none';
} else {
	//console.log('p태그가 존재함')
}

$('#reTest').on('click', function(){
	const arryReUserId = JSON.stringify(reUserId);
	
	window.localStorage.setItem('reCurriculumId', $('#currId').val());
	window.localStorage.setItem('reClassId', $('#classId').val());
	window.localStorage.setItem('reUserId', arryReUserId);
	window.localStorage.setItem('reTestId', $('#tId').val());
})

$(function(){
	window.localStorage.clear();
})
</script>
</html>