<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>	

<div class="row">
	<div class="col-12">
		<div style='float: right;'>
			<a href="selectClassExam" class=" primary-btn rounded-full btn-hover"
				style='padding: 10px;'> <font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;">+ 시험</font>
			</font>
			</a>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="card-style mb-30">
		<h1 class="mb-30">시험 목록</h1>
		<div class="table-wrapper table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>
							<h6>#</h6>
						</th>
						<th>
							<h6>시험명</h6>
						</th>
						<th>
							<h6>마감일</h6>
						</th>
						<th>
							<h6>시험 시간</h6>
						</th>
						<th>
							<h6>진행상태</h6>
						</th>
					</tr>
					<!-- end table row-->
				</thead>
				<tbody id="tbody">
					<th:block th:each="examInfo, idxStat : ${testList}">
						<tr>
							<td><i class="mdi mdi-script-text-play-outline"></i></td>
							<td class="min-width">[[ ${examInfo.testName} ]]</td>
							<td class="min-width tDate" th:id="${examInfo.testId}" th:value="${#dates.format(examInfo.testDate,
								'yyyy-MM-dd')}">[[ ${#dates.format(examInfo.testDate, 'yyyy-MM-dd')} ]]</td>
							<td class="min-width">[[ ${examInfo.testTime} ]]</td>
							<td class="min-width"><span class="status-btn active-btn process">진행중</span>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
//날짜 포멧 변환 함수
function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
} // 날짜 포멧 변환 end
var today = new Date();
var today1 = formatDate(today);
console.log(today1);
// 날짜 비교해서 시험진행 상태 변경
var arry = [];
$('.tDate').each(function (index, item) {
    arry.push($('.tDate').attr("value"));
    if(arry[index] < today1){
    	$('.process').text('종료');
    	$('.process').attr('class', 'status-btn close-btn process');
    } else {
    	$('.process').text('진행중');
    }
});	
</script>
</html>