<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
table {
	width: 60%;
}
</style>

<div>
	<input type="hidden" id="uId" th:value="${userTestInfo.userId}">
	<div class="title d-flex flex-wrap align-items-center justify-content-between" style="margin-top:30px">
		<div class="table-top-content" style="width: 280px; height: 55px; padding: 18px;">
			<h4 class="mb-10" style="font-weight: normal; color: white" id="chartClass">학생 정보</h4>
		</div>
	</div>
	<table style="margin-left: 10px; margin-bottom: 50px;font-size:25px">
		<tr>
			<th>이름</th>
			<td th:text="${userTestInfo.name}">123</td>
		</tr>
		<tr>
			<th>과정 정보</th>
			<td th:text="${userTestInfo.curriculumName}">123</td>
		</tr>
		<tr>
			<th>수강 기간</th>
			<td th:text="${#dates.format(userTestInfo.curriculumStartDate, 'yyyy.MM.dd')}
			+' ~ '+${#dates.format(userTestInfo.curriculumEndDate, 'yyyy.MM.dd')}">123</td>
		</tr>
	</table>
</div>
<div>
	<div class="title d-flex flex-wrap align-items-center justify-content-between" style="margin-top:30px">
		<div class="table-top-content" style="width: 280px; height: 55px; padding: 18px;">
			<h4 class="mb-10" style="font-weight: normal; color: white" id="chartClass">과목별 평균점수</h4>
		</div>
	</div>
	<div class="chart" style="width:900px; height:400px;">
		<canvas id="chart" style="width: 100%; height: 300px; margin-left: 45px;"></canvas>
	</div>
</div>
<br>
<div align="left">
	<button type="button" class="main-btn deactive-btn square-btn btn-hover" onclick="location.href='teachermain'">뒤로가기</button>
</div>
<script>
var userId = 0;
var label = [];
var chartData = [];
var myChart = null;
function showPage(userId){
	userId = $('#uId').val();
	$.ajax({
		url : "userScore",
		type : "get", 
		data : {userId : userId},
				
		success : function(data){
			data.forEach((item,idx) => {
				label.push(item.subjectName);
				chartData.push(item.resultScore);
			})
			// 차트 그리기
			let myCt = document.getElementById('chart');

			myChart = new Chart(myCt, {
			  type: 'line',
			  data: {
			    labels: label,
			    datasets: [
			      {
			        label: '과목명',
			        data: chartData,
			      }
			    ]
			  },
			});
			
		},
		error : function(err){
			console.log('에러입니다');
		}	
	}); // 학생 과목 점수정보 end of ajax
}
showPage(userId)


</script>
</html>