<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>boardList</title>
</head>
<body>
<div class="container">
		<h3>정보 게시판</h3>
		<table class="table">
			<thead>
				<tr>
					<th>게시글 번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성시간</th>
					<th>조회수</th>
					<th>추천수</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="info, idxStat: ${boardList}">
				<!-- <a th:href="@{/boardInfo/${info.postId}}">[[${info.postId}]]</a>  -->
					<td>[[${info.postId}]]</td>
					<td>[[${info.title}]]</td>
					<td>[[${info.writer}]]</td>
					<td>[[${#dates.format(info.createDate, "yyyy-MM-dd")}]]</td>
					<td>[[${info.postView}]]</td>
					<td>[[${info.postLike}]]</td>
				</tr>
			</tbody>		
		</table>
	</div>
</body>
</html>