<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Home">
<head>
<meta charset="UTF-8">
<title>게시글 수정</title>
</head>
<body>
    <h1>게시글 수정</h1>
    <form th:action="@{/boardUpdate}" th:object="${boardInfo}" method="post">
        <label for="title">제목:</label>
        <input type="text" th:field="*{title}" /><br/>

        <label for="postContent">내용:</label>
        <textarea th:field="*{postContent}"></textarea><br/>

        <label for="writer">작성자:</label>
        <input type="text" th:field="*{writer}" /><br/>

        <button type="button" id="updateBtn">수정</button>
    </form>
    <script>
    
    $('#updateBtn').on('click', updateAjaxJq);
	function updateAjaxJq(event){
		// validationCheck
		if(!validationCheck()) return;
		let dataObj = getEmpObj();
		$.ajax('boardUpdate',{
			type: 'get',
			contentType: 'application/json',
			data: JSON.stringify(dataObj)
		})
		.done(result => {
			if(result != null){
				alert('정상적으로 수정되었습니다.')
			console.log(result);
			}else{
				alert('수정되지 않았습니다.')
			}
		})
		.fail(err => console.log(err));
	}
	function validationCheck(){
		let name = $('#title');
		if(name.val() == ''){
			alert('게시글의 제목은 필수로 입력해야합니다.');
			name.focus();
			return false;
		}
		return true;
	}
	function validationCheck2(){
		let name = $('#postContent');
		if(name.val() == ''){
			alert('게시글의 내용은 필수로 입력해야합니다.');
			name.focus();
			return false;
		}
		return true;
	}
	</script>
</body>
</html>