<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
	<footer id="footer">
		<div class="container">
			<div class="copyright">
				<!-- (주)예담직업전문학교 대구광역시 중구 중앙대로 403 (남일동 135-1, 5층) / 대표자:서강중 / 사업자번호:504-86-00471 / Tel:053-421-2460 / Fax:053-356-3939 <br> 
				대표 E-mail:ask@yedam.ac / 개인정보보호책임자:서강중 (ask@yedam.ac) <a href="/homePp/ppPage">개인정보처리방침</a><br>  -->
			</div>
			<div class="credits">
				© Copyright 2009 <a href="https://daeguoracle.com/homeMain/homepageMain" target="_blank">(주)예담직업전문학교</a> All Rights Reserved.
			</div>
		</div>
	</footer>
</html>