<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
<style>
</style>
<div class="container-menu-desktop">

	<div class="wrap-main-nav" style="height: 100%">
		<div class="main-nav" style="height: 100%">
			<!-- Menu desktop -->
			<nav class="menu-desktop" style="height: 100%; display: flex; align-items: center; position: relative;">
				<ul class="main-menu">
					<div class="" style="margin-right: 20px;">
						<a href="/all/home"><img src="/images/logo_main.PNG" alt="LOGO"></a>
					</div>
					<li class="mega-menu-item"><a href="/all/home">Home</a>
					<!-- <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
						<li class="mega-menu-item"><a href="/admin/teachermain">LMS</a></li>
					</th:block> -->
					<!-- <th:block sec:authorize="hasAuthority('ROLE_LEARN')">
						<li class="mega-menu-item"><a href="/all/testList2">LMS</a></li>
					</th:block> -->
					<li class="mega-menu-item" style="display: none;">[[${#authentication.principal.userType == 'ROLE_GRAD'}]]</li>
					<th:block th:if="${#authentication.principal.userType == 'ROLE_GRAD' OR #authentication.principal.userType == 'ROLE_ADMIN'}">
						<li class="mega-menu-item"><a href="/all/curriculumPost" id="graduatedBoard">수료 과정별 게시판</a></li>
					</th:block>
					<th:block th:if="${#authentication.principal.userType == 'ROLE_LEARN'}">
						<li class="mega-menu-item"><a href="/all/testList2" id="graduatedBoard">LMS</a></li>
					</th:block>
					<!-- <th:block sec:authorize="hasAuthority('ROLE_GRAD')">
						<li class="mega-menu-item"><a th:href="@{/all/curriculumPost}" id="graduatedBoard">수료 과정별 게시판</a></li>
					</th:block> -->
					<th:block th:if="${#authentication.principal.userType == 'ROLE_GRAD' OR #authentication.principal.userType == 'ROLE_ADMIN'}">
						<li class="mega-menu-item"><a th:href="@{/all/posts/2}" id="findJobBoard">구인/구직 게시판</a></li>
					</th:block>
					<li class="mega-menu-item"><a th:href="@{/all/posts/3}" id="infoBoard">정보 공유 게시판</a></li>
					<li class="mega-menu-item"><a th:href="@{/all/posts/4}" id="debateBoard">질문과 토론 게시판</a></li>
				</ul>
				<!-- <th:block sec:authorize="hasAuthority('ROLE_LEARN') or hasAuthority('ROLE_GRAD') or hasAuthority('ROLE_ADMIN')">
					<div class="profile_my_info" style="position: absolute; right: 90px; color: black;">
						<p style="font-weight: normal; color: #51BC56">[[${#authentication.name}]] <span style="color: black;">님</span></p>
						<p>환영합니다!</p>
					</div>
				</th:block> -->
				<div class="profile_image_btn">
					<button id="myMenuBtn">
						<th:block th:if="${#authentication.principal.profileImageLocation}">
						    <img th:src="@{${'/files' + #authentication.principal.profileImageLocation}}" 
						    	 style="width: 65px; height: 65px; border-radius: 50%; box-shadow: 1px 5px 8px 0 #00000040;" 
						    	 onerror="this.onerror=null; this.src='/images/default_profile.jpg';">
						</th:block>
						<th:block th:if="!${#authentication.principal.profileImageLocation}">
						    <img style="width: 65px; height: 65px; border-radius: 50%; box-shadow: 1px 5px 8px 0 #00000040;" src="/images/default_profile.jpg">
						</th:block>
					</button>
					<ul class="myMenuList" style="display: none">
						<li class="myMenuItem" style="padding-bottom: 15px; border-bottom: 1px solid #e6e6e6;"><p>안녕하세요.</p><p>[[${#authentication.name}]] 님!</p></li>
						<th:block sec:authorize="hasAuthority('ROLE_LEARN') or hasAuthority('ROLE_GRAD') or hasAuthority('ROLE_ADMIN')">
							<li class="myMenuItem"><a href="/mypage">프로필</a></li>
						</th:block>
						<th:block sec:authorize="hasAuthority('ROLE_LEARN')">
							<li class="myMenuItem"><a href="/all/testList2">LMS</a></li>
						</th:block>
						<th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
							<li class="myMenuItem"><a href="/admin/adminMain">관리자페이지</a></li>
						</th:block>
						<li class="myMenuItem"><a href="/logout">로그아웃</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</div>
<script>
	var menuList = document.querySelector('.myMenuList');
	var menuButton = document.querySelector('#myMenuBtn');
	
	menuButton.addEventListener('click', function(e) {
	    e.stopPropagation();
	    if (menuList.style.display === 'block') {
	        menuList.style.display = 'none';
	    } else {
	        menuList.style.display = 'block';
	    }
	});
	
	// 메뉴 외부 클릭 시 메뉴 닫기
	document.addEventListener('click', function(e) {
	    if (!menuButton.contains(e.target) && !menuList.contains(e.target)) {
	        menuList.style.display = 'none';
	    }
	});
	
	// 현재 페이지 URL
    function getHomeCurrentPage() {
        var pathArray = window.location.pathname.split('/');

        return pathArray[pathArray.length - 1];
    }

    // 현재 페이지에 해당하는 메뉴에 active 추가
    /* function setActiveHomeMenuItem() {
        var currentPage = getHomeCurrentPage();
        var navLinks = document.querySelectorAll('.main-nav ul li a');
        console.log("현재 페이지: ", currentPage);
        
        for (var i = 0; i < navLinks.length; i++) {
        	
            if (navLinks[i].getAttribute('href') === ("/all/" + currentPage)) {
                navLinks[i].classList.add('active');
            } else if (navLinks[i].getAttribute('href') === ("/all/posts/" + currentPage)) {
				navLinks[i].classList.add('active'); 
			}
			 else {
            	navLinks[i].classList.remove('active');
            }
        }
    } */
    
    function setActiveHomeMenuItem() {
        // 현재 페이지 경로를 가져옴
        var currentPath = window.location.pathname;
        var navLinks = document.querySelectorAll('.main-nav ul li a');

		
		var graduatedBoard = document.querySelector('#graduatedBoard');
		var findJobBoard = document.querySelector('#findJobBoard');
		var infoBoard = document.querySelector('#infoBoard');
		var debateBoard = document.querySelector('#debateBoard');
        
        // 모든 메뉴 항목을 순회하면서 활성화 상태를 설정
        for (var i = 0; i < navLinks.length; i++) {
            // 현재 메뉴 항목의 href 속성 값을 가져옴
            var linkPath = navLinks[i].getAttribute('href');

            
            // 현재 경로가 메뉴 항목의 href 속성과 일치하거나 포함될 경우 활성화
            if (currentPath.startsWith(linkPath)) {
                navLinks[i].classList.add('active');
            } else {
                navLinks[i].classList.remove('active');
            }
			
			if (currentPath.startsWith("/all/post/2/")) {
				graduatedBoard.classList.add('active');
			} else if (currentPath.startsWith("/all/post/7/")) {
				findJobBoard.classList.add('active');
			} else if (currentPath.startsWith("/all/post/8/")) {
				infoBoard.classList.add('active');
			} else if (currentPath.startsWith("/all/postvote/9/")) {
				debateBoard.classList.add('active');
			}
        }
    }
	
	window.onload = function() {
		setActiveHomeMenuItem();
	}
</script>
</html>