<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.yedam.app.yedam_homework.mapper.HomeWorkReplyMapper">

	<!-- 댓글등록 -->
	<insert id="insertReply" parameterType="HomeWorkVO">
		INSERT INTO replies
		(reply_id,
		reply_content,
		homework_target_id)
		VALUES
		(reply_id_seq.nextval,
		#{replyContent},
		#{homeworkTargetId}
		)
	</insert>

	<!-- 댓글 조회 -->
	<select id="selectReplyAll" resultType="ReplyVO">
		<!-- SELECT r.homework_target_id, 
						r.reply_content, 
						r.reply_date,
						r.update_date,
						r.reply_writer, 
						r.reply_id 
		FROM homeworks h JOIN	homework_targets t	ON (h.homework_id = t.homework_id) 
                		JOIN replies r ON(t.homework_target_id= r.homework_target_id) 
                		JOIN comments c ON (r.reply_id = c.reply_id)
		WHERE h.homework_id = #{homeworkId} -->

		SELECT	reply_id,
       			reply_content,
       			reply_date,
      			update_date,
       			reply_writer
		FROM    replies
		WHERE   homework_target_id = #{homeworkTargetId}
	</select>

	<!-- 대댓글 조회 -->
	<select id="selectComment" resultType="CommentVO">
	 SELECT comment_id,
       		reply_id,
        	comment_writer,
        	comment_content,
        	comment_date
	FROM    comments
	WHERE   reply_id = #{replyId}
	ORDER BY comment_id 
	
	<!-- SELECT  c.comment_id,
        c.reply_id,
        c.comment_writer,
        c.comment_content,
        c.comment_date
FROM    comments c JOIN replies r ON (c.reply_id = r.reply_id)
WHERE   r.homework_target_id= #{homeworkTargetId} AND c.comment_id = #{commentId} -->
	</select>

	<!-- 대댓글 등록 -->
	<insert id="insertComment" parameterType="HomeWorkVO">
		INSERT INTO comments
		(comment_id,
		reply_id,
		comment_content)
		VALUES
		(comment_id_seq.nextval,
		#{replyId},
		#{commentContent}
		)
	</insert>
</mapper>