<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.app.yedam_homework.upload.mapper.HomeWorkFileMapper">
  <!-- 과제 파일등록 -->
	<insert id="insertHomeWorkFile" parameterType="HomeWorkFileVO">
	INSERT INTO homeworkfiles
    (homeworkfile_id,
     homeworkfile_name,
     homeworkfile_size,
     homeworkfile_location,
     download_location,
     homeworkfile_ext,
     homework_id
     )
VALUES
    (homeworkfile_id_seq.nextval,
     #{homeworkfileName},
     #{homeworkfileSize},
     #{homeworkfileLocation},
     #{downloadLocation},
     #{homeworkfileExt},
     #{homeworkId}
    )
	</insert>
	
	<!-- 댓글 파일 등록 -->
	<insert id="insertReplyfFile" parameterType="ReplyFileVO">
	INSERT INTO replyfiles
    		(replyfile_id,
    		replyfile_name,
    		replyfile_size,
    		replyfile_location,
    		download_location,
    		replyfile_ext,
    		reply_id)
	VALUES
		 (replyfile_id_seq.nextval,
  	      #{replyfileName},
  	      #{replyfileSize},
  	      #{replyfileLocation},
     	  #{downloadLocation},
     	  #{replyfileExt},
     	  #{replyId}
    )
	</insert>
	<!-- 과제파일 조회 -->
	<select id="selectHomeworkfile" parameterType="HomeWorkFileVO">
	SELECT  homeworkfile_id,
      		homeworkfile_name,
        	homeworkfile_size,
        	homeworkfile_location,
        	download_location,
        	homeworkfile_ext,
        	homework_id
	FROM    homeworkfiles
	WHERE   homework_id= #{homeworkId}
	</select>
	
	<!-- 과제파일(ID) 조회 -->
	<select id="selectHomeworkFileId" parameterType="HomeWorkFileVO">
	SELECT  homeworkfile_id,
        	homeworkfile_name,
        	homeworkfile_size,
        	homeworkfile_location,
       		download_location,
        	homeworkfile_ext,
        	homeworkfile_id
	FROM    homeworkfiles
	WHERE   homeworkfile_id = #{#homeworkfileId}
	</select>
	
	<!-- 댓글 파일 조회 -->
	<select id="selectReplyfile" parameterType="ReplyFileVO">
	SELECT  replyfile_id,
      		replyfile_name,
        	replyfile_size,
        	replyfile_location,
        	download_location,
        	replyfile_ext,
        	reply_id
	FROM    replyfiles
	WHERE   reply_id= #{replyId}
	</select>
	
	<!-- 과제파일 이름 조회 -->
		<select id="selectHomeworkFileName" parameterType="HomeWorkFileVO">
	SELECT  homeworkfile_location
	FROM    homeworkfiles
	WHERE   download_location = #{downloadLocation}
	</select>
	
	<!-- 댓글 파일 이름 조회 -->
		<select id="selectReplyFileName" parameterType="ReplyFileVO">
	SELECT  replyfile_location
	FROM    replyfiles
	WHERE   download_location = #{downloadLocation}
	</select>
	<!-- 과제파일 삭제 -->
	<delete id="fileDelete" parameterType="HomeWorkFileVO">
	DELETE homeworkfiles
	WHERE  homeworkfile_location = #{homeworkfileLocation}
	</delete>
  </mapper>