<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.app.yedam_post.mapper.VoteMapper">

    <select id="selectVotes" resultType="VoteVO">
        SELECT * FROM votes
    </select>

    <insert id="insertVote" parameterType="VoteVO" statementType="CALLABLE">
     DECLARE
        v_post_id NUMBER;
        v_vote_id NUMBER;
    BEGIN

        INSERT INTO posts (post_id
                         , board_id
                         , user_id
                         , title
                         , post_content
                         , create_date
                         , writer
                         , post_view
                         , post_like
                         , update_date)
        VALUES (post_id_seq.NEXTVAL
              , 4
              , #{userId}
              , #{title}
              , #{postContent}
              , SYSDATE
              , #{writer}
              , 0
              , 0
              , NULL);

		SELECT post_id_seq.CURRVAL
		INTO v_post_id
		FROM dual;

        INSERT INTO votes (vote_id
                         , vote_end_date
                         , is_processing
                         , board_id
                         , post_id)
        VALUES (vote_id_seq.NEXTVAL
             , #{voteEndDate}
             , 0
             , 4
             , v_post_id);
             
        SELECT vote_id_seq.CURRVAL
        INTO v_vote_id
        FROM dual;
        
        INSERT INTO vote_items (vote_item_id
                              , vote_seq
                              , vote_item_name
                              , vote_count
                              , vote_id)
        VALUES (vote_item_id_seq.NEXTVAL
              , 1
              , '찬성'
              , 0
              , v_vote_id);
              
              INSERT INTO vote_items (vote_item_id
                              , vote_seq
                              , vote_item_name
                              , vote_count
                              , vote_id)
       VALUES (vote_item_id_seq.NEXTVAL
              , 2
              , '반대'
              , 0
              , v_vote_id);
    END;
    </insert>

    <select id="selectVoteItemsByVoteId" parameterType="int" resultType="VoteItemVO">
        SELECT * 
        FROM vote_items 
        WHERE vote_id = #{voteId}
    </select>


    <insert id="insertVoteUser" parameterType="VoteUserVO">
        INSERT INTO vote_users (vote_user_id 
                              , vote_date
                              , vote_item_id
                              , user_id)
        VALUES (vote_user_id_seq.NEXTVAL
              , sysdate
              , #{voteItemId}
              , #{userId})
    </insert>

</mapper>