<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yedam.app.yedam_homework.mapper.HomeWorkMapper">

	<!-- 과제 전체조회 -->
	<select id="selectHomeworkAll" resultType="HomeWorkVO">
		SELECT c.class_id,
		h.homework_id,
		h.homework_content,
		h.homework_date,
		h.homework_title,
		h.curriculum_id,
		s.subject_id,
		s.subject_name
		FROM homeworks h JOIN
		curriculum c ON (h.curriculum_id =
		c.curriculum_id)
		JOIN subjects s ON
		(h.curriculum_id = s.curriculum_id)
		WHERE h.subject_id =
		s.subject_id
		ORDER BY homework_id
	</select>

	<!-- 상세조회 -->
	<select id="selectHomework" resultType="HomeWorkVO">
		<!-- SELECT  h.homework_id,
		h.homework_content,
		h.homework_date,
		h.homework_title,
		h.curriculum_id,
		h.subject_id,
        r.reply_content,
        r.reply_date,
        r.reply_writer,
        r.homework_target_id
		FROM homeworks h JOIN homework_targets t ON (h.homework_id = t.homework_id)
                         JOIN replies r ON (t.homework_target_id = r.homework_target_id)
		WHERE h.homework_id = #{homeworkId} -->
		
		SELECT homework_id,
		homework_content,
		homework_date,
		homework_title,
		curriculum_id,
		subject_id
		FROM homeworks
		WHERE homework_id =#{homeworkId}
	</select>

	<!-- 과제명 조회 -->
	<select id="selectSubjectName" resultType="HomeWorkVO">
		SELECT subject_name,
		subject_id
		FROM subjects
		WHERE curriculum_id = #{curriculumId}
	</select>

	<!-- 과제등록 -->
	<insert id="insertHomework" parameterType="HomeWorkVO">
		INSERT INTO homeworks
		(
		homework_id,
		homework_content,
		homework_date,
		homework_title,
		curriculum_id,
		subject_id
		)
		VALUES
		(
		homework_id_seq.nextval,
		#{homeworkContent},
		#{homeworkDate},
		#{homeworkTitle},
		#{curriculumId},
		#{subjectId}
		)
	</insert>

	<!-- 과제 대상자 등록 -->
	<insert id="insertHomeworkTarget" parameterType="HomeWorkTargetVO">
		INSERT INTO
		homework_targets
		(
		homework_target_id,
		homework_id,
		curriculum_id
		)
		VALUES
		(
		homework_target_id_seq.nextval,
		#{homeworkId},
		#{curriculumId}
		)
	</insert>
	
	<!-- 과제 대상자 조회 -->
	<select id="selectHomeworktarget" resultType="HomeWorkTargetVO">
		SELECT homework_id,
			curriculum_id
		FROM homeworks
		WHERE homework_id = ( SELECT max(homework_id)
								FROM homeworks
								WHERE curriculum_id = #{curriculumId})
	</select>
</mapper>