<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.app.yedam_post.mapper.CommentMapper">
  
  
  <!-- 대댓글 조회 -->
  <select id="getComments" parameterType="int" resultType="PostCommentVO">
  		SELECT COMMENT_ID ,
               REPLY_ID ,
               COMMENT_WRITER ,
               COMMENT_CONTENT ,
               COMMENT_DATE  
        FROM comments
        WHERE reply_id = #{replyId}
  </select>
  <!-- 대댓글 등록  -->
  <insert id="insertComment" parameterType="PostCommentVO">
  	INSERT INTO comments (comment_id
                        , reply_id
                        , comment_writer
                        , comment_content
                        , comment_date)
     VALUES (comment_id_seq.nextval
           , #{replyId}
           , #{commentWriter}
           , #{commentContent}
           , sysdate)
  </insert>
  
  <!-- 대댓글 수정 -->
	<update id="commentUpdate" parameterType="PostCommentVO">
		UPDATE comments
		SET comment_content = #{commentContent}, comment_date = sysdate
		WHERE comment_id =#{commentId}
	</update>
	
  <delete id="deleteComment" parameterType="int">
  	DELETE 
  	FROM comments
  	WHERE comment_id = #{commentId}
  </delete>
  
  </mapper>