<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.app.yedam_post.mapper.CommentMapper">
  
   <insert id="insertComment" parameterType="com.example.demo.vo.Comment" useGeneratedKeys="true" keyProperty="commentId">
   
        INSERT INTO comments (comment_id
                            , post_id
                            , parent_id
                            , user_id
                            , content
                            , create_date
                            , writer
                            , update_date)
        VALUES (#{commentId}
              , #{postId}
              , #{parentId}
              , #{userId}
              , #{content}
              , #{createDate}
              , #{writer}
              , #{updateDate}
              )
    </insert>

    <select id="getCommentsByPostId" parameterType="int" resultType="Comment">
        SELECT * 
        FROM comments 
        WHERE post_id = #{postId} 
        AND parent_id IS NULL
    </select>

    <select id="getRepliesByParentId" parameterType="int" resultType="Comment">
        SELECT * 
        FROM comments 
        WHERE parent_id = #{parentId}
    </select>

    <update id="updateComment" parameterType="Comment">
        UPDATE comments
        SET content = #{content}
          , update_date = #{updateDate}
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteComment" parameterType="Comment">
        DELETE 
        FROM comments 
        WHERE comment_id = #{commentId}
    </delete>

    <delete id="deleteCommentsByPostId" parameterType="Comment">
        DELETE 
        FROM comments 
        WHERE post_id = #{postId}
    </delete>
  </mapper>