<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.app.yedam_homework.upload.mapper.HomeWorkFileMapper">
  <!-- 과제 파일등록 -->
	<insert id="insertHomeWorkFile" parameterType="HomeWorkFileVO">
	INSERT INTO homeworkfiles
    (homeworkfile_id,
     homeworkfile_name,
     homeworkfile_size,
     homeworkfile_location,
     download_location,
     homeworkfile_ext,
     homework_id
     )
VALUES
    (homeworkfile_id_seq.nextval,
     #{homeworkfileName},
     #{homeworkfileSize},
     #{homeworkfileLocation},
     #{downloadLocation},
     #{homeworkfileExt},
     #{homeworkId}
    )
	</insert>
  </mapper>