<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.app.yedam_curriculum.mapper.CurriculumMapper">
  <!-- 과정 전체 조회(영재,택준) -->
  <select id="cSelectAll" resultType="CurriculumVO">
  	SELECT	*
  	FROM	curriculum
  	WHERE   is_complete = 2
  	ORDER BY class_id
  </select>
  
  <!-- 해당과정 과목 조회 -->
   <select id="subjectSelectAll" resultType="CurriculumVO">
  	SELECT	subject_name,
  			subject_id 
	FROM 	subjects s	JOIN curriculum c ON (s.curriculum_id = c.curriculum_id)
                		JOIN users u ON ( c.curriculum_id = u.curriculum_id)
	WHERE  user_id = #{userId}
  </select>
  
  <!-- 과정 등록(영훈) -->
  <select id="selectAllCurriculums" resultType="CurriculumVO">
  	SELECT *
  	FROM curriculum
  	ORDER BY curriculum_start_date
  </select>
  
  <insert id="insertCurriculum" parameterType="CurriculumVO">
  	INSERT INTO curriculum (curriculum_id
				  		  , curriculum_name
				  		  , curriculum_start_date
				  		  , curriculum_end_date
				  		  , is_complete
				  		  , class_id
				  		  , curriculum_img
				  			)
	VALUES (
		curriculum_id_seq.NEXTVAL
	  , #{curriculumName}
	  , #{curriculumStartDate}
	  , #{curriculumEndDate}
	  , 2
	  , #{classId}
	  , #{curriculumImg}
	)			  			
  
  </insert>
  
  <!-- 해당 과정의 유저 출력(영훈) -->
  <select id="selectCurriculumStd" parameterType="UserVO">
  	SELECT u.id
  		 , u.name
  		 , u.email
  		 , u.curriculum_name
  		 , c.curriculum_name
	FROM users u JOIN curriculum c
	             ON (u.curriculum_name = c.curriculum_name)
	WHERE c.curriculum_id = #{curriculumId}
  </select>
  
  <!-- 과정 삭제(영훈) -->
  <delete id="removeCurriculum" parameterType="int">
	DELETE curriculum
	WHERE curriculum_id = #{curriculumId}	
  </delete>
  
  
</mapper>