<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.yedam.app.yedam_post.mapper.ReplyMapper">
  
  <!-- 댓글 조회 -->
    <select id="getReplies" parameterType="int" resultType="PostReplyVO">
        SELECT reply_id,
               board_id,
               post_id,
               reply_content,
               reply_date,
               reply_writer,
               homework_target_id
        FROM replies
        WHERE post_id = #{postId}
    </select>
  
  <!-- 댓글 단건 조회 -->
   <select id="tPostReplyId" resultType="PostReplyVO">
       SELECT reply_id,
              board_id,
              post_id,
              reply_content,
              reply_date,
              reply_writer,
              homework_target_id
        FROM replies
        WHERE reply_id = #{replyId}
   </select>
  
  <!-- 댓글 등록 -->
   <insert id="insertReply" parameterType="PostReplyVO" >
        INSERT INTO replies (reply_id
                           , post_id
                           , board_id
                           , reply_content
                           , reply_date
                           , reply_writer
                           , update_date)
        VALUES (reply_id_seq.nextval
              , #{postId}
              , #{boardId}
              , #{replyContent}
              , sysdate
              , #{replyWriter}
              , sysdate)
    </insert>

	<!-- 댓글 삭제 -->
    <delete id="deleteReply1" parameterType="int">
        DELETE 
        FROM comments
        WHERE reply_id = #{replyId}
    </delete>
    
    <delete id="deleteReply2" parameterType="int">
        DELETE 
        FROM replies 
        WHERE reply_id = #{replyId}
    </delete>
   
  </mapper>