<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yedam.app.yedam_homework.mapper.HomeWorkMapper">

	<!-- <select id="hselectAll" resultType="HomeWorkVO"> SELECT homework_id, 
		homework_content, homework_date, homework_title, curriculum_id, subject_id 
		FROM homeworks ORDER BY homework_id </select> -->
	<!-- 과제 전체조회 -->
	<select id="selectHomeworkAll" resultType="HomeWorkVO">
		SELECT c.class_id,
		h.homework_id,
		h.homework_content,
		h.homework_date,
		h.homework_title,
		h.curriculum_id,
		h.subject_id
		FROM homeworks h JOIN curriculum c ON (h.curriculum_id =
		c.curriculum_id)
		ORDER BY homework_id
	</select>
	<!-- 상세조회 -->
	<select id="selectHomework" resultType="HomeWorkVO">
		SELECT homework_id,
		homework_content,
		homework_date,
		homework_title,
		curriculum_id,
		subject_id
		FROM homeworks
		WHERE homework_id =#{homeworkId}
	</select>
	<!-- 과제등록 -->
	<insert id="insertHomework" parameterType="HomeWorkVO">
		INSERT INTO homeworks
				(
					homework_id,
					homework_content,
					homework_date,
					homework_title,
					curriculum_id,
					subject_id
				)
		VALUES
				(
					homework_id_seq.nextval,
					#{homeworkContent},
					#{homeworkDate},
					#{homeworkTitle},
					#{curriculumId},
					#{subjectId}
				)
	</insert>

</mapper>