<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.yedam_user.mapper.UserMapper">
	
	<!-- 로그인 -->
	<select id="userLogin" resultType="UserVO">
		SELECT id
		     , password
		     , name
		     , user_type
		FROM users
		WHERE id = #{id}
		AND password = #{password}
	</select>
	
	<select id="getTotalCnt" resultType="int">
		SELECT COUNT(*)
		FROM users
	</select>
	
	<!-- 회원가입 신청 거절(삭제) -->
	<delete id="refuseUser" parameterType="int">
		DELETE register
		WHERE register_id = #{registerId}
	</delete>
	
	<!-- 유저 삭제 -->
	<delete id="removeUser" parameterType="int">
		DELETE users
		WHERE user_id = #{userId}
	</delete>
	
	<!-- 회원가입 신청 -->
	<insert id="requestUser" parameterType="RegisterVO">
		INSERT INTO register (
			register_id
			, id
			, password
			, name
			, email
			, tel
			, address
			, user_image
			, company_info
			, user_type
			, curriculum_id
		) VALUES (
			user_id_seq.NEXTVAL
			, #{id}
			, #{password}
			, #{name}
			, #{email}
			, #{tel}
			, #{address}
			, #{userImage}
			, #{companyInfo}
			, #{userType}
			, #{curriculumId}
		)
	</insert>
	
	<!-- 관리자페이지 첫 페이지(회원가입 신청한 유저) -->
	<select id="selectStdList" resultType="RegisterVO">
		SELECT register_id
			 , user_image
			 , user_type
			 , name
			 , tel
			 , email
		FROM register
		WHERE user_type = 'graduated' OR user_type = 'learning'
		ORDER BY register_id
	</select>
	
	<!-- 관리자페이지 첫 페이지(회원가입 된 유저) -->
	<select id="selectUserList" resultType="UserVO">
		SELECT user_id
			 , user_image
			 , user_type
			 , name
			 , tel
			 , email
		FROM users
		WHERE user_type = 'graduated' OR user_type = 'learning'
		ORDER BY user_id
	</select>
	
	<!-- 관리자페이지 유저 리스트 출력 및 필터링 -->
	<select id="getUsersByFilter" parameterType="String" resultType="UserVO">
		SELECT * FROM users
		<where>
			<choose>
				<when test="filter == 'showAll'">
					user_type = 'graduated' OR user_type = 'learning'
				</when>
				<when test="filter == 'showGrad'">
					user_type = 'graduated'
				</when>
				<when test="filter == 'showLearn'">
					user_type = 'learning'
				</when>
				<otherwise>
					1=1
				</otherwise>
			</choose>
		</where>
		ORDER BY user_id
	</select>
	
	<update id="insertUser" parameterType="UserVO">
	    BEGIN
	        INSERT INTO users (
	            user_id
	            , id
	            , password
	            , name
	            , tel
	            , email
	            , address
	            , user_image
	            , company_info
	            , user_type
	            , curriculum_id
	        )
	        SELECT user_id_seq.NEXTVAL
	            , id
	            , password
	            , name
	            , tel
	            , email
	            , address
	            , user_image
	            , company_info
	            , user_type
	            , curriculum_id
	        FROM register
	        WHERE register_id = #{registerId};
	
	        DELETE FROM register
	        WHERE register_id = #{registerId};
	    END;
	</update>
	
	<update id="insertCheckedUsers" parameterType="java.util.Map">
	    BEGIN
	        FOR i IN (SELECT register_id 
	                , id
	                , password
	                , name
	                , tel
	                , email
	                , address
	                , user_image
	                , company_info
	                , user_type
	                , curriculum_id
	                FROM register
	                WHERE register_id IN
	                <foreach item="registerId" collection="registerIds" open="(" separator="," close=")">
	                    #{registerId}
	                </foreach>
	                )
	        LOOP
	            INSERT INTO users (user_id
	                             , id
	                             , password
	                             , name
	                             , tel
	                             , email
	                             , address
	                             , user_image
	                             , company_info
	                             , user_type
	                             , curriculum_id
	                             )
	            VALUES (user_id_seq.NEXTVAL
	                  , i.id
	                  , i.password
	                  , i.name
	                  , i.tel
	                  , i.email
	                  , i.address
	                  , i.user_image
	                  , i.company_info
	                  , i.user_type
	                  , i.curriculum_id
	            );
	            
	            DELETE FROM register
	            WHERE register_id = i.register_id;
	        END LOOP;
	    END;
	</update>



</mapper>