<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.yedam.app.yedam_homework.mapper.HomeWorkReplyMapper">

	<!-- 댓글등록 -->
	<insert id="insertReply" parameterType="HomeWorkVO">
	<selectKey  keyProperty="replyId,replyDate" resultType="HomeWorkVO" order="BEFORE">
	select reply_id_seq.nextval reply_id,sysdate reply_date
	FROM	dual
	</selectKey>
		INSERT INTO replies
		(reply_id,
		reply_content,
		homework_target_id,
		reply_writer,
		reply_date
		)
		VALUES
		(#{replyId},
		#{replyContent},
		#{homeworkTargetId},
		#{replyWriter},
		#{replyDate}
		)
	</insert>

	<!-- 댓글 조회 -->
	<select id="selectReplyAll" resultType="ReplyVO">
		SELECT	reply_id,
       			reply_content,
       			reply_date,
      			update_date,
       			reply_writer
		FROM    replies
		WHERE   homework_target_id = #{homeworkTargetId}
		ORDER BY reply_id DESC
	</select>

	<!-- 대댓글 조회 -->
	<select id="selectComment" resultType="CommentVO">
	 SELECT comment_id,
       		reply_id,
        	comment_writer,
        	comment_content,
        	comment_date
	FROM    comments
	WHERE   reply_id = #{replyId}
	ORDER BY comment_id 
	
	</select>

	<!-- 대댓글 등록 -->
	<insert id="insertComment" parameterType="HomeWorkVO">
		INSERT INTO comments
		(comment_id,
		reply_id,
		comment_content,
		comment_writer,
		comment_date)
		VALUES
		(comment_id_seq.nextval,
		#{replyId},
		#{commentContent},
		#{commentWriter},
		sysdate
		)
	</insert>
</mapper>