<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="ConfigFragment"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Yedam Community</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css">
	<!-- 공통 페이지 -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<link th:href="@{/css/util.css}" rel="stylesheet" />
	<link th:href="@{/css/home.css}" rel="stylesheet" />
	<link th:href="@{/css/mypage.css}" rel="stylesheet" />
	<link th:href="@{/css/testpage.css}" rel="stylesheet" />
	<link th:href="@{/css/student.css}" rel="stylesheet" />
	<link th:href="@{/css/util.min.css}" rel="stylesheet" />
	<link th:href="@{/vendor/css-hamburgers/hamburgers.min.css}" rel="stylesheet" />
	<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/vendor/animate/animate.css}" rel="stylesheet" />
	<link th:href="@{/vendor/animsition/css/animsition.min.css}" rel="stylesheet" />
	<link th:href="@{/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css}" rel="stylesheet" />
	<link th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}" rel="stylesheet" />
	
	<script type="text/javascript" th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/js/home.js}"></script>
	<script type="text/javascript" th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/register.js}"></script>
	
	
	<!-- 어드민 페이지 -->
	<link th:href="@{/css/admin.css}" rel="stylesheet" />
	<link th:href="@{/css/adminPage.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/admin.js}"></script>
	<style>
		#load {
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: fixed;
			display: block;
			opacity: 0.8;
			background: white;
			z-index: 99;
			text-align: center;
		}
		
		#load>img {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 100;
		}
	</style>
	
	<!-- 로딩창 -->
	<!-- <div id="load">
		<img src="images/loading_book.gif" alt="loading">
	</div> -->
	
	<script>
		const loading_page = document.getElementById("load");
		/* window.onload = function() {
			setTimeout(() => {
				loading_page.style.display = 'none';
			}, 100)
		} */
		
		/* window.addEventListener('load', function() {
			setTimeout(() => {
				loading_page.style.display = 'none';
			}, 1000)
		}); */
	</script>
</html>
	