<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.testList_1 {
	display: inline-block;
}

.sidebar-nav-wrapper {
	position: fixed;
}
</style>
<div>
	<h1 style="margin: 100px;">내 시험</h1>
	<div class="card-style" style="width: 1500px; margin-top: 100px;">
		<div>
			<div class="testList_1">
				<h3>시험</h3>
			</div>
			<button class="testList_1 status-btn success-btn">응시완료</button>
			<button class="testList_1 status-btn active-btn">응시하기</button>
			<button class="testList_1 status-btn close-btn">재시험</button>
			<br> <br>
			<table class="table">
				<thead>
					<tr>
						<th>시험명</th>
						<th>마감일</th>
						<th>응시상태</th>
						<th>피드백</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th:block th:each="list1 : ${testList}">
							<td>[[${list1.testName}]]</td>
							<td>[[${#dates.format(list1.testDate, 'yyyy년 MM월 dd일')}]]</td>
						</th:block>			
							<td>
								<button th:id="${list.testId}"
									th:onclick="|location.href='@{/testDetail(testId=${list.testId})}'|"
									class="main-btn primary-btn square-btn btn-hover">응시하기</button>
							</td>
						<th:block th:each="list2 : ${testFeedback}">
							<td th:if="${list2.feedback != null}">
								<button class="primary-btn success-btn square-btn btn-hover">피드백완료</button>
							</td>
							<td th:unless="${list2.feedback != null}">
								<button class="main-btn success-btn square-btn btn-hover">피드백대기</button>
							</td>
						</th:block>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</html>