<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.tstart1 { /*상단바 레이아웃*/
	justify-content: space-between;
	display: flex;
}
.tstart3 { /*답안표기란-문제 가로 정렬*/
	display: inline-block;
}
</style>
<div class="row">
	<div class="card-style col-lg-12 tstart1 tstart2">
		<h1>[[${testStart.testName}]]</h1>
		<div>		
			<p class="tstart3">제한시간:</p>
			<p class="tstart3">[[${testStart.testTime}]]</p>
		</div>
		<div>		
			<p class="tstart3">응시자:</p>
			<p class="tstart3">홍길동</p>
		</div>	
	</div>
	<div class="card-style col-lg-3 tstart2" style="height: 800px">
		<h3 style="background-color: blue; color: white; text-align: center">답안표기란</h3>
		
	</div>
	<div class="card-style col-lg-9 tstart2" style="height: 800px">
		<h1>1. 시험문제</h1>
		<br> <br>
		<ul>
			<li>① 1번보기</li>
			<li>② 2번보기</li>
			<li>③ 3번보기</li>
			<li>④ 4번보기</li>
			<li>⑤ 5번보기</li>
		</ul>
	</div>
	<div class="card-style col-lg-12">
		<div style="text-align: right">
			<button class="main-btn dark-btn-outline square-btn btn-hover">제출</button>
		</div>
	</div>
</div>
</html>