<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<div class="row">
	<!-- 시험결과 정보 -->
	<div class="card-style col-lg-12"
		style="border: 1px solid gray; border-radius: 20px; margin: 0 auto; margin-top: 10px;">
		<br>
		<h1 class="tresult_2">문제풀이</h1>
		<br><br>
		<table class="table">
			<tr>
				<th class="tresult_2"><h3>과목</h3></th>
				<th class="tresult_2"><h3>통과점수</h3></th>
				<th class="tresult_2"><h3>응시점수</h3></th>
				<th class="tresult_2"><h3>맞힌개수</h3></th>
				<th class="tresult_2"><h3>틀린개수</h3></th>
				<th class="tresult_2"><h3>재시험여부</h3></th>
			</tr>
			<tr>			
				<td class="tresult_2"><h3>[[${testResult.subjectName}]]</h3></td>
				<td class="tresult_2"><h3>[[${testResult.passScore}]]/100</h3></td>
				<td class="tresult_2"><h3>[[${testResult.resultScore}]]/100</h3></td>
				<td class="tresult_2"><h3>[[${trueCnt}]]/[[${#lists.size(quizList)}]]</h3></td>
				<td class="tresult_2"><h3>[[${falseCnt}]]/[[${#lists.size(quizList)}]]</h3></td>
				<td th:if="${testResult.isReexam == 1}" class="tresult_2"><h3 style="color: blue;">통과</h3></td>
				<td th:unless="${testResult.isReexam == 1}" class="tresult_2"><h3 style="color: red;">재시험</h3></td>
			</tr>
		</table>
		<br>
		<div style="text-align: center">
			<button class="tresult_1 tresult_3 main-btn dark-btn btn-hover"
					th:onclick="|location.href='@{/all/testList2(page=1)}'|">목록</button>
			<a class="tresult_1 tresult_3 main-btn light-btn btn-hover" href="javascript:history.back()">이전</a>
		</div>
		<br>
	</div>
	<!-- 문제 확인 -->
	<th:block th:each="quiz, idx : ${quizList}">
		<div class="card-style col-lg-6" style="border: 1px solid gray; border-radius: 20px; margin: 0 auto; margin-top: 10px;">						
			<th:block th:if="${quiz.isCorrect == 1}">
				<h1 class="tresult_1">[[${idx.count}]].</h1>
				<!-- 맞힌 채점 이미지 -->
				<img src="/images/icons/true.png" style="position: absolute; left: -60px; top: -30px; width: 200px; height: 200px;">
			</th:block>
			<th:block th:unless="${quiz.isCorrect == 1}">
				<h1 class="tresult_1">[[${idx.count}]].</h1>
				<!-- 틀린 채점 이미지 -->
				<img src="/images/icons/false.png" style="position: absolute; left: -60px; top: -70px; width: 200px; height: 200px;">
			</th:block>
			<p class="tresult_1" style="font-size: 30px;">[[${quiz.quizContent}]]</p>
			<p class="tresult_1">([[${quiz.quizScore}]]점)</p>
			<br> <br>
			<div>
				<!-- 보기번호 정답/오답 표시 -->
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.oneContent) ? 'true' : (quiz.textContent != quiz.oneContent && quiz.answerContent == quiz.oneContent) ? 'false':_}">① [[${quiz.oneContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.twoContent) ? 'true' : (quiz.textContent != quiz.twoContent && quiz.answerContent == quiz.twoContent) ? 'false':_}">② [[${quiz.twoContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.threeContent) ? 'true' : (quiz.textContent != quiz.threeContent && quiz.answerContent == quiz.threeContent) ? 'false':_}">③ [[${quiz.threeContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.fourContent) ? 'true' : (quiz.textContent != quiz.fourContent && quiz.answerContent == quiz.fourContent) ? 'false':_}">④ [[${quiz.fourContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.fiveContent) ? 'true' : (quiz.textContent != quiz.fiveContent && quiz.answerContent == quiz.fiveContent) ? 'false':_}">⑤ [[${quiz.fiveContent}]]</span>
			</div>
			<hr>
			<!-- 문제 해설 -->
			<h3 class="tresult_1">해설</h3>	
			<p th:if="${quiz.textContent == quiz.oneContent}" class="tresult_1">(정답: 1)</p>
			<p th:if="${quiz.textContent == quiz.twoContent}" class="tresult_1">(정답: 2)</p>
			<p th:if="${quiz.textContent == quiz.threeContent}" class="tresult_1">(정답: 3)</p>
			<p th:if="${quiz.textContent == quiz.fourContent}" class="tresult_1">(정답: 4)</p>
			<p th:if="${quiz.textContent == quiz.fiveContent}" class="tresult_1">(정답: 5)</p>
			<br>
			<p>[[${quiz.quizSolution}]]</p>	
		</div>
	</th:block>
	<!-- TOP 버튼 -->
	<a href="#" id="topBtn">
  		<span class="glyphicon glyphicon-chevron-up" th:text="TOP"></span>
	</a>		
</div>
<script>
//<<탑 스크롤 관련>>
$(window).scroll(function(){
	if ($(this).scrollTop() > 300){
		$('#topBtn').show();
	} else{
		$('#topBtn').hide();
	}
});
$('#topBtn').click(function(){
	$('html, body').animate({scrollTop:0},100);
	return false;
});
</script>
</html>