<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
.tstart_1 { /*상단바 레이아웃*/
	justify-content: space-between;
	display: flex;
}
.tstart_2 {
	display: inline-block;
}
.tstart_3 { /*답안표기란 답안정렬*/
	justify-content: space-between;
	display: flex;
}
#tstart_4 { /*답안표기란 스크롤바*/
	overflow: scroll;
	border: 1px solid grey;
}
.tstart_5 { /*페이징버튼*/
	display: inline-block;
}
.tstart_6 {
 	line-height: 50px;
}
 /*토스트 메시지*/
#toast_message {
    opacity: 0;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px 50px;
    background: rgba(0, 0, 0, 0.70);
    border-radius: 50px;
    color: #fff;
    box-shadow: 3px 4px 11px 0px #00000040;
    transition: all 0.5s;
}
/*토스트 메시지 활성화 되었을 때*/
#toast_message.active {
    opacity: 100%;
    top: 50px;
}
/*모달*/
.modal h1, #closeBtn, #confirmBtn {
	text-align: center;
}
/*모달 팝업 영역 스타일링*/
.modal {
	display: none; /*평소에 숨김처리*/
	position: fixed; /*모달창 화면전체*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}
.modal .modal-dialog {
	/*팝업*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #ffffff;
	border-radius: 10px;
}
#closeBtn, #confirmBtn {
	display: inline-block;
	padding: 10px 20px;
	background-color: rgb(116, 0, 0);
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: box-shadow 0.2s;
}
.modal.on {
	display: block;
}
</style>
<div id="start" class="row">
	<!-- 타이머 토스트 알림창 -->
	<div id="toast_message"></div>
	<!-- 상단1 -->
	<div class="card-style col-lg-12 tstart_1">
		<h1>[[${testStart.testName}]]</h1>
		<div>
			<h3 class="tstart_2">제한시간:</h3>
			<h3 id="testTimeMin" class="tstart_2">[[${testStart.testTime}]]</h3>
			<input id="testTime" type="hidden" th:value="${testStart.testTime}">
			<h3 class="tstart_2">:</h3>
			<h3 id="testTimeSec" class="tstart_2">00</h3>
		</div>
		<div>
			<h3 class="tstart_2">응시자:</h3>
			<h3 class="tstart_2">[[${testStart.name}]]</h3>
		</div>
	</div>
	<!-- 상단2 -->
	<div class="card-style col-lg-12 tstart_1">
		<!-- 문제개수 관련 -->
		<div>
			<h3 class="tstart_2">전체문제:</h3>
			<h3 id="allQuizCnt" class="tstart_2">[[${#lists.size(randRn)}]]</h3>
			<br>
			<h3 class="tstart_2">남은문제:</h3>
			<h3 id="remainQuizCnt" class="tstart_2">[[${#lists.size(randRn)}]]</h3>
		</div>	
		<div>
			<!-- 문제갱신 위한 ajax용 데이터 -->
			<div>
				<input id="page" type="hidden" th:value="${page}">
				<input id="testId" type="hidden" th:value="${testStart.testId}">
				<input id="subjectId" type="hidden" th:value="${testStart.subjectId}">
				<input id="quizCnt" type="hidden" th:value="${#lists.size(randRn)}">
 				<div th:each="quiz : ${randQuizId}">				
					<input class="randQuizId" type="hidden" th:value="${quiz}">
				</div>
				<div th:each="rn : ${randRn}">				
					<input class="randRn" type="hidden" th:value="${rn}">
				</div>
				<div th:each="score : ${randQuizScore}">				
					<input class="randQuizScore" type="hidden" th:value="${score}">
				</div>
			</div>
			<!-- 시험관련 버튼 -->
			<div class="tstart_5">
				<a id="prevQuiz" class="main-btn dark-btn-outline square-btn btn-hover">이전</a>
			</div>
			<div class="tstart_5">
				<a id="nextQuiz" class="main-btn dark-btn-outline square-btn btn-hover">다음</a>
			</div>
			<div class="tstart_5">
				<a id="submitBtn" class="main-btn dark-btn-outline square-btn btn-hover">제출</a>
			</div>
		</div>
		<!-- 제출관련 모달형식 -->
		<div class="modal">
			<div class="modal-dialog modal-dialog-centered" style="width: 500px; height: 300px; text-align: center;">
				<h1>시험제출</h1><br>
				<div id="remainQuizSubmit">
				</div><br>
				<h3 style="color: blue;">답안을 제출하시겠습니까?</h3><br>
				<h3 style="color: red;">(답안 제출 이후에는 답안 변경이 불가합니다.)</h3><br>
				<div>
					<button id="closeBtn" class="tstart_2" type="button">닫기</button>
					<!-- 시험제출 위한 데이터 -->
					<form id="resultForm" class="tstart_2" action="testResult" method="get">
						<input id="min" type="hidden" name="min" th:value="0">
						<input id="sec" type="hidden" name="sec" th:value="0">
						<input type="hidden" name="testId" th:value="${testStart.testId}">
						<button id="confirmBtn" class="tstart_2" type="submit">확인</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- 좌측 -->
	<!-- 답안표기 부분 -->
	<div id="tstart_4" class="card-style col-lg-2 tstart_2" style="height: 800px">
		<h3 style="text-align: center; background-color: #A6A6A6; color: white">답안표기란</h3>
		<th:block th:each="quiz, idx : ${#numbers.sequence(1,#lists.size(randRn))}">
			<div class="selectedQuiz tstart_3">
				<h3 class="tstart_2" style="background-color: #A6A6A6; color: white; width: 30px; text-align: center">[[${idx.count}]]</h3>
				<input class="thisAnswer" type="hidden" th:value="${idx.count}">
				<input class="submitAnswer" type="hidden" th:value="0">
				<div class="one selectedAnswer">①</div>
				<div class="two selectedAnswer">②</div>
				<div class="three selectedAnswer">③</div>
				<div class="four selectedAnswer">④</div>
				<div class="five selectedAnswer">⑤</div>
			</div>
		</th:block>
	</div>
	<!-- 우측 -->
	<!-- 문제갱신되는 부분 -->
	<div id="quiz" class="card-style col-lg-10" style="height: 800px">
		<h1>[[${page}]]. [[${testQuiz.quizContent}]]</h1>
		<p class="tstart_5">([[${testQuiz.quizScore}]]점)</p>
		<br> <br> <br>
		<div th:if="${not #strings.isEmpty(testQuiz.two)}">
			<div>
				<span class="selectedContent tstart_6" style="background: white;">1. [[${testQuiz.one}]]</span>
			</div>
			<div>
				<span class="selectedContent tstart_6" style="background: white;">2. [[${testQuiz.two}]]</span>
			</div>
			<div>
				<span class="selectedContent tstart_6" style="background: white;">3. [[${testQuiz.three}]]</span>
			</div>
			<div>			
				<span class="selectedContent tstart_6" style="background: white;">4. [[${testQuiz.four}]]</span>
			</div>
			<div>
				<span class="selectedContent tstart_6" style="background: white;">5. [[${testQuiz.five}]]</span>
			</div>
		</div>
	</div>
</div>
<script>
//<<시험타이머 관련>>
let testTimeMin = document.querySelector('#testTimeMin');
let testTimeSec = document.querySelector('#testTimeSec');
let toastMsg = document.querySelector('#toast_message');
let testTime = testTimeMin.innerText; //서버에서 받아온 시험시간
let min = testTime; //분
let sec = 0; //초
setInterval(function(){
	sec--;
	if(sec < 0){ //초 리셋
		min--;
		sec = 59;
	}
	let minVal = document.querySelector('#min');
	let secVal = document.querySelector('#sec');
	testTimeMin.innerText = String(min).padStart(2,0); //현재 분 저장
	testTimeSec.innerText = String(sec).padStart(2,0); //현재 초 저장
	minVal.value = testTimeMin.innerText;
	secVal.value = testTimeSec.innerText;
	if(min == 10 && sec == 0){ //10:00인 경우
		toastMsg.innerText = '시험시간이 10분 남았습니다.';
		toastMsg.classList.add('active');
		setTimeout(function(){
			toastMsg.classList.remove('active');
		}, 2000);
	}
	if(min == 5 && sec == 0){ //05:00인 경우
		toastMsg.innerText = '시험시간이 5분 남았습니다.';
		toastMsg.classList.add('active');
		setTimeout(function(){
			toastMsg.classList.remove('active');
		}, 2000);
	}
	if(min == 3 && sec == 0){ //03:00인 경우
		toastMsg.innerText = '시험시간이 3분 남았습니다.';
		toastMsg.classList.add('active');
		//testTimeMin.setAttribute('style', 'color: red');
		//testTimeSec.setAttribute('style', 'color: red');
		setTimeout(function(){
			toastMsg.classList.remove('active');
		}, 2000);
	}
	if(min == 0 && sec == 0){ //00:00인 경우 자동 제출
		testResult(); //시험제출 함수 호출, ajax 실행
	}
},1000)
//<<답안제어 관련>>
$(document).on('click', '.selectedContent', function(e){ //동적으로 생성되는 버튼까지 이벤트 처리
	//e.preventDefault();
	let thisAnswer = document.querySelectorAll('.thisAnswer'); //1~총문제개수 답안
	let selectedContent = document.querySelectorAll('.selectedContent'); //전체 보기 번호 1~5
	let one = document.querySelectorAll('.one'); //전체 1번 보기
	let two = document.querySelectorAll('.two'); //전체 2번 보기
	let three = document.querySelectorAll('.three'); //전체 3번 보기
	let four = document.querySelectorAll('.four'); //전체 4번 보기
	let five = document.querySelectorAll('.five'); //전체 5번 보기
	let page = document.querySelector('#page'); //현재 페이지 번호
	let clicked = e.target.innerText.substr(0,1); //현재 클릭된 보기 번호 1~5
	let selectedAnswer = document.querySelectorAll('.selectedAnswer'); //1~5 답안
	let submitAnswer = document.querySelectorAll('.submitAnswer'); //선택된 문제 답안 저장
	//<보기 선택시 보기 색상 및 답안 색상 변경>
	//<전체 문제개수 및 남은 문제개수 변경>
	for(let i = 0; i < thisAnswer.length; i++){ //0~문제개수
		if(thisAnswer[i].value == page.value){ //현재 답안란과 페이지가 같은 경우
			let remainQuizCnt = document.querySelector('#remainQuizCnt'); //남은 문제개수
			let quizCnt = document.querySelector('#quizCnt'); //전체 문제개수
			if(clicked == 1){
				selectedContent.forEach(function(select,item){
					if(item == (clicked - 1)){ //현재 선택한 보기인 경우
						if(e.target.style.background == 'white'){ //현재 보기가 아직 선택되지 경우
							//하나라도 색상이 되어 있는 경우
							if(one[i].style.background == 'aqua' || two[i].style.background == 'aqua' || three[i].style.background == 'aqua' || four[i].style.background == 'aqua' || five[i].style.background == 'aqua'){								
								remainQuizCnt.innerText = remainQuizCnt.innerText; //남은 문제개수 유지
								submitAnswer[i].value = clicked;
							}
							else{ //모두 색상이 되어 있지 않은 경우
								remainQuizCnt.innerText = remainQuizCnt.innerText - 1; //남은 문제개수 감소
								submitAnswer[i].value = clicked;
							}
							e.target.style.background = 'aqua'; //보기 색상 넣기
							one[i].style.background = 'aqua'; //답안 색상 넣기
							two[i].style.background = 'white';
							three[i].style.background = 'white';
							four[i].style.background = 'white';
							five[i].style.background = 'white';
						}
						else if(e.target.style.background == 'aqua'){ //현재 보기가 이미 선택된 경우
							e.target.style.background = 'white'; //보기 색상 빼기
							one[i].style.background = 'white'; //답안 색상 빼기
							submitAnswer[i].value = 0;
							//모두 선택되지 않은 경우
							if(one[i].style.background == 'white' && two[i].style.background == 'white' && three[i].style.background == 'white' && four[i].style.background == 'white' && five[i].style.background == 'white'){								
								if(remainQuizCnt.innerText >= quizCnt){ //남은 문제가 문제개수보다 많은 경우							
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText); //남은 문제개수 유지
								}
								else{ //남은 문제가 문제개수보다 적은 경우
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText) + Number(1); //남은 문제개수 증가
								}
							}
						}
					}
					else { //나머지 보기인 경우
						select.style.background = 'white'; //나머지 보기 색상 초기화
					}
				})
			}
			else if(clicked == 2){
				selectedContent.forEach(function(select,item){
					if(item == (clicked - 1)){ //현재 선택한 보기인 경우
						if(e.target.style.background == 'white'){ //현재 보기가 아직 선택되지 경우
							//하나라도 색상이 되어 있는 경우
							if(one[i].style.background == 'aqua' || two[i].style.background == 'aqua' || three[i].style.background == 'aqua' || four[i].style.background == 'aqua' || five[i].style.background == 'aqua'){								
								remainQuizCnt.innerText = remainQuizCnt.innerText; //남은 문제개수 유지
								submitAnswer[i].value = clicked;
							}
							else{ //모두 색상이 되어 있지 않은 경우
								remainQuizCnt.innerText = remainQuizCnt.innerText - 1; //남은 문제개수 감소
								submitAnswer[i].value = clicked;
							}
							e.target.style.background = 'aqua'; //보기 색상 넣기
							one[i].style.background = 'white'; //답안 색상 넣기
							two[i].style.background = 'aqua';
							three[i].style.background = 'white';
							four[i].style.background = 'white';
							five[i].style.background = 'white';
						}
						else if(e.target.style.background == 'aqua'){ //현재 보기가 이미 선택된 경우
							e.target.style.background = 'white'; //보기 색상 빼기
							two[i].style.background = 'white'; //답안 색상 빼기
							submitAnswer[i].value = 0;
							//모두 선택되지 않은 경우
							if(one[i].style.background == 'white' && two[i].style.background == 'white' && three[i].style.background == 'white' && four[i].style.background == 'white' && five[i].style.background == 'white'){								
								if(remainQuizCnt.innerText >= quizCnt){ //남은 문제가 문제개수보다 많은 경우									
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText); //남은 문제개수 유지
								}
								else{ //남은 문제가 문제개수보다 적은 경우
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText) + Number(1); //남은 문제개수 증가
								}
							}
						}
					}
					else { //나머지 보기인 경우
						select.style.background = 'white'; //나머지 보기 색상 초기화
					}
				})
			}
			else if(clicked == 3){
				selectedContent.forEach(function(select,item){
					if(item == (clicked - 1)){ //현재 선택한 보기인 경우
						if(e.target.style.background == 'white'){ //현재 보기가 아직 선택되지 경우
							//하나라도 색상이 되어 있는 경우
							if(one[i].style.background == 'aqua' || two[i].style.background == 'aqua' || three[i].style.background == 'aqua' || four[i].style.background == 'aqua' || five[i].style.background == 'aqua'){								
								remainQuizCnt.innerText = remainQuizCnt.innerText; //남은 문제개수 유지
								submitAnswer[i].value = clicked;
							}
							else{ //모두 색상이 되어 있지 않은 경우
								remainQuizCnt.innerText = remainQuizCnt.innerText - 1; //남은 문제개수 감소
								submitAnswer[i].value = clicked;
							}
							e.target.style.background = 'aqua'; //보기 색상 넣기
							one[i].style.background = 'white'; //답안 색상 넣기
							two[i].style.background = 'white';
							three[i].style.background = 'aqua';
							four[i].style.background = 'white';
							five[i].style.background = 'white';
						}
						else if(e.target.style.background == 'aqua'){ //현재 보기가 이미 선택된 경우
							e.target.style.background = 'white'; //보기 색상 빼기
							three[i].style.background = 'white'; //답안 색상 빼기
							submitAnswer[i].value = 0;
							//모두 선택되지 않은 경우
							if(one[i].style.background == 'white' && two[i].style.background == 'white' && three[i].style.background == 'white' && four[i].style.background == 'white' && five[i].style.background == 'white'){								
								if(remainQuizCnt.innerText >= quizCnt){	//남은 문제가 문제개수보다 많은 경우							
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText); //남은 문제개수 유지
								}
								else{ //남은 문제가 문제개수보다 적은 경우
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText) + Number(1); //남은 문제개수 증가
								}
							}
						}
					}
					else { //나머지 보기인 경우
						select.style.background = 'white'; //나머지 보기 색상 초기화
					}
				})
			}
			else if(clicked == 4){
				selectedContent.forEach(function(select,item){
					if(item == (clicked - 1)){ //현재 선택한 보기인 경우
						if(e.target.style.background == 'white'){ //현재 보기가 아직 선택되지 경우
							//하나라도 색상이 되어 있는 경우
							if(one[i].style.background == 'aqua' || two[i].style.background == 'aqua' || three[i].style.background == 'aqua' || four[i].style.background == 'aqua' || five[i].style.background == 'aqua'){								
								remainQuizCnt.innerText = remainQuizCnt.innerText; //남은 문제개수 유지
								submitAnswer[i].value = clicked;
							}
							else{ //모두 색상이 되어 있지 않은 경우
								remainQuizCnt.innerText = remainQuizCnt.innerText - 1; //남은 문제개수 감소
								submitAnswer[i].value = clicked;
							}
							e.target.style.background = 'aqua'; //보기 색상 넣기
							one[i].style.background = 'white'; //답안 색상 넣기
							two[i].style.background = 'white';
							three[i].style.background = 'white';
							four[i].style.background = 'aqua';
							five[i].style.background = 'white';
						}
						else if(e.target.style.background == 'aqua'){ //현재 보기가 이미 선택된 경우
							e.target.style.background = 'white'; //보기 색상 빼기
							four[i].style.background = 'white'; //답안 색상 빼기
							submitAnswer[i].value = 0;
							//모두 선택되지 않은 경우
							if(one[i].style.background == 'white' && two[i].style.background == 'white' && three[i].style.background == 'white' && four[i].style.background == 'white' && five[i].style.background == 'white'){								
								if(remainQuizCnt.innerText >= quizCnt){	//남은 문제가 문제개수보다 많은 경우								
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText); //남은 문제개수 유지
								}
								else{ //남은 문제가 문제개수보다 적은 경우
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText) + Number(1); //남은 문제개수 증가
								}
							}
						}
					}
					else { //나머지 보기인 경우
						select.style.background = 'white'; //나머지 보기 색상 초기화
					}
				})
			}
			else if(clicked == 5){
				selectedContent.forEach(function(select,item){
					if(item == (clicked - 1)){ //현재 선택한 보기인 경우
						if(e.target.style.background == 'white'){ //현재 보기가 아직 선택되지 경우
							//하나라도 색상이 되어 있는 경우
							if(one[i].style.background == 'aqua' || two[i].style.background == 'aqua' || three[i].style.background == 'aqua' || four[i].style.background == 'aqua' || five[i].style.background == 'aqua'){								
								remainQuizCnt.innerText = remainQuizCnt.innerText; //남은 문제개수 유지
								submitAnswer[i].value = clicked;
							}
							else{ //모두 색상이 되어 있지 않은 경우
								remainQuizCnt.innerText = remainQuizCnt.innerText - 1; //남은 문제개수 감소
								submitAnswer[i].value = clicked;
							}
							e.target.style.background = 'aqua'; //보기 색상 넣기
							one[i].style.background = 'white'; //답안 색상 넣기
							two[i].style.background = 'white';
							three[i].style.background = 'white';
							four[i].style.background = 'white';
							five[i].style.background = 'aqua';
						}
						else if(e.target.style.background == 'aqua'){ //현재 보기가 이미 선택된 경우
							e.target.style.background = 'white'; //보기 색상 빼기
							five[i].style.background = 'white'; //답안 색상 빼기
							submitAnswer[i].value = 0;
							//모두 선택되지 않은 경우
							if(one[i].style.background == 'white' && two[i].style.background == 'white' && three[i].style.background == 'white' && four[i].style.background == 'white' && five[i].style.background == 'white'){								
								if(remainQuizCnt.innerText >= quizCnt){  //남은 문제가 문제개수보다 많은 경우							
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText); //남은 문제개수 유지
								}
								else{ //남은 문제가 문제개수보다 적은 경우
									remainQuizCnt.innerText = Number(remainQuizCnt.innerText) + Number(1); //남은 문제개수 증가
								}
							}
						}
					}
					else { //나머지 보기인 경우
						select.style.background = 'white'; //나머지 보기 색상 초기화
					}
				})
			}
		}
	}
});
//<<문제갱신 관련>>
let prevBtn = document.querySelector('#prevQuiz');
let nextBtn = document.querySelector('#nextQuiz');
let pageVal = document.querySelector('#page');
let selectedQuiz = document.querySelectorAll('.selectedQuiz');
let page = 1;
$('#nextQuiz, #prevQuiz, .selectedQuiz').on('click', function(e){ //이번버튼, 다음버튼 동시 클릭 이벤트 정의
	e.preventDefault();
	if(this.id == 'prevQuiz' && pageVal.value > 1){ //현재 클릭된 요소가 이전버튼이면서 페이지 번호가 1초과인 경우
		page = Number(pageVal.value) - Number(1); //페이지 번호 1 감소
		pageVal.value = page;
	}
	else if(this.id == 'nextQuiz' && pageVal.value < 20){ //현재 클릭된 요소가 다음버튼이면서 페이지 번호가 20미만인 경우
		page = Number(pageVal.value) + Number(1); //페이지 번호 1 증가
		pageVal.value = page;
	}
	else if(this.classList.contains('selectedQuiz')){ //현재 클릭된 요소가 특정 답안 번호인 경우
		page = this.childNodes[3].value; //클릭된 답안 번호
		pageVal.value = page;
	}
	//<ajax 데이터 관련>
	let testIdVal = document.querySelector('#testId'); //시험 번호
	let testId = testIdVal.value;
	let subjectIdVal = document.querySelector('#subjectId'); //과목 번호
	let subjectId = subjectIdVal.value;
	let quizCntVal = document.querySelector('#quizCnt');
	let quizCnt = quizCntVal.value;
	let randQuizIdVal = document.querySelectorAll('.randQuizId'); //랜덤문제 번호
	const randQuizId = new Array(quizCnt);
	for(let i = 0; i < randQuizIdVal.length; i++){
		randQuizId[i] = randQuizIdVal[i].value;
	}
	let randRnVal = document.querySelectorAll('.randRn'); //랜덤문제 일련번호
	const randRn = new Array(quizCnt); 
	for(let i = 0; i < randRnVal.length; i++){
		randRn[i] = randRnVal[i].value;
	}
	//<html 제어 관련>
	let quiz = document.querySelector('#quiz'); //문제가 나타나는 요소
	let start = document.querySelector('#start'); //화면 시작 요소
	let div = document.createElement('div'); //div1 태그 생성 >> 카드형식 문제 공강
	div.setAttribute('id', 'quiz');
	div.setAttribute('class', 'card-style col-lg-10');
	div.setAttribute('style', 'width: 800px');
	let h1 = document.createElement('h1'); //h1태그 생성 >> 문제내용
	h1.innerText = null;
	let p = document.createElement('p'); //p태그 생성 >> 문제배점
	p.innerText = null;
	let br1 = document.createElement('br');
	let br2 = document.createElement('br');
	//<문제갱신 ajax>
	$.ajax({
		url: 'testStart',
		method: 'get',
		data: {
			page: page,
			testId: testId,
			subjectId: subjectId,
			quizCnt: quizCnt,
			randQuizId: randQuizId,
			randRn: randRn
		},
		dataType: 'json',
		traditional: true,
		success: function(data){
			h1.innerText = page + '. ' + data.quizContent; //문제내용
			p.innerText = '(' + data.quizScore + '점)'; //문제배점
			div.append(h1);
			div.append(p);
			div.append(br1);
			div.append(br2);
			
			let span1 = document.createElement('span'); //첫번째 보기
			let div1 = document.createElement('div'); //첫번째 보기 감싸기
			span1.classList.add('selectedContent');
			span1.classList.add('tstart_6');
			span1.setAttribute('style', 'background: white');
			span1.innerText = 1 + '. ' + data.one;
			div1.append(span1);
			div.append(div1);
			
			let span2 = document.createElement('span'); //두번째 보기
			let div2 = document.createElement('div'); //두번째 보기 감싸기
			span2.classList.add('selectedContent');
			span2.classList.add('tstart_6');
			span2.setAttribute('style', 'background: white');
			span2.innerText = 2 + '. ' + data.two;
			div2.append(span2);
			div.append(div2);
			
			let span3 = document.createElement('span'); //세번째 보기
			let div3 = document.createElement('div'); //세번째 보기 감싸기
			span3.classList.add('selectedContent');
			span3.classList.add('tstart_6');
			span3.setAttribute('style', 'background: white');
			span3.innerText = 3 + '. ' + data.three;
			div3.append(span3);
			div.append(div3);
			
			let span4 = document.createElement('span'); //네번째 보기
			let div4 = document.createElement('div'); //네번째 보기 감싸기
			span4.classList.add('selectedContent');
			span4.classList.add('tstart_6');
			span4.setAttribute('style', 'background: white');
			span4.innerText = 4 + '. ' + data.four;
			div4.append(span4);
			div.append(div4);
			
			let span5 = document.createElement('span'); //다섯번째 보기
			let div5 = document.createElement('div'); //다섯번째 보기 감싸기
			span5.classList.add('selectedContent');
			span5.classList.add('tstart_6');
			span5.setAttribute('style', 'background: white');
			span5.innerText = 5 + '. ' + data.five;
			div5.append(span5);
			div.append(div5);
				
			quiz.remove(); //현재 문제 지우기
			start.append(div); //새로운 문제 붙이기
			//<문제 재생성시 답안 색상에 따른 보기 색상 유지>
			let thisAnswer = document.querySelectorAll('.thisAnswer'); //1~총문제개수 답안
			let selectedContent = document.querySelectorAll('.selectedContent'); //선택된 보기
			let one = document.querySelectorAll('.one'); //전체 1번 보기
			let two = document.querySelectorAll('.two'); //전체 2번 보기
			let three = document.querySelectorAll('.three'); //전체 3번 보기
			let four = document.querySelectorAll('.four'); //전체 4번 보기
			let five = document.querySelectorAll('.five'); //전체 5번 보기
			let pageVal = document.querySelector('#page'); //페이지 번호
			for(let i = 0; i < thisAnswer.length; i++){
				if(thisAnswer[i].value == pageVal.value){
					if(one[i].style.background == 'aqua'){ //이미 선택된 보기 가져오기
						selectedContent[0].style.background = 'aqua';
					}
					else if(two[i].style.background == 'aqua'){
						selectedContent[1].style.background = 'aqua';
					}
					else if(three[i].style.background == 'aqua'){
						selectedContent[2].style.background = 'aqua';
					}
					else if(four[i].style.background == 'aqua'){
						selectedContent[3].style.background = 'aqua';
					}
					else if(five[i].style.background == 'aqua'){
						selectedContent[4].style.background = 'aqua';
					}
				}
			}
		},
		error: function(){
			console.log('error');
		}
	});
});
//<<시험제출 관련>>
submitTest();
function submitTest(){
	let remainQuizCnt = document.querySelector('#remainQuizCnt'); //남은 문제개수
	let remainQuizSubmit = document.querySelector('#remainQuizSubmit'); //남은 문제개수 출력부분
	let modal = document.querySelector('.modal'); //모달창
	let h3 = document.createElement('h3'); //텍스트 태그 생성
	//<시험제출 버튼>
	$('#submitBtn').on('click',function(){ //제출버튼을 클릭하면
		modal.classList.add('on'); //모달창 열기
		if(remainQuizCnt.innerText > 0){ //남은 문제개수가 있으면
			h3.innerText = remainQuizCnt.innerText + '개 문제가 남았습니다.';
			remainQuizSubmit.append(h3) //생성한 텍스트 남은 문제 출력부분에 붙이기
		}
		else{
			h3.innerText = '문제를 모두 풀었습니다.';
			remainQuizSubmit.append(h3) //생성한 텍스트 남은 문제 출력부분에 붙이기
		}
	});
	//<모달창 닫기 버튼>
	$('#closeBtn').on('click',function(){ //닫기버튼을 클릭하면
		modal.classList.remove('on'); //모달창 닫기
	});
	//<모달창 확인 버튼>
	$(document).on('click','#confirmBtn',function(e){ //확인버튼을 클릭하면
		e.preventDefault(); //폼 전송 막기
		modal.classList.remove('on'); //모달창 닫기
		testResult(); //시험제출 함수 호출, ajax 실행
	});
}
//<<시험제출 ajax>>
function testResult(){
	let testIdVal = document.querySelector('#testId'); //시험 번호
	let testId = testIdVal.value;
	let quizCntVal = document.querySelector('#quizCnt'); //전체 문제개수
	let quizCnt = quizCntVal.value;
	let randQuizIdVal = document.querySelectorAll('.randQuizId'); //랜덤 문제번호
	let randQuizId = new Array(quizCnt);
	for(let i = 0; i < randQuizIdVal.length; i++){
		randQuizId[i] = randQuizIdVal[i].value;
	}
	let randRnVal = document.querySelectorAll('.randRn'); //랜덤 일련번호
	let randRn = new Array(quizCnt); 
	for(let i = 0; i < randRnVal.length; i++){
		randRn[i] = randRnVal[i].value;
	}
	let randQuizScoreVal = document.querySelectorAll('.randQuizScore'); //문제 배점
	let randQuizScore = new Array(quizCnt);
	for(let i = 0; i < randQuizScoreVal.length; i++){
		randQuizScore[i] = randQuizScoreVal[i].value;
	}
	let submitAnswerVal = document.querySelectorAll('.submitAnswer'); //제출 답안
	let submitAnswer = [];
	for(let i = 0; i < submitAnswerVal.length; i++){
		submitAnswer[i] = submitAnswerVal[i].value
	}
	let testTimeMin = document.querySelector('#testTimeMin'); //현재 분
	let testTimeSec = document.querySelector('#testTimeSec'); //현재 초
	let testTimeVal = document.querySelector('#testTime'); //시험시간
	let testTime = testTimeVal.value;
	let minVal = document.querySelector('#min'); //폼 전송시 보낼 분
	let secVal = document.querySelector('#sec'); //폼 전송시 보낼 초
	let min = 0; //변수 초기화
	let sec = 0;
	//응시 시간 계산
	if(Number(testTimeSec.innerText) > 0){ //초가 0보다 큰 경우
		minVal.value = testTime - Number(testTimeMin.innerText) - 1;
		secVal.value = 60 - Number(testTimeSec.innerText);
	}
	else{ //초가 0인 경우
		minVal.value = testTime - Number(testTimeMin.innerText);
		secVal.value = 0;
	}
	//답안 및 시험결과 저장 ajax
	$.ajax({ 
		url: 'testStart1',
		method: 'post',
		data: {
			submitAnswer: submitAnswer,
			randQuizId: randQuizId,
			randRn: randRn,
			randQuizScore: randQuizScore,
			testId: testId
		},
		dataType: 'json',
		traditional: true,
		success: function(data){
			$('#resultForm').submit(); //폼 강제 실행
		},
		error: function(){
			console.log('error');
		}
	})
}
</script>
</html>