<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.tresult_1 {
	display: inline-block;
}
.tresult_2 {
	text-align: center;
}
.tresult_3 {
	width: 150px;
}
.tresult_4 {
	display: block;
}
.true {
	color: blue;
}
.false {
	color: red;
}

#topBtn {
	display:none;
	position:fixed;
	bottom:30px;
	right:30px;
	z-index:999;
	border:1px solid #ccc;
	outline:none;
	background-color:white;
	color:#333;
	cursor:pointer;
	padding:15px 20px;
	border-radius:100%;
}
</style>
<div class="row">
	<!-- 시험결과 정보 -->
	<div class="card-style col-lg-12"
		style="border: 1px solid gray; border-radius: 20px; margin: 0 auto; margin-top: 10px;">
		<br> <br>
		<h1 class="tresult_2">시험결과</h1>
		<br> <br>
		<div class="tresult_2">
			<h3 class="tresult_1 tresult_2">응시자:</h3>
			<h3 class="tresult_1 tresult_2">[[${testResult.name}]]</h3>
		</div>
		<br> <br>
		<table class="table">
			<tr>
				<th class="tresult_2"><h1>과목</h1></th>
				<th class="tresult_2"><h1>응시시간</h1></th>
				<th class="tresult_2"><h1>점수</h1></th>
				<th class="tresult_2"><h1>재시험여부</h1></th>
			</tr>
			<tr>			
				<td class="tresult_2"><h1>[[${testResult.subjectName}]]</h1></td>
				<!-- 응시시간에 따른 구분 -->
				<td th:if="${testMin == 0 && testSec == 0}" class="tresult_2"><h1>00:00</h1></td>
				<td th:if="${testMin == 0 && testSec < 10 && testSec > 0}" class="tresult_2"><h1>00:0[[${testSec}]]</h1></td>
				<td th:if="${testMin == 0 && testSec > 9}" class="tresult_2"><h1>00:[[${testSec}]]</h1></td>
				<td th:if="${testMin < 10 && testMin > 0 && testSec == 0}" class="tresult_2"><h1>0[[${testMin}]]:00</h1></td>
				<td th:if="${testMin > 9 && testSec == 0}" class="tresult_2"><h1>[[${testMin}]]:00</h1></td>
				<td th:if="${testMin < 10 && testMin > 0 && testSec < 10 && testSec > 0}" class="tresult_2"><h1>0[[${testMin}]]:0[[${testSec}]]</h1></td>
				<td th:if="${testMin < 10 && testMin > 0 && testSec > 9}" class="tresult_2"><h1>0[[${testMin}]]:[[${testSec}]]</h1></td>
				<td th:if="${testMin > 9 && testSec < 10 && testSec > 0}" class="tresult_2"><h1>[[${testMin}]]:0[[${testSec}]]</h1></td>
				<td th:if="${testMin > 9 && testSec > 9}" class="tresult_2"><h1>[[${testMin}]]:[[${testSec}]]</h1></td>
				<td class="tresult_2"><h1>[[${testResult.resultScore}]]점</h1></td>
				<td th:if="${testResult.isReexam == 1}" class="tresult_2"><h1 style="color: blue;">통과</h1></td>
				<td th:unless="${testResult.isReexam == 1}" class="tresult_2"><h1 style="color: red;">재시험</h1></td>
			</tr>
		</table>
		<br> <br>
		<div style="text-align: center">
			<button class="tresult_1 tresult_3 main-btn dark-btn-outline square-btn btn-hover"
					th:onclick="|location.href='@{/all/testList2(page=1)}'|">목록</button>
			<form class="tresult_1 tresult_3" action="/all/testResult2" method="get">
				<input type="hidden" name="testId" th:value="${testResult.testId}">
				<input type="hidden" name="userId" th:value="${logId}">
				<button type="submit" class="main-btn dark-btn-outline square-btn btn-hover">문제풀이</button>
			</form>
		</div>
		<br> <br>
	</div>
	<!-- 문제 확인 -->
	<input id="size" type="hidden" th:value="${#lists.size(quizList)}">
	<th:block th:each="quiz, idx : ${quizList}">
		<div th:if="${quiz.isCorrect == 0}" class="card-style col-lg-6" style="border: 1px solid gray; border-radius: 20px; margin: 0 auto; margin-top: 10px;">						
			<h1 class="tresult_1">[[${idx.count}]].</h1>
			<!-- 채점 이미지 -->
			<img src="/images/icons/false.png" style="position: absolute; left: -10px; top: -30px; width: 100px; height: 100px;">
			<h1 class="tresult_1">[[${quiz.quizContent}]]</h1>
			<input class="exampleAnswer" type="hidden" th:value="${quiz.exampleAnswer}">
			<input class="testAnswer" type="hidden" th:value="${quiz.testAnswer}">
			<p class="tresult_1">([[${quiz.quizScore}]]점)</p>
			<br> <br>
			<div>
				<!-- 보기번호 정답/오답 표시 -->
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.oneContent) ? 'true' : (quiz.textContent != quiz.oneContent && quiz.answerContent == quiz.oneContent) ? 'false':_}">① [[${quiz.oneContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.twoContent) ? 'true' : (quiz.textContent != quiz.twoContent && quiz.answerContent == quiz.twoContent) ? 'false':_}">② [[${quiz.twoContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.threeContent) ? 'true' : (quiz.textContent != quiz.threeContent && quiz.answerContent == quiz.threeContent) ? 'false':_}">③ [[${quiz.threeContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.fourContent) ? 'true' : (quiz.textContent != quiz.fourContent && quiz.answerContent == quiz.fourContent) ? 'false':_}">④ [[${quiz.fourContent}]]</span>
				<span class="tresult_4" th:classappend="${(quiz.textContent == quiz.fiveContent) ? 'true' : (quiz.textContent != quiz.fiveContent && quiz.answerContent == quiz.fiveContent) ? 'false':_}">⑤ [[${quiz.fiveContent}]]</span>
			</div>
		</div>
		<div th:unless="${quiz.isCorrect == 0}">
			<th:block th:with="answerCnt=${answerCnt + 1}"></th:block>
			<div th:if="${answerCnt == #lists.size(quizList)}">
				<h1 style="text-align: center;">시험을 모두 맞혔습니다!</h1>
			</div>
		</div>
	</th:block>
	<!-- TOP 버튼 -->
	<a href="#" id="topBtn">
  		<span class="glyphicon glyphicon-chevron-up" th:text="TOP"></span>
	</a>	
</div>
<script>                                                                                                                                                                                                                                                                                                                               
//<<탑 스크롤 관련>>
$(window).scroll(function(){
	if ($(this).scrollTop() > 300){
		$('#topBtn').show();
	} else{
		$('#topBtn').hide();
	}
});
$('#topBtn').click(function(){
	$('html, body').animate({scrollTop:0},100);
	return false;
});
</script>
</html>