<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<div class="row">
	<!-- 시험결과 정보 -->
	<div class="card-style col-lg-12"
		style="border: 1px solid gray; border-radius: 20px; margin: 0 auto; margin-top: 10px;">
		<br>
		<h1 class="tresult_2">문제풀이</h1>
		<br>
		<table class="table">
			<tr>
				<th class="tresult_2"><h3>과목</h3></th>
				<th class="tresult_2"><h3>기준점수</h3></th>
				<th class="tresult_2"><h3>응시점수</h3></th>
				<th class="tresult_2"><h3>맞힌개수</h3></th>
				<th class="tresult_2"><h3>틀린개수</h3></th>
				<th class="tresult_2"><h3>재시험여부</h3></th>
			</tr>
			<tr>			
				<td class="tresult_2"><h3>[[${testResult.subjectName}]]</h3></td>
				<td class="tresult_2"><h3>[[${testResult.passScore}]]/100</h3></td>
				<td class="tresult_2"><h3>[[${testResult.resultScore}]]/100</h3></td>
				<td class="tresult_2"><h3>[[${trueCnt}]]/[[${#lists.size(quizList)}]]</h3></td>
				<td class="tresult_2"><h3>[[${falseCnt}]]/[[${#lists.size(quizList)}]]</h3></td>
				<td th:if="${testResult.isReexam == 1}" class="tresult_2"><h3 style="color: blue;">통과</h3></td>
				<td th:unless="${testResult.isReexam == 1}" class="tresult_2"><h3 style="color: red;">재시험</h3></td>
			</tr>
		</table>
		<br>
		<div style="text-align: center">
			<a class="tresult_1 tresult_3 main-btn dark-btn-outline square-btn btn-hover" href="javascript:history.back()">이전</a>
			<button class="tresult_1 tresult_3 main-btn dark-btn-outline square-btn btn-hover"
					th:onclick="|location.href='@{/testList2(page=1)}'|">목록</button>
		</div>
		<br>
	</div>
	<!-- 문제 확인 -->
	<th:block th:each="quiz, idx : ${quizList}">
		<div class="card-style col-lg-6" style="border: 1px solid gray; border-radius: 20px; margin: 0 auto; margin-top: 10px;">						
			<th:block th:if="${quiz.isCorrect == 1}">
				<h1 class="tresult_1">[[${idx.count}]].</h1>
				<!-- 맞힌 채점 이미지 -->
				<img src="images/icons/true.png" style="position: absolute; left: -10px; top: 0px; width: 100px; height: 100px;">
			</th:block>
			<th:block th:unless="${quiz.isCorrect == 1}">
				<h1 class="tresult_1">[[${idx.count}]].</h1>
				<!-- 틀린 채점 이미지 -->
				<img src="images/icons/false.png" style="position: absolute; left: -10px; top: -30px; width: 100px; height: 100px;">
			</th:block>
			<h1 class="tresult_1">[[${quiz.quizContent}]]</h1>
			<p class="tresult_1">([[${quiz.quizScore}]]점)</p>
			<br> <br>
			<div>
				<!-- 보기번호 정답/오답 표시 -->
				<span class="tresult_4" th:classappend="${quiz.exampleNum == 1 ? 'true' : (quiz.exampleNum != 1 && quiz.testAnswer == 1)? 'false':_}">① [[${quiz.one}]]</span>
				<span class="tresult_4" th:classappend="${quiz.exampleNum == 2 ? 'true' : (quiz.exampleNum != 2 && quiz.testAnswer == 2)? 'false':_}">② [[${quiz.two}]]</span>
				<span class="tresult_4" th:classappend="${quiz.exampleNum == 3 ? 'true' : (quiz.exampleNum != 3 && quiz.testAnswer == 3)? 'false':_}">③ [[${quiz.three}]]</span>
				<span class="tresult_4" th:classappend="${quiz.exampleNum == 4 ? 'true' : (quiz.exampleNum != 4 && quiz.testAnswer == 4)? 'false':_}">④ [[${quiz.four}]]</span>
				<span class="tresult_4" th:classappend="${quiz.exampleNum == 5 ? 'true' : (quiz.exampleNum != 5 && quiz.testAnswer == 5)? 'false':_}">⑤ [[${quiz.five}]]</span>
			</div>
			<hr>
			<!-- 문제 해설 -->
			<h3 class="tresult_1">해설</h3>	
			<p class="tresult_1">(정답: [[${quiz.exampleNum}]])</p>
			<br>
			<p>[[${quiz.quizSolution}]]</p>	
		</div>
	</th:block>
	<a href="#" id="topBtn">
  		<span class="glyphicon glyphicon-chevron-up" th:text="TOP"></span>
	</a>		
</div>
<script>
//<<탑 스크롤 관련>>
$(window).scroll(function(){
	if ($(this).scrollTop() > 300){
		$('#topBtn').show();
	} else{
		$('#topBtn').hide();
	}
});
$('#topBtn').click(function(){
	$('html, body').animate({scrollTop:0},100);
	return false;
});
</script>
</html>