<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.tstart1 { /*상단바 레이아웃*/
	justify-content: space-between;
	display: flex;
}

.tstart3 { /*답안표기란 답안정렬*/
	justify-content: space-between;
	display: flex;
}

.tstart2 { /*답안표기란 문제 가로정렬*/
	display: inline-block;
}

#tstart4 { /*답안표기란 스크롤바*/
	overflow: scroll;
	border: 1px solid grey;
}

.tstart5 { /*페이징버튼*/
	display: inline-block;
}
</style>
<div class="row">
	<!-- 상단부분 -->
	<div class="card-style col-lg-12 tstart1">
		<h1>[[${testStart.testName}]]</h1>
		<div>
			<p class="tstart2">제한시간:</p>
			<p class="tstart2">[[${testStart.testTime}]]</p>
		</div>
		<div>
			<p class="tstart2">응시자:</p>
			<p class="tstart2">홍길동</p>
		</div>
	</div>
	<!-- 중간부분 좌측사이드 -->
	<div id="tstart4" class="card-style col-lg-2 tstart2" style="height: 800px">
		<h3 style="text-align: center; background-color: #A6A6A6; color: white">답안표기란</h3>
		<div class="tstart3" th:each="num, idx : ${#numbers.sequence(1,quizCnt)}">
			<h3 class="tstart2" style="background-color: #A6A6A6; color: white; width: 30px; text-align: center">[[${idx.count}]]</h3>
			<div class="tstart2">①</div>
			<div class="tstart2">②</div>
			<div class="tstart2">③</div>
			<div class="tstart2">④</div>
			<div class="tstart2">⑤</div>
		</div>
	</div>
	<!-- 중간부분 우측사이드 -->
	<div class="card-style col-lg-10" style="height: 800px">
		<h1>[[${testQuiz1.quizId}]]. [[${testQuiz1.quizContent}]]</h1>
		<br> <br>
		<ul th:each="list2 : ${testQuiz2}">
			<li>[[${list2.exampleNum}]]. [[${list2.textContent}]]</li>
		</ul>
	</div>
	<!-- 하단부분 -->
	<div class="card-style col-lg-12">
		<div style="text-align: right">
			<div class="tstart5" th:if="${page > 1}">
				<a class="main-btn dark-btn-outline square-btn btn-hover"
					th:href="@{/testStart(testId=${testStart.testId},subjectId=${testQuiz1.subjectId},page=${page-1})}">이전</a>
			</div>
			<div class="tstart5" th:unless="${page > 1}">
				<a class="main-btn dark-btn-outline square-btn btn-hover">이전</a>
			</div>
			<div class="tstart5" th:if="${page < quizCnt}">
				<a class="main-btn dark-btn-outline square-btn btn-hover"
					th:href="@{/testStart(testId=${testStart.testId},subjectId=${testQuiz1.subjectId},page=${page+1})}">다음</a>
			</div>
			<div class="tstart5" th:unless="${page < quizCnt}">
				<a class="main-btn dark-btn-outline square-btn btn-hover">다음</a>
			</div>
			<div class="tstart5">
				<a class="main-btn dark-btn-outline square-btn btn-hover">제출</a>
			</div>
		</div>
	</div>
</div>
</html>