<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
.tlist_1 { /*레이아웃배치*/
	display: inline-block;
}
.tlist_2 { /*중앙정렬*/
	text-align: center;
}
.tlist_3 { /*버튼크기*/
	width: 150px;
}
.tlist_4 {
	font-size: 30px;
	color: black;
	border: 1px solid black;
	width: 50px;
}
.sidebar-nav-wrapper {
	position: fixed;
}
/*모달*/
.modal h1, .closeBtn, .closeBtn2 {
	text-align: center;
}
/*모달 팝업 영역 스타일링*/
.modal, .modal2 {
	display: none; /*평소에 숨김처리*/
	position: fixed; /*모달창 화면전체*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.5);
}
.modal .modal-dialog,
.modal2 .modal-dialog {
	/*팝업*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background: #ffffff;
	border-radius: 10px;
}
.modal .closeBtn,
.modal2 .closeBtn2 {
	display: block;
	padding: 10px 20px;
	background-color: rgb(116, 0, 0);
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	transition: box-shadow 0.2s;
}
.modal.on,
.modal2.on {
	display: block;
}
</style>
<div>
	<h1 style="margin: 50px;">내 시험</h1>
	<div class="card-style" style="width: 1500px;">
		<div>
			<button data-category="all" class="filterBtn tlist_1 status-btn light-btn">전체</button>
			<button data-category="success" class="filterBtn tlist_1 status-btn success-btn">응시완료</button>
			<button data-category="proceed" class="filterBtn tlist_1 status-btn active-btn">응시하기</button>
			<button data-category="re" class="filterBtn tlist_1 status-btn close-btn">재시험</button>
		
			<br> <br>
			<table class="table">
				<thead>
					<tr>
						<th class="tlist_2">No.</th>
						<th class="tlist_2">시험명</th>
						<th class="tlist_2">마감일</th>
						<th class="tlist_2">응시상태</th>
						<th class="tlist_2">피드백</th>
					</tr>
				</thead>
				<tbody id="tbody">
					<th:block th:each="list, stat : ${testList}">
						<tr>
							<td class="tlist_2">[[${list.rn}]]</td>
							<td class="tlist_2">[[${list.testName}]]</td>
							<td class="tlist_2">[[${#dates.format(list.testDate, 'yyyy년 MM월 dd일')}]]</td>
							<td class="tlist_2" th:if="${isResult[stat.index] == 0 && dateComp[stat.index] == 0}">
								<button th:id="${list.testId}" data-category="proceed"
									th:onclick="|location.href='@{/testDetail(testId=${list.testId})}'|"
									class="filterItem tlist_3 main-btn primary-btn square-btn btn-hover">응시하기</button>
							</td>
							<td class="tlist_2" th:if="${isResult[stat.index] == 0 && dateComp[stat.index] == 1}">
								<!-- 피드백내용 모달형식 -->
								<div class="modal2">
									<div class="modal-dialog modal-dialog-centered" style="width: 500px; height: 380px;">
										<h1>피드백</h1>
										<div>
											<button type="button" class="closeBtn2">닫기</button>
										</div>
									</div>
								</div>
								<button data-category="proceed"
									class="noTestBtn filterItem tlist_3 main-btn warning-btn square-btn btn-hover">미응시</button>
							</td>
							<td class="tlist_2" th:if="${isResult[stat.index] == 1}">
								<button th:id="${list.testId}" data-category="success"
									th:onclick="|location.href='@{/testResult2(testId=${list.testId},userId=${logId})}'|"
									class="filterItem tlist_3 main-btn success-btn square-btn btn-hover">응시완료</button>
							</td>
							<td class="tlist_2" th:if="${isResult[stat.index] == 0}">
								<button type="button"
									class="tlist_3 main-btn warning-btn square-btn btn-hover">응시전</button>
							</td>
							<td class="tlist_2" th:if="${isResult[stat.index] == 1 && isFeedback[stat.index].feedback != '0'}">
								<!-- 피드백내용 모달형식 -->
								<div class="modal">
									<div class="modal-dialog modal-dialog-centered" style="width: 500px; height: 380px;">
										<h1>피드백</h1>
										<br>
										<table class="table">
											<tr>
												<th>시험명</th>
												<td>[[${isFeedback[stat.index].testName}]]</td>
											</tr>
											<tr>
												<th>시험점수</th>
												<td>[[${isFeedback[stat.index].resultScore}]]</td>
											</tr>
											<tr>
												<th>통과점수</th>
												<td>[[${isFeedback[stat.index].passScore}]]</td>
											</tr>
											<tr>
												<th>내용</th>
												<td>[[${isFeedback[stat.index].feedback}]]</td>
											</tr>
										</table>
										<br>
										<div>
											<button type="button" class="closeBtn">닫기</button>
										</div>
									</div>
								</div>
								<button type="button"
										class="tlist_3 feedbackOn main-btn success-btn square-btn btn-hover">피드백완료</button>
							</td>
							<td class="tlist_2" th:if="${isResult[stat.index] == 1 && isFeedback[stat.index].feedback == '0'}">
								<button type="button"
									class="tlist_3 main-btn dark-btn square-btn btn-hover">피드백대기</button>
							</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<hr><br><br>
			<!-- 목록 페이징 -->
			<div style="text-align: center;">
				<a class="tlist_4" th:if="${page == 1}" th:text="'<'" href="#"></a>
				<a class="tlist_4" th:unless="${page == 1}" th:text="'<'" th:href="@{/testList2(page=${page-1})}"></a>
				<th:block th:if="${size % 5 == 0}">
					<th:block th:each="num, stat : ${#numbers.sequence(0,(size / 5 - 1))}">
						<a class="tlist_4" th:text="${stat.count}" th:href="@{/testList2(page=${stat.count})}"></a>
					</th:block>
				</th:block>
				<th:block th:unless="${size % 5 == 0}">
					<th:block th:each="num, stat : ${#numbers.sequence(0,(size / 5))}">
						<a class="tlist_4" th:text="${stat.count}" th:href="@{/testList2(page=${stat.count})}"></a>
					</th:block>
				</th:block>
				<th:block th:if="${size % 5 == 0}">
					<a class="tlist_4" th:if="${page == (size / 5)}" th:text="'>'" href="#"></a>
					<a class="tlist_4" th:unless="${page == (size / 5)}" th:text="'>'" th:href="@{/testList2(page=${page+1})}"></a>
				</th:block>
				<th:block th:unless="${size % 5 == 0}">
					<a class="tlist_4" th:if="${page == (size / 5 + 1)}" th:text="'>'" href="#"></a>
					<a class="tlist_4" th:unless="${page == (size / 5 + 1)}" th:text="'>'" th:href="@{/testList2(page=${page+1})}"></a>
				</th:block>
			</div>
			</th:block>
		</div>
	</div>
</div>
<script>
//<<피드백 모달 관련>>
feedbackModal();
function feedbackModal(){
	const modalContent = document.querySelectorAll('.modal');
	const modalOpen = document.querySelectorAll('.feedbackOn');
	const modalClose = document.querySelectorAll('.closeBtn');

	for(let i = 0; i < modalOpen.length; i++){
		modalOpen[i].addEventListener('click', function() { //피드백버튼을 클릭하면
			modalContent[i].classList.add('on'); //모달창 열기
		});
	}
	for(let i = 0; i < modalClose.length; i++){
		modalClose[i].addEventListener('click', function() { //닫기버튼을 클릭하면
			modalContent[i].classList.remove('on'); //모달창 닫기
		});
	}
}
//<<미응시 모달 관련>>
noTestModal();
function noTestModal(){
	let modal = document.querySelectorAll('.modal2');
	let noTestBtn = document.querySelectorAll('.noTestBtn');
	let closeBtn = document.querySelectorAll('.closeBtn2');
	
	for(let i = 0; i < modal.length; i++){
		noTestBtn[i].addEventListener('click', function() { //미응시버튼을 클릭하면
			modal[i].classList.add('on'); //모달창 열기
		});
	}
	for(let i = 0; i < closeBtn.length; i++){
		closeBtn[i].addEventListener('click', function() { //닫기버튼을 클릭하면
			modal[i].classList.remove('on'); //모달창 닫기
		});
	}
}
//<<시험목록 필터링 관련>>
$('.filterItem').show(); //처음에 요소들 나타내기
$('.filterBtn').click(function(){
	let selected = $(this).data('category'); //현재 선택된 카테고리 데이터
	if(selected == 'all'){ //전체선택시
		$('.filterItem').closest('td').closest('tr').show(); //해당 행 출력
	}
	else{
		$('.filterItem').each(function(){
			let item = $(this).data('category'); //현재 선택된 카테고리 데이터
			if(item == selected){
				$(this).closest('td').closest('tr').show(); //해당 행 출력
			}
			else{
				$(this).closest('td').closest('tr').hide(); //나머지 행 숨기기
			}
		});
	}
});
</script>
</html>