<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/admin_layout}"
	layout:fragment="Admin">
<style>
.tdetail_1 {
	display: inline-block;
	width: 150px;
}
</style>
<div>
	<div class="card-style"
		style="border: 1px solid gray; border-radius: 20px; width: 900px; margin: 0 auto; margin-top: 100px; margin-bottom: 100px;">
		<br> <br>
		<h1 style="text-align: center;">시험</h1>
		<br> <br>
		<table class="table">
			<tr>
				<th>과정명</th>
				<td>[[${testDetail.curriculumName}]]</td>
			</tr>
			<tr>
				<th>시험명</th>
				<td>[[${testDetail.testName}]]</td>
			</tr>
			<tr>
				<th>응시기간</th>
				<td>[[${#dates.format(testDetail.testDate, 'yyyy년 MM월 dd일')}]]</td>
			</tr>
			<tr>
				<th>제한시간</th>
				<td>[[${testDetail.testTime}]]분</td>
			</tr>
			<tr>
				<th>총점</th>
				<td>[[${testDetail.quizScore}]]점</td>
			</tr>
			<tr>
				<th>문제수</th>
				<td>[[${testDetail.quizIdCnt}]]개</td>
			</tr>
			<tr>
				<th>유의사항</th>
				<td>[[${testDetail.testContent}]]</td>
			</tr>
		</table>
		<br> <br>
		<div style="text-align: center">
			<button class="tdetail_1 main-btn dark-btn-outline square-btn btn-hover"
				th:onclick="|location.href='@{/testList2(page=1)}'|">목록</button>
			<th:block th:if="${isResult == 0 && dateComp == 0}">
				<form class="tdetail_1" action="testStart" method="post">
					<input type="hidden" name="page" th:value="1">
					<input type="hidden" name="testId" th:value="${testDetail.testId}">
					<input type="hidden" name="subjectId" th:value="${testDetail.subjectId}">
	 				<div th:each="quiz : ${randQuizId}">				
						<input type="hidden" name="randQuizId" th:value="${quiz}">
					</div>
					<div th:each="rn : ${randRn}">				
						<input type="hidden" name="randRn" th:value="${rn}">
					</div>
					<div th:each="score : ${randQuizScore}">				
						<input type="hidden" name="randQuizScore" th:value="${score}">
					</div>
					<button type="submit" class="tdetail_1 main-btn dark-btn-outline square-btn btn-hover">시작</button>
				</form>
			</th:block>
			<th:block th:if="${(isResult == 1) || (isResult == 0 && dateComp == 1)}">
				<form class="tdetail_1" action="testResult2" method="get">
					<input type="hidden" name="testId" th:value="${testDetail.testId}">
					<input type="hidden" name="userId" th:value="${logId}">
					<button type="submit" class="tdetail_1 main-btn dark-btn-outline square-btn btn-hover">문제풀이</button>
				</form>
			</th:block>
		</div>
		<br> <br>
	</div>
</div>
</html>